<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="main-menu" th:fragment="leftmenuFragment">
	<header class="header">
		<a href="/" class="logo"><i class="ico glyphicon glyphicon-grain"></i>EasyFarm</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
		<div class="user" th:if="${session.SID != null}">
			<a href="" class="avatar"><img th:src="@{/assets/images/avatar-sm-5.jpg}" alt=""><span class="status online"></span></a>
			<h5 class="name"><a th:text="${session.SID}"></a></h5> 		<!-- <a>테그안쪽에 th:text="${세션이름}" 넣으면됨 -->
			<h5 class="position" th:text="${session.SNAME}"></h5>		<!-- <h5>테그안쪽에 th:text="${세션권한}" 넣으면됨 -->
			<h5 class="position" th:text="${session.SLEVEL}"></h5>		<!-- <h5>테그안쪽에 th:text="${세션권한}" 넣으면됨 -->
			<!-- /.name -->
			<div class="control-wrap js__drop_down">
				<i class="fa fa-caret-down js__drop_down_button"></i>
				<div class="control-list">
					<div class="control-item"><a th:href="@{/member/detailMember}"><i class="fa fa-user"></i> 내 정보</a></div>
					<div class="control-item"><a th:href="@{/member/modifyMember}"><i class="fa fa-gear"></i> 내정보 수정</a></div>
					<div class="control-item"><a th:href="@{/member/logout}"><i class="fa fa-sign-out"></i> Log out</a></div>
				</div>
				<!-- /.control-list -->
			</div>
			<!-- /.control-wrap -->
		</div>
		<div class="user" th:unless="${session.SID != null}">
			<a href="" class="avatar"><img th:src="@{/assets/images/none-profile.jpg}" alt=""><span class="status logout"></span></a>
			<h2 class="name" style = "text-align: center; margin-top: 10px; font-size: 19px"><a th:href="@{/member/login}" >로그인</a></h2>
			<!-- /.control-wrap -->
		</div>
		
		<!-- /.user -->
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">관리자 메뉴</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon glyphicon glyphicon-user"></i><span>회원관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/member/getMember}">!회원 조회(한강희)</a></li>
						<li><a th:href="@{#}">#회원 권한 설정(한강희)</a></li>
						<li><a th:href="@{#}">#회원 신고목록(한강희)</a></li>
						<li><a th:href="@{#}">#회원 로그인 기록조회(한강희)</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon glyphicon glyphicon-grain"></i><span>농가관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#농가 검색 조회(송영석)</a></li>
						<li><a th:href="@{#}">#농가 회원 권한 설정(송영석)</a></li>
						<li><a th:href="@{#}">#농가별 회원관리(송영석)</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon  mdi mdi-pencil-box"></i><span>코드관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#작목코드관리(유승범)</a></li>
						<li><a th:href="@{#}">#작목별 작업단계 설정(유승범)</a></li>
						<li><a th:href="@{#}">#공통 작업단계 세부항목 관리(유승범)</a></li>
						<li><a th:href="@{#}">#농기계 코드관리(유승범)</a></li>
						<li><a th:href="@{#}">#휴면/탈퇴 기준 설정(한강희)	</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				
			</ul>
			<!-- /.menu js__accordion -->
			<h5 class="title">회원 메뉴</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li th:if="${session.SID == null}">
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon mdi mdi-pencil-box"></i><span>회원가입</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/member/login}">로그인</a></li>
						<li><a th:href="@{/member/addMember}">회원가입</a></li>
						<li><a th:href="@{#}">아이디찾기</a></li>
						<li><a th:href="@{#}">비밀번호찾기</a></li>
					
						
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon mdi mdi-pencil-box"></i><span>코드관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#작목코드관리(유승범)</a></li>
						<li><a th:href="@{#}">#작목별 작업단계 설정(유승범)</a></li>
						<li><a th:href="@{#}">#공통 작업단계 세부항목 관리(유승범)</a></li>
						<li><a th:href="@{#}">#농기계 코드관리(유승범)</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon mdi mdi-pencil-box"></i><span>농가관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#내 농가(송영석)</a></li>
						<li><a th:href="@{#}">#소속 농가(송영석)</a></li>
						<li><a th:href="@{#}">#농가별 회원(송영석)</a></li> 
						<li><a th:href="@{#}">#농가 검색 & 가입신청(송영석)</a></li>
						<li><a th:href="@{#}">#농가 가입신청 목록(송영석)</a></li>
						<li><a th:href="@{#}">#농가 재고관리(박영환)</a></li>				
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon mdi mdi-arrange-bring-forward"></i><span>프로젝트 관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#프로젝트 보기(박영환)</a></li>
						<li><a th:href="@{#}">#프로젝트 등록(박영환)</a></li> 
						<li><a th:href="@{#}">#Calendar 계획(박금성)</a></li> 
						<li><a th:href="@{#}">#Calendar 실행(서동훈)</a></li> 
						<li><a th:href="@{#}">#프로젝트별 계획 수입/지출(박금성)</a></li> 
						<li><a th:href="@{#}">#프로젝트별 실행 수입/지출(서동훈)</a></li> 
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item" th:href="@{#}"><i class="menu-icon mdi mdi-folder-multiple"></i><span>경영관리</span></a>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon mdi mdi-folder-multiple"></i><span>거래처관리</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#농가별 거래처 등록(송영석)</a></li>
						<li><a th:href="@{#}">#농가별 거래처 조회(송영석)</a></li>
						<li><a th:href="@{#}">#농가별 거래처 수정(송영석)</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
					<li>
					<a class="waves-effect parent-item js__control" th:href="@{#}"><i class="menu-icon mdi mdi-table"></i><span>고객센터</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{#}">#1:1 문의하기</a></li>
						<!--   카테고리
								큰분류 - 신고, 버그관련, 신청관련(작목신청)
								중분류 - 신고일때 욕설 등등의 카테고리 이런식?
								제목 , 내용 , 첨부파일    -->
						<li><a th:href="@{#}">#문의 내역보기</a></li>
					
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->
</html>