<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	
	<div th:fragment="planModalsFragment">
		
		<!-- 기타비용등록 모달 시작-->
		<div class="modal fade" id="planAddEtcPay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel-1">기타비용 지출계획</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
							<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
							<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
							<div class="form-group">
								<label for="etcPayClientCode" class="col-sm-3 control-label"><strong>거래처</strong></label>
							    <div class="col-sm-6">
									<select class="form-control" name="etcPayClientCode" id="etcPayClientCode">
										<option value=""> :: 거래처선택 :: </option>
										<th:block th:if="${#lists.size(clientNameList) > 0}" th:each="c : ${clientNameList}">
											<option th:value="${c.clientCode}" th:text="${c.clientName}"></option>
										</th:block>
									</select>
							    </div>
							</div>
							<div class="form-group">
								<label for="etcPay" class="col-sm-3 control-label"><strong>지출금액</strong></label>
							    <div class="col-sm-6">
							      <input id="etcPay" type="text" value="" name="etcPay" class="form-control" placeholder="100">
							    </div>
							</div>
							<div class="form-group">
								<label for="etcPayDetail" class="col-sm-3 control-label"><strong>추가메모</strong></label>
								<div class="col-sm-6">
									<textarea class="form-control" id="etcPayDetail" rows="3" name="etcPayDetail" placeholder="메모를 작성해주세요" style="resize: none;"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary btn-sm waves-effect waves-light">기타비용 지출계획등록</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 기타비용등록 모달 끝-->
		
		<!-- 생산물등록 모달 시작-->
		<div class="modal fade" id="planAddProductGain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel-1">생산물 수확계획</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
							<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
							<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
							<div class="form-group">
								<label for="productGainStockItemCode" class="col-sm-3 control-label"><strong>품목</strong></label>
							    <div class="col-sm-6">
									<select class="form-control" name="productGainStockItemCode" id="productGainStockItemCode">
										<option value=""> :: 품목선택 :: </option>
										<th:block th:if="${#lists.size(stockItemList) > 0}" th:each="s : ${stockItemList}">
											<option th:value="${s.resourceUsecapacityCode}" th:text="|${s.stockCateName} : ${s.stockItemName}|"></option>
										</th:block>
									</select>
							    </div>
							</div>
							<div class="form-group">
								<label for="gainQuantity" class="col-sm-3 control-label"><strong>수확수량</strong></label>
							    <div class="col-sm-6">
							      <input id="gainQuantity" type="text" name="gainQuantity" class="form-control">
							    </div>
							</div>
							<div class="form-group">
								<label for="gainQuantityCapacity" class="col-sm-3 control-label"><strong>총수확량계산</strong></label>
							    <div class="col-sm-6">
							      <input id="gainQuantityCapacity" type="text" name="gainQuantityCapacity" class="form-control" readonly="readonly">
							    </div>
							</div>
							<div class="form-group">
								<label for="productGainDetail" class="col-sm-3 control-label"><strong>추가메모</strong></label>
								<div class="col-sm-6">
									<textarea class="form-control" id="productGainDetail" name="productGainDetail" rows="3" placeholder="메모를 작성해주세요" style="resize: none;"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary btn-sm waves-effect waves-light">생산물 수확계획등록</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 생산물등록 모달 끝-->
		
		<!-- 공과금등록 모달 시작-->
		<div class="modal fade" id="planAddTaxPayPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel-1">공과금 지출계획</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
							<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
							<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
							<div class="form-group">
								<label for="taxPayCateCode" class="col-sm-3 control-label"><strong>공과금종류</strong></label>
							    <div class="col-sm-6">
									<select class="form-control" name="taxPayCateCode" id="taxPayCateCode">
										<option value=""> :: 종류선택 :: </option>
										<th:block th:if="${#lists.size(taxPayCateCodeList) > 0}" th:each="t : ${taxPayCateCodeList}">
											<option th:value="${t.taxPayCateCode}" th:text="${t.taxPayCateName}"></option>
										</th:block>
									</select>
							    </div>
							</div>
							<div class="form-group">
								<label for="taxPayClientCode" class="col-sm-3 control-label"><strong>거래처</strong></label>
							    <div class="col-sm-6">
									<select class="form-control" name="taxPayClientCode" id="taxPayClientCode">
										<option value=""> :: 거래처선택 :: </option>
										<th:block th:if="${#lists.size(clientNameList) > 0}" th:each="c : ${clientNameList}">
											<option th:value="${c.clientCode}" th:text="${c.clientName}"></option>
										</th:block>
									</select>
							    </div>
							</div>
							<div class="form-group">
								<label for="taxPayWhatmonth" class="col-sm-3 control-label"><strong>납부월</strong></label>
							    <div class="col-sm-6">
							      <input id="taxPayWhatmonth" type="text" name="taxPayWhatmonth" class="form-control" placeholder="2021-1">
							    </div>
							</div>
							<div class="form-group">
								<label for="taxPay" class="col-sm-3 control-label"><strong>납부금액</strong></label>
							    <div class="col-sm-6">
							      <input id="taxPay" type="text" name="taxPay" class="form-control" placeholder="100">
							    </div>
							</div>
							<div class="form-group">
								<label for="taxPayDetail" class="col-sm-3 control-label"><strong>추가메모</strong></label>
								<div class="col-sm-6">
									<textarea class="form-control" id="taxPayDetail" name="taxPayDetail" rows="3" placeholder="메모를 작성해주세요" style="resize: none;"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary btn-sm waves-effect waves-light">공과금 지출계획등록</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 공과금등록 모달 끝-->
		
		<!-- 농자재사용등록 모달 시작-->
		<div class="modal fade" id="planAddResourceUsePlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<form name="addResourceUsePlan" action="/plan/addResourceUsePlan" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel-1">농자재사용 지출계획</h4>
						</div>
						<div class="modal-body">
							<div class="form-horizontal">
								<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
								<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
								<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
								<div class="form-group">
									<label class="col-sm-3 control-label"><strong>품목</strong></label>
								    <div class="col-sm-6">
										<select class="form-control" name="resourceUsecapacityCode" id="resourceStockItemCode">
											<option value=""> :: 품목선택 :: </option>
											<th:block th:if="${#lists.size(stockItemList) > 0}" th:each="s : ${stockItemList}">
												<option th:value="${s.resourceUsecapacityCode}" th:text="|${s.stockCateName} : ${s.stockItemName}|"></option>
											</th:block>
										</select>
								    </div>
								</div>
								<div class="form-group">
									<label for="resourceRetainQuantity" class="col-sm-3 control-label"><strong>잔여수량</strong></label>
								    <div class="col-sm-6">
								    	<input id="resourceRetainQuantity" type="text" name="resourceRetainQuantity" class="form-control" readonly="readonly" placeholder="0">
								    </div>
								</div>
								<div class="form-group">
									<label for="resourceRetainQuantityCapacityExtra" class="col-sm-3 control-label"><strong>총잔여용량</strong></label>
								    <div class="col-sm-6">
								    	<input id="resourceRetainQuantityCapacityExtra" type="text" name="resourceRetainQuantityCapacityExtra" class="form-control" readonly="readonly" placeholder="0">
								    </div>
								</div>
								<hr/>
								<div class="form-group">
									<label for="stockItemUseQuantity" class="col-sm-3 control-label"><strong>사용수량</strong></label>
								    <div class="col-sm-6">
									    <input id="stockItemUseQuantity" type="text" name="stockItemUseQuantity" class="form-control" placeholder="0" readonly="readonly">
								    </div>
								</div>
								<div class="form-group">
									<label for="stockItemUseQuantityTotal" class="col-sm-3 control-label"><strong>총 사용용량</strong></label>
								    <div class="col-sm-6">
									    <input id="stockItemUseQuantityTotal" type="text" name="stockItemUseQuantityTotal" class="form-control" placeholder="0" readonly="readonly">
								    </div>
								</div>
								<div class="form-group">
									<label for="stockItemUseQuantityConversionPay" class="col-sm-3 control-label"><strong>총사용량금액환산</strong></label>
								    <div class="col-sm-6">
								    	<input id="stockItemUseQuantityConversionPay" type="text" name="stockItemUseQuantityConversionPay" class="form-control" readonly="readonly" placeholder="0">
								    </div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">농자재사용 지출계획등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 농자재사용등록 모달 끝-->
		
		<!-- 보유농기계등록 모달 시작-->
		<div class="modal fade" id="planAddMachineUse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<form name="addMachineUsePay" action="/plan/addMachineUsePay" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel-1">보유농기계 지출계획</h4>
						</div>
						<div class="modal-body">
							<div class="form-horizontal">
								<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
								<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
								<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
								<div class="form-group">
									<label for="farmRetainMachineCode" class="col-sm-3 control-label"><strong>보유농기계종류</strong></label>
								    <div class="col-sm-6">
										<select class="form-control" name="farmRetainMachineCode" id="farmRetainMachineCode">
											<option value=""> :: 종류선택 :: </option>
											<th:block th:if="${#lists.size(farmRetainMachineList) > 0}" th:each="f : ${farmRetainMachineList}">
												<option th:value="${f.farmRetainMachineCode}" th:text="${f.commonMachineName}"></option>
											</th:block>
										</select>
								    </div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">보유농기계 지출계획등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 보유농기계등록 모달 끝-->
		
		<!-- 대여농기계 계획등록 모달 시작-->
		<div class="modal fade" id="planAddMachineLease" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<form name="addMachineLeasePay" action="/plan/addMachineLeasePay" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel-1">대여 농기계 지출계획</h4>
						</div>
						<div class="modal-body">
							<div class="form-horizontal">
								<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
								<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
								<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
								<div class="form-group">
									<label class="col-sm-3 control-label"><strong>거래처</strong></label>
								    <div class="col-sm-6">
										<select class="form-control" name="clientCode" id="machineClientCode">
											<option value=""> :: 거래처선택 :: </option>
											<th:block th:if="${#lists.size(clientNameList) > 0}" th:each="c : ${clientNameList}">
												<option th:value="${c.clientCode}" th:text="${c.clientName}"></option>
											</th:block>
										</select>
								    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"><strong>대여농기계종류</strong></label>
								    <div class="col-sm-6">
										<select class="form-control" name="farmBookmarkMachineCode" id="commonMachineCode">
											<option value=""> :: 종류선택 :: </option>
											<th:block th:if="${#lists.size(farmBookmarkMachineList) > 0}" th:each="f : ${farmBookmarkMachineList}">
												<option th:value="${f.farmBookmarkMachineCode}" th:text="${f.commonMachineName}"></option>
											</th:block>
										</select>
								    </div>
								</div>
								<div class="form-group">
									<label for="machineLeaseHowlong" class="col-sm-3 control-label"><strong>대여일수</strong></label>
								    <div class="col-sm-6" id="inputFormLeaseHowlong">
									    <input id="machineLeaseHowlong" type="text" name="machineLeaseHowlong" class="form-control" placeholder="0">
								    </div>
								</div>
								<div class="form-group">
									<label for="machineLeasePayDay" class="col-sm-3 control-label"><strong>일일대여료</strong></label>
								    <div class="col-sm-6" id="inputFormLeasePayDay">
								    	<input id="machineLeasePayDay" type="text" name="machineLeasePayDay" class="form-control" placeholder="1000">
								    </div>
								</div>
								<div class="form-group">
									<label for="machineLeasePayTotal" class="col-sm-3 control-label"><strong>총대여료합계</strong></label>
								    <div class="col-sm-6">
								    	<input id="machineLeasePayTotal" type="text" name="machineLeasePayTotal" class="form-control" placeholder="0">
								    </div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">대여농기계 지출계획등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 대여농기계 계획등록 모달 끝-->
		
		<!-- 인건비등록 모달 시작-->
		<div class="modal fade" id="planAddWorkforcePay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
			<div class="modal-dialog modal-lg" role="document">
				<form name="addWorkforcePay" action="/plan/addWorkforcePay" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel-1">인건비 지출계획</h4>
						</div>
						<div class="modal-body">
							<div class="form-horizontal">
								<input class="hidden" th:value="${projectPlanCode}" name="projectPlanCode"/>
								<input class="hidden" th:value="${planWorkphaseCode}" name="planWorkphaseCode"/>
								<input class="hidden" th:value="${planWorkphaseCateCode}" name="planWorkphaseCateCode"/>
								<div class="form-group">
									<label for="workforceCount" class="col-sm-3 control-label"><strong>근무인원</strong></label>
								    <div class="col-md-6">
								      <input id="workforceCount" type="text" name="workforceCount" class="form-control" placeholder="0">
								    </div>
								</div>
								<div class="form-group">
									<label for="workforceHowlong" class="col-sm-3 control-label"><strong>근무일수</strong></label>
								    <div class="col-md-6">
								      <input id="workforceHowlong" type="text" name="workforceHowlong" class="form-control" placeholder="0">
								    </div>
								</div>
								<div class="form-group">
									<label for="workforcePayDay" class="col-sm-3 control-label"><strong>일일인건비</strong></label>
								    <div class="col-md-6">
								      <input id="workforcePayDay" type="text" name="workforcePayDay" class="form-control" placeholder="1000">
								    </div>
								</div>
								<div class="form-group">
									<label for="workforcePayTotal" class="col-sm-3 control-label"><strong>인건비합계</strong></label>
								    <div class="col-md-6">
								      <input id="workforcePayTotal" type="text" name="workforcePayTotal" class="form-control" readonly="readonly">
								    </div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">인건비 지출계획 등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 인건비등록 등록 모달 끝-->
		
	</div>

</html>