<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>작물등록</title>
</th:block>

<th:block layout:fragment="pageTitle">
		작물코드 - 작물등록
	</th:block>

<th:block layout:fragment="customCss">
	<style>
button {
	border: 0;
	border-radius: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-family: 'Noto Sans KR', sans-serif;
}

.lc-round-btn {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 58px;
	font-weight: 700;
	font-size: 20px;
	border-radius: 60px;
	background-color: #3BBD5A;
	color: #fff;
	transition: box-shadow .2s;
	margin-top: 30px;
}

.btn {
	border-radius: 60px;
	background-color: #3BBD5A;
	width: auto;
	color: #fff;
	font-weight: 700;
}

.green-input {
	display: block;
	width: 100%;
	border: 1px solid #ccd1d9;
	height: 50px;
	padding: 0 10px;
	line-height: 46px;
	font-size: 16px;
}

.important-col {
	background-image: url("/assets/images/2222.jpg") !important;
	color: #3bbd5a !important;
}

#wrapper {
	background-image: url("/assets/images/") !important;
	background-size: 100% 100%;
}
</style>
</th:block>
<th:block layout:fragment="customJavaScript">
	<script type="text/javascript">
		//중복검사
		$('#checkBtn').click(function() {
			var workphase = $('#workphase').val();
			var cropcode = $('#cropcode').val();
			if (cropcode != "") {

				$.ajax({
					url : "/ajax/cropWorkphaseCheck",
					method : "POST",
					data : {
						workphase : workphase,
						cropcode : cropcode
					},
					success : function(data) {
						if (data == "사용가능") {
							swal({
								title : "등록가능. "
							});
							$('#checkBtn').attr('value', 'yes');
						} else {
							swal({
								title : "해당작물의 작업단계가 이미 존재합니다."
							});
							//중복된 작물명이면 중복체크가 다시 필요하기 때문에 check의 값을 no로 다시 지정
							$('#checkBtn').attr('value', 'no');
							return;
						}
					},
					error : function(xhr, status, error) {
						console.log('xhr : ' + xhr);
						console.log('status : ' + status);
						console.log('error : ' + error);
					}
				});
			} else {
				swal({
					title : "작물을 선택해주세요."
				});
				$('#cropcode').focus();
				return false;
			}
		});

		$(function() {
			$('#cropname').keyup(function() {
				$('#checkBtn').attr('value', 'no');
			});
		});

		//공백검사
		$(function() {
			$('#addCheck').click(function() {

				if ($('#cropcode').val() == "") {
					swal({
						title : "작물을 선택해주세요."
					});
					$('#cropcode').focus();
					return false;
				}
				if ($('#workphase').val() == "") {
					swal({
						title : "작업단계를 선택해주세요."
					});
					$('#workphase').focus();
					return false;
				}

				if ($('#workphasename').val() == "") {
					swal({
						title : "작업단계명을 입력해주세요."
					});
					$('#workphase').focus();
					return false;
				}
				if ($('#checkBtn').val() == "no") {
					swal({
						title : "중복검사를 해주세요."
					});
					return false;
				}
				/*전단계가 없으면 등록안되게 조건걸기 추가  */
				return true;
			})
		});
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="box-content">
					<h3>
						<strong>작업단계등록</strong>
					</h3>
					<hr>

					<form th:action="@{/code/addCropWorkStage}" method="post">
						<div class="panel-body" style="padding-top: 0">
							<div class="form-horizontal">
								<div class="form-group margin-bottom-20">
									<label for="cropcode" class="col-sm-3 control-label"><strong>작물,
											작업단계</strong></label>
									<div class="col-sm-3">
										<div class="card-content">
											<select class="form-control" name="cropCode"
												th:if="${session.SLEVEL == '관리자'}" id="cropcode">
												<option value="">:::: 작물 선택 ::::</option>
												<th:block th:if="${#lists.size(crop)} > 0"
													th:each="l : ${crop}">
													<option th:if="${l.useStatus == 'O'}"
														th:value="${l.cropCode}">[[${l.cropName}]]</option>
												</th:block>
											</select>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="card-content">
											<select class="form-control"
												th:if="${session.SLEVEL == '관리자'}" name="workphase"
												id="workphase">
												<option value="">:::: 작업단계 선택 ::::</option>
												<option th:value="1단계">1단계</option>
												<option th:value="2단계">2단계</option>
												<option th:value="3단계">3단계</option>
												<option th:value="4단계">4단계</option>
												<option th:value="5단계">5단계</option>
												<option th:value="6단계">6단계</option>
												<option th:value="7단계">7단계</option>
												<option th:value="8단계">8단계</option>
												<option th:value="9단계">9단계</option>
												<option th:value="10단계">10단계</option>
											</select>
										</div>
									</div>
									<div class="col-sm-1">
										<div class="card-content">
											<button id="checkBtn" type="button" class="btn form-control"
												value="no">중복확인</button>
										</div>
									</div>
								</div>

								<div class="form-group margin-bottom-20">
									<label for="workphasename" class="col-sm-3 control-label"><strong>작업단계명</strong></label>
									<div class="col-sm-7">
										<input type="text" size="15" class="green-input"
											name="workphaseName" id="workphasename"
											placeholder="작업단계명 입력">
									</div>

								</div>


								<hr>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<button type="submit" id="addCheck"
											class="btn btn-success btn-rounded waves-effect waves-light form-control"
											style="width: 100%">작업단계 등록</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
					<div th:include="views/code/back :: back"></div>
</th:block>



</html>