<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>작업단계 리스트</title>
	</th:block>
	<th:block layout:fragment="pageTitle">
		작업단계
	</th:block>
	
		<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="box-content" style="margin-top: 20px">
		<div class="pull-left">
			<div style="font-size: 24px;">작업단계 리스트</div>
		</div>
		<div class="pull-right">
			<a th:href="@{/code/addCropWorkStage}"  class="btn btn-primary btn-sm waves-effect waves-light btn-rounded btnSize">
				작업단계 등록
			</a>
		</div>
		<div style="margin-right: 10px" class="pull-right">
			<a  th:href="@{/code}"  class="btn btn-primary btn-sm waves-effect waves-light btn-rounded btnSize">
				돌아가기
			</a>
		</div>
		<div style="margin-top: 6px;">
			<small style="color: red; margin-left: 6px;"></small>
		</div>
		<hr>
			<table id="test" class="table table-striped table-bordered display" style="width:100%">
				<thead>
					<tr>
						<th class="hidden">작업단계코드</th>
						<th class="hidden">작물코드 </th>
						<th>작물명</th>
						<th>작업단계</th>
						<th>작업단계명</th>
						<th>사용유무 </th>
						<th>작성자아이디 </th>
						<th>작성일자</th>
						<th th:if = "${session.SLEVEL == '관리자'}">수정</th>
						<th th:if = "${session.SLEVEL == '관리자'}">삭제</th>
					</tr>			
				</thead>
				<tbody>
					<tr th:if="${#lists.size(cropWorkStage)} > 0" th:each="l:${cropWorkStage}">
						<!-- <td th:text="${l.cropPhaseInfoCode}"></td> -->
						<td th:hidden="${l.cropPhaseInfoCode}"></td>
						<td th:hidden="${l.cropCode}"></td>
						<td th:text="${l.Crop.cropName}"></td>
						<td th:text="${l.workphase}"></td>
						<td th:text="${l.workphaseName}"></td>
						<td th:text="${l.useStatus}"></td>
						<td th:text="${l.regMemberId}"></td>
						<td th:text="${l.regDate}"></td>
						<td th:if = "${session.SLEVEL == '관리자'}">
							<a th:href="@{/code/modifyCropWorkStage(cropPhaseInfoCode=${l.cropPhaseInfoCode})}">수정</a>
						</td>
						<td th:if = "${session.SLEVEL == '관리자'}">
							<a th:href="@{/#(cropPhaseInfoCode=${l.cropPhaseInfoCode})}">삭제</a>		
						</td>
					</tr>
					<tr th:unless="${#lists.size(cropWorkStage)} != 0">
						<td colspan="11" style="text-align: center;">조회된 내용이 없습니다.</td>
				</tbody>
			</table>
		</div>
	</th:block>
<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<!-- <th:block layout:fragment="customScriptLib">
		<script th:src="@{/assets/plugin/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
		<script th:src="@{/assets/scripts/datatables.demo.min.js}"></script>
		<script th:src="@{/assets/scripts/main.min.js}"></script>
	</th:block> -->
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>	
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "내 농가가 없습니다",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 농가 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 농가가 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
		}
		
		$('#test').sysDataTable(lang_kor);
		
		</script>
	</th:block>
</html>