<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>작목코드 리스트</title>
	</th:block>
	<th:block layout:fragment="pageTitle">
		작물 코드
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div th:include="views/code/CropSearch :: searchFragment"></div>
		<div class="box-content" style="margin-top: 20px">
		<h4 class="box-title">작물 리스트</h4>
		<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
		<table id="example" class="table table-striped table-bordered display" style="width:100%">
			<thead>
				<tr>
					<th class="hidden">작물코드 			</th>
					<th>작물카테고리		</th>
					<th>작물명			</th>
					<th>사용유무			</th>
					<th>작성자아이디 		</th>
					<th>작성일자			</th>
					<th>수정자아이디		</th>
					<th>수정일자			</th>
					<th th:if = "${session.SLEVEL == '관리자'}">수정</th>
					<th th:if = "${session.SLEVEL == '관리자'}">삭제</th>
				</tr>			
			</thead>
			<tbody>
				<tr th:if="${#lists.size(cropList)} > 0" th:each="l:${cropList}">
					<td th:hidden="${l.cropCode}"></td>
					<td th:text="${l.cropCate}"></td>
					<td th:text="${l.cropName}"></td>
					<td th:text="${l.useStatus}"></td>
					<td th:text="${l.regMemberId}"></td>
					<td th:text="${l.regDate}"></td>
					<td th:text="${l.modMemberId}"></td>
					<td th:text="${l.modDate}"></td>
					<td th:if = "${session.SLEVEL == '관리자'}">
						<a th:href="@{/code/modifyCrop(cropCode=${l.cropCode})}">수정</a>
					</td>
					<td th:if = "${session.SLEVEL == '관리자'}">
						<a th:href="@{/#(cropCode=${l.cropCode})}">삭제</a>		
					</td>
				</tr>
				<tr th:unless="${#lists.size(cropList)} != 0">
					<td colspan="10" style="text-align: center;">조회된 내용이 없습니다.</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:include="views/code/back :: back"></div>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<script th:src="@{/assets/plugin/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
		<script th:src="@{/assets/scripts/datatables.demo.min.js}"></script>
		<script th:src="@{/assets/scripts/main.min.js}"></script>
		<script th:src="@{/assets/plugin/jquery-ui/jquery-ui.min.js}"></script>
		<script th:src="@{/assets/plugin/jquery-ui/jquery.ui.touch-punch.min.js}"></script>
	</th:block>
	

</html>