<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>작물 수정</title>
</th:block>

<th:block layout:fragment="pageTitle">
		작물코드 - 작물수정
	</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="box-content">
					<h3>
						<strong>상세작업 정보수정</strong>
					</h3>
					<hr>

					<form th:action="@{/code/modifyCropDetailCategory}" method="post">
						<div class="panel-body" style="padding-top: 0">
							<div class="form-horizontal">

								<input name="commonWorkphaseCateCode" type="hidden"
									class="form-control"
									th:value="${cropDetailCategory.commonWorkphaseCateCode}" />
								<!--공백 예외처리 해야함  스크립트쓰기-->
								<div class="form-group margin-bottom-20">
									<label for="commonWorkphaseCateName"
										class="col-sm-3 control-label"><strong>상세작업명</strong></label>
									<div class="col-sm-6">
										<input id="commonWorkphaseCateName"
											name="commonWorkphaseCateName" type="text"
											class="form-control"
											th:value="${cropDetailCategory.commonWorkphaseCateName}" />
									</div>
								</div>
								<hr>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<button type="submit"
											class="btn btn-success btn-rounded waves-effect waves-light"
											style="width: 100%">상세작업명 수정</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>