@charset "UTF-8";

/* 	데이터 테이블 */
div.dataTables_wrapper div.dataTables_filter{
    text-align: right;
}
.dataTable tbody tr:hover{
	background-color: rgba(0,0,0,0.1);
}
.dropdown-menu li:hover{
	background-color: rgba(0,0,0,0.3);
}
.table-responsive table th, td{white-space:nowrap;text-overflow:ellipsis;} 
.table-responsive table{table-layout:auto;}
.dropdown-menu{
	width:10px;
	left: -100px !important;
}

/* 	데이터 테이블 */