<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>로그인기록 조회</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		로그인기록 조회
	</th:block>
<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.row{
					padding :0;
				}
		</style>
	</th:block>
		
	
	<th:block layout:fragment="customContents">
	
	
			
			
			
			<div class="box-content">
			<h3>로그인기록 조회</h3>
				<hr>
					<table id="loginTable" >
						<thead>
							<tr>
								<th>기록 번호</th>
								<th>로그인 아이디</th>
								<th>로그인 날짜</th>			
								<th>로그아웃 날짜</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${loginList}">
								<td th:text="${l.loginCode}"></td>							
								<td th:text="${l.loginMemberId}"></td>				
								<td th:text="${l.regDay}"></td>			
								<td th:text="${l.regDate}"></td>			
														
							</tr>
							
						</tbody>		
						
					</table>
				
			</div>
			
			
	</th:block>
	
	
	
		<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>

	</th:block>
	
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "",
			        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			        "infoEmpty" : "0명",
			        "infoFiltered" : "(전체 _MAX_로그인기록 중 검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 로그인기록이 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			$('#loginTable').sysDataTable(lang_kor);
		</script>
	</th:block>
	
	