<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		Home
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss"></th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class ="box-content">
			메인화면
			<hr>
			<div class ="t-center">
				<a th:href ="@{/member/getMember}" class ="btn">회원조회</a>
				<a th:href ="@{/member/getLoginHistory}" class ="btn">로그인기록</a>
				<a th:href ="@{/member/getAuthority}" class ="btn">권한조회</a>
				<a th:href ="@{/member/getCancelMember}" class ="btn">탈퇴회원조회</a>
				<a th:href ="@{/member/getExpectedDate}" class ="btn">휴면|탈퇴 예정일조회</a>
				<a th:href ="@{/member/getBaseDate}" class ="btn">휴면탈퇴|기준일조회</a>
				<a th:href ="@{/member/getReasonReport}" class ="btn">탈퇴사유조회</a>
				<a th:href ="@{/member/getReport}" class ="btn">신고목록</a>
				<a th:href ="@{/member/getSuspend}" class ="btn">정지회원목록</a>
				
			</div>
		</div>
		
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript"></th:block>

</html>