<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="easyfarm.dao.FarmMapper">
	<resultMap type="Farm" id="farmResultMap">
		<id property="farmCode" column="farm_code" />
		<result property="farmName" column="farm_name"/>
		<result property="ceoId" column="ceo_member_id"/>
		<result property="farmMemberLevel" column="farm_level_code"/>
		<result property="farmArea" column="farm_area"/>
		<result property="farmAddress" column="farm_address"/>
		<result property="farmPublicStatus" column="farm_public_status"/>
		<result property="farmRegDate" column="farm_reg_date"/>
		<result property="farmMemberCount" column="farm_member_count"/>
	</resultMap>

	<resultMap type="FarmMember" id="farmMemberResultMap">
		<id property="farmMemberCode" column="farm_member_code" />
		<result property="farmCode" column="farm_code"/>
		<result property="farmMemberId" column="farm_member_id"/>
		<result property="farmLevelCode" column="farm_level_code"/>
		<result property="farmLevelName" column="farm_level_name"/>
		<result property="farmJoinApprovalDate" column="farm_join_approval_date"/>
		<result property="farmMemberStatus" column="farm_member_status"/>
	</resultMap>
	
	<resultMap type="FarmMemberJoin" id="farmJoinResultMap">
		<id property="farmJoinCode" column ="farm_join_code"/>
		<result property="farmCode" column ="farm_code"/>
		<result property="farmJoinRequestMemberId" column ="farm_join_request_member_id"/>
		<result property="memberName" column ="member_name"/>
		<result property="memberAge" column ="member_age"/>
		<result property="farmJoinRequestDate" column ="farm_join_request_date"/>
		<result property="farmJoinPurpose" column ="farm_join_purpose"/>
		<result property="farmJoinApproval" column ="farm_join_approval"/>
		<result property="farmJoinApprovalMemberId" column ="farm_join_approval_member_id"/>
		<association property="farm" javaType="Farm">
			<id property="farmCode" column="farm_code" />
			<result property="farmName" column="farm_name"/>
			<result property="ceoId" column="ceo_member_id"/>
			<result property="farmMemberLevel" column="farm_level_code"/>
			<result property="farmArea" column="farm_area"/>
			<result property="farmAddress" column="farm_address"/>
			<result property="farmPublicStatus" column="farm_public_status"/>
			<result property="farmRegDate" column="farm_reg_date"/>
			<result property="farmMemberCount" column="farm_member_count"/>
		</association>
	</resultMap>
	
	
	<resultMap type="FarmCancelRequest" id="farmCancelMemberResultMap">
		<id property="cancelRequestCode" column="farm_cancel_request_code" />
		<result property="cancelRequestMemberCode" column="farm_cancel_request_farm_member_code"/>
		<result property="farmCode" column="farm_code"/>
		<result property="cancelRequestReason" column="farm_cancel_request_reason"/>
		<result property="cancelRequestDate" column="farm_cancel_request_date"/>
		<result property="cancelApproval" column="farm_cancel_approval"/>
		<result property="cancelApprovalReason" column="farm_cancel_approval_reason"/>
		<result property="cancelApprovalDate" column="farm_cancel_approval_date"/>
		<result property="cancelApprovalMemberId" column="farm_cancel_approval_member_id"/>
		<association property="farmMember" javaType="FarmMember">
			<id property="farmMemberCode" column="farm_member_code" />
			<result property="farmCode" column="farm_code"/>
			<result property="farmMemberId" column="farm_member_id"/>
			<result property="farmLevelCode" column="farm_level_code"/>
			<result property="farmLevelName" column="farm_level_name"/>
			<result property="farmJoinApprovalDate" column="farm_join_approval_date"/>
			<result property="farmMemberStatus" column="farm_member_status"/>
		</association>
		<association property="member" javaType ="Member">
			<id property="memberId" 		column="member_id"/>
			<result property="memberPw"		column="member_pw"/>
			<result property="memberName" 	column="member_name"/>
			<result property="levelCode"	 	column="level_code"/>
			<result property="memberGender" 	column="member_gender"/>
			<result property="memberAddress" 	column="member_address"/>
			<result property="memberEmail" 	column="member_email"/>
			<result property="memberPhone" 	column="member_phone"/>
			<result property="memberIdenNum" 	column="member_iden_num"/>
			<result property="memberRegDate"	column="member_reg_date"/>
			<result property="memberStatus" 	column="member_status"/>
			<result property="levelName" 		column="level_name"/>
			<result property="useStatus" 		column="use_status"/>
			<result property="memberRegDate" 	column="reg_date"/>
			
			<result property="loginCode" 		column="login_code"/>
			<result property="loginMemberId" 	column="login_member_id"/>
			<result property="loginDate" 		column="login_date"/>
			<result property="logoutDate" 	column="logout_date"/>
		</association>
	</resultMap>
	
	<select id="farmByName" resultMap="farmResultMap" parameterType="String" >
		SELECT 
			farm_code, 
			farm_name, 
			ceo_member_id, 
			farm_area, 
			farm_address, 
			farm_public_status, 
			farm_reg_date
		FROM 
			tb_farm
		WHERE
			farm_name = #{farmName}
	</select>
	
	<insert id="addFarm" parameterType="Farm">
		INSERT INTO tb_farm
			( 
			farm_code,
			farm_name, 
			ceo_member_id, 
			farm_area, 
			farm_address, 
			farm_public_status, 
			farm_reg_date)
		VALUES 
			( 
			sf_farm_max_code(),
			#{farmName}, 
			#{ceoId}, 
			#{farmArea}, 
			#{farmAddress}, 
			#{farmPublicStatus}, 
			NOW())
	</insert>
	
	<insert id="addFarmMember" parameterType="FarmMember">
		INSERT INTO tb_farm_member
			( 
			farm_member_code,
			farm_code, 
			farm_member_id, 
			farm_level_code, 
			farm_join_approval_date, 
			farm_member_status)
		VALUES 
			( 
			sf_farm_member_max_code(),
			sf_add_member_farm_code(#{farmCode}), 
			#{farmMemberId}, 
			#{farmLevelCode}, 
			NOW(), 
			#{farmMemberStatus})
	</insert>
	
	
	<select id="myFamr" resultMap="farmResultMap" parameterType="String">
		 SELECT 
			f.farm_code, 
			f.farm_name, 
			f.ceo_member_id,
			fm.farm_level_code, 
			f.farm_area, 
			f.farm_address, 
			f.farm_public_status, 
			f.farm_reg_date
		FROM 
			tb_farm f
			join
			tb_farm_member fm
		WHERE
			f.ceo_member_id =#{memberId}
		GROUP BY f.farm_code;
	</select>
	
	<select id="detailFarm" resultMap="farmResultMap" parameterType="Farm">
		SELECT 
			f.farm_code, 
			f.farm_name, 
			f.ceo_member_id,
			fm.farm_level_code, 
			f.farm_area, 
			f.farm_address, 
			f.farm_public_status, 
			f.farm_reg_date
		FROM 
			tb_farm f
			join
			tb_farm_member fm
			on
			f.farm_code = fm.farm_code
		WHERE
			fm.farm_member_id =#{ceoId}
			AND
			f.farm_code = #{farmCode}
			AND
			fm.farm_member_status ='정상'
		GROUP BY f.farm_code;
	</select>
	
	
	<select id="belongFarm" resultMap="farmResultMap" parameterType="String">
		SELECT 
			f.farm_code, 
			f.farm_name, 
			f.ceo_member_id,
			fm.farm_level_code, 
			f.farm_area, 
			f.farm_address, 
			f.farm_public_status, 
			f.farm_reg_date
		FROM 
			tb_farm_member as fm
			join
			tb_farm_member_level AS l
			join
			tb_farm as f
			on
			fm.farm_code = f.farm_code
			AND
			fm.farm_member_id != f.ceo_member_id
		WHERE
			fm.farm_member_id = #{memberId}
			AND
			fm.farm_member_status ='정상'
		GROUP BY f.farm_code
	</select>
	
	<select id="updateByFarm" resultMap="farmResultMap" parameterType="String">
		SELECT 
			f.farm_code, 
			f.farm_name, 
			f.ceo_member_id, 
			fm.farm_level_code,
			f.farm_area, 
			f.farm_address, 
			f.farm_public_status, 
			f.farm_reg_date
		FROM 
			tb_farm AS f
			join
			tb_farm_member AS fm
			on
			fm.farm_code = f.farm_code
		WHERE
			f.farm_code= #{farmCode}
			AND
			fm.farm_member_id = #{memberId}
	</select>
	
	<update id="updateFarm" parameterType="Farm">
		UPDATE tb_farm
		<trim prefix="SET" suffixOverrides=",">
			<if test="ceoId != null">ceo_member_id=#{ceoId},</if>
			<if test="farmArea != null">farm_area=#{farmArea},</if>
			<if test="farmAddress != null">farm_address=#{farmAddress},</if>
			<if test="farmPublicStatus != null">farm_public_status=#{farmPublicStatus},</if>
		</trim>
		WHERE 
			farm_code=#{farmCode}
	</update>
	
	<select id="searchFarm" resultMap="farmResultMap" parameterType="String">
		SELECT 
			f.farm_code, 
			f.farm_name, 
			f.ceo_member_id, 
			f.farm_area, 
			f.farm_address, 
			f.farm_public_status, 
			f.farm_reg_date,
			sf_farm_member_count(f.farm_code) AS 'farm_member_count'
		FROM 
			tb_farm AS f
		WHERE
			f.farm_code NOT IN	(SELECT 
										fm.farm_code 
									FROM 
										tb_farm_member AS fm
									WHERE
										fm.farm_member_id = #{memberId}
									AND
									fm.farm_member_status = '정상')
			AND
			f.farm_public_status ='y'
		GROUP BY f.farm_code;
	</select>
	
	<select id="getMemberFarm" resultMap="farmMemberResultMap" parameterType="String">
		SELECT 
			fm.farm_member_code, 
			fm.farm_code, 
			fm.farm_member_id, 
			fm.farm_level_code, 
			fml.farm_level_name,
			fm.farm_join_approval_date, 
			fm.farm_member_status
		FROM 
			tb_farm_member AS fm
			join
			tb_farm_member_level AS fml
			on
			fm.farm_level_code = fml.farm_level_code
		WHERE
			fm.farm_code =#{farmCode}
			AND
			fm.farm_member_status = '정상'
			ORDER BY FIELD(fm.farm_level_code,'farm_level_1','farm_level_2','farm_level_3')	asc
	</select>
	
	<insert id="addFarmMemberJoin" parameterType="String">
		INSERT INTO tb_farm_member_join
			(farm_join_code, 
			farm_code, 
			farm_join_request_member_id, 
			farm_join_request_date, 
			farm_join_purpose
			)
		VALUES 
			(sf_farm_member_join_max_code(), 
			sf_farm_name_by_code(#{farmName}), 
			#{memberId}, 
			NOW(), 
			#{farmJoinPurpose})
	</insert>
	
	
	<select id="listJoinFarm"  resultMap="farmJoinResultMap" parameterType="String">
		SELECT 
			farm_join_code, 
			farm_code, 
			farm_join_request_member_id, 
			farm_join_request_date, 
			farm_join_purpose, 
			farm_join_approval, 
			farm_join_approval_member_id
		FROM 
			tb_farm_member_join
		WHERE
			farm_join_approval IS null
			AND
			farm_join_request_member_id =#{memberId}
	</select>
	
	<select id="addFarmMemberJoinCheck"  resultMap="farmJoinResultMap" parameterType="String">
		SELECT 
			farm_join_code, 
			farm_code, 
			farm_join_request_member_id, 
			farm_join_request_date, 
			farm_join_purpose, 
			farm_join_approval, 
			farm_join_approval_member_id
		FROM 
			tb_farm_member_join
		WHERE
			farm_join_approval IS null
			AND
			farm_join_request_member_id =#{memberId}
			AND
			farm_code = sf_farm_name_by_code(#{farmName});
	</select>
	
	<select id="getJoinFarm" resultMap="farmJoinResultMap" parameterType ="String">
		SELECT 
			fmj.farm_join_code, 
			fmj.farm_code, 
			fmj.farm_join_request_member_id, 
			m.member_name,
			sf_iden_num_age(m.member_iden_num) AS member_age,
			fmj.farm_join_request_date, 
			fmj.farm_join_purpose
		FROM 
			tb_farm_member_join AS fmj
			JOIN
			tb_member AS m
			ON
			m.member_id = fmj.farm_join_request_member_id
		WHERE
			fmj.farm_join_approval IS null
			AND
			fmj.farm_code = #{farmCode};
	</select>
	
	<update id="farmJoinMember" parameterType="String">
		UPDATE tb_farm_member_join
		SET
			farm_join_approval=#{approval},
			farm_join_approval_member_id=#{memberId}
		WHERE 
			farm_join_code=#{farmMemberJoinCode}
	</update>
	
	<select id="getJoinMember" resultMap="farmJoinResultMap" parameterType="String">
		SELECT 
			farm_join_code, 
			farm_code, 
			farm_join_request_member_id, 
			farm_join_request_date, 
			farm_join_purpose, 
			farm_join_approval, 
			farm_join_approval_member_id
		FROM 
			tb_farm_member_join
		WHERE
			farm_join_code =#{farmMemberJoinCode}
	</select>
	
	<insert id="joinAddFarmMember" parameterType="FarmMember">
		INSERT INTO tb_farm_member
			( 
			farm_member_code,
			farm_code, 
			farm_member_id, 
			farm_level_code, 
			farm_join_approval_date, 
			farm_member_status)
		VALUES 
			( 
			sf_farm_member_max_code(),
			#{farmCode}, 
			#{farmMemberId}, 
			#{farmLevelCode}, 
			NOW(), 
			#{farmMemberStatus})
	</insert>
	
	<select id="myGetJoinFarm" resultMap="farmJoinResultMap" parameterType="String">
		SELECT 
			fmj.farm_join_code, 
			fmj.farm_code, 
			fmj.farm_join_request_member_id, 
			fmj.farm_join_request_date, 
			fmj.farm_join_purpose, 
			fmj.farm_join_approval, 
			fmj.farm_join_approval_member_id,
			f.farm_name,
			f.ceo_member_id,
			f.farm_area, 
			f.farm_address
		FROM 
			tb_farm_member_join AS fmj
			join
			tb_farm AS f
			on
			f.farm_code = fmj.farm_code
		WHERE
			fmj.farm_join_approval IS null
			AND
			fmj.farm_join_request_member_id = #{memberId}
	</select>
	
	<delete id="removeJoinFarm" parameterType="String">
		DELETE FROM 
			tb_farm_member_join 
		WHERE 
			farm_join_code=#{farmJoinCode}
	</delete>
	
	
	<select id="getFarmMemberLevel" resultType="String" parameterType="String">
		SELECT 
			farm_level_code
		FROM 
			tb_farm_member
		WHERE
			farm_member_id = #{memberId}
			AND
			farm_code = #{farmCode}
	</select>
	
	
	<select id="addCancelMemberCheck" resultMap="farmCancelMemberResultMap" parameterType="String">
		SELECT 
				fcr.farm_cancel_request_code, 
				fcr.farm_cancel_request_farm_member_code, 
				fcr.farm_code, 
				fcr.farm_cancel_request_reason, 
				fcr.farm_cancel_request_date, 
				fcr.farm_cancel_approval, 
				fcr.farm_cancel_approval_reason, 
				fcr.farm_cancel_approval_date, 
				fcr.farm_cancel_approval_member_id
			FROM 
				tb_farm_cancel_request AS fcr
			WHERE
				fcr.farm_cancel_approval_member_id IS null
				AND
				fcr.farm_code = sf_add_member_farm_code(#{farmName})
				AND
				fcr.farm_cancel_request_farm_member_code = sf_id_farm_code_by_farm_member_code(#{memberId}, sf_add_member_farm_code(#{farmName}))
	
	</select>
	<insert id="addCancelMember" parameterType="String">
		INSERT INTO tb_farm_cancel_request
			(
			farm_cancel_request_code, 
			farm_cancel_request_farm_member_code, 
			farm_code, 
			farm_cancel_request_reason, 
			farm_cancel_request_date
			)
		VALUES 
			(
			sf_farm_cancel_request_max_code(),
			sf_id_farm_code_by_farm_member_code(#{memberId}, sf_add_member_farm_code(#{farmName})), 
			sf_add_member_farm_code(#{farmName}), 
			#{cancelRequestReason}, 
			NOW()
			)
	</insert>
	
	<select id="getLeaverFarm" resultMap="farmCancelMemberResultMap" parameterType="String">
		SELECT 
			fcr.farm_cancel_request_code, 
			fcr.farm_cancel_request_farm_member_code, 
			fcr.farm_code, 
			fcr.farm_cancel_request_reason, 
			fcr.farm_cancel_request_date, 
			fcr.farm_cancel_approval, 
			fcr.farm_cancel_approval_reason, 
			fcr.farm_cancel_approval_date, 
			fcr.farm_cancel_approval_member_id,
			fm.farm_member_id,
			fm.farm_join_approval_date,
			m.member_name
		FROM 
			tb_farm_cancel_request AS fcr
			join
			tb_farm_member AS fm
			ON
			fm.farm_member_code = fcr.farm_cancel_request_farm_member_code
			join
			tb_member AS m
			on
			m.member_id = fm.farm_member_id
		WHERE
			fcr.farm_cancel_approval_member_id IS null
			AND
			fcr.farm_code = #{farmCode}
			AND
			fcr.farm_cancel_request_farm_member_code != sf_id_farm_code_by_farm_member_code(#{memberId}, #{farmCode})
	</select>
			
	<update id="isLeaverFarm" parameterType="FarmCancelRequest">
		UPDATE tb_farm_cancel_request
		SET
			farm_cancel_approval=#{cancelApproval},
			farm_cancel_approval_reason=#{cancelApprovalReason},
			farm_cancel_approval_date=NOW(),
			farm_cancel_approval_member_id=#{cancelApprovalMemberId}
		WHERE 
			farm_cancel_request_code=#{cancelRequestCode}
	
	</update>
</mapper>


