<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easyfarm.dao.MachineMapper">
	<resultMap type="Machine" id="machineResultMap">
		<result property="commonMachineCode"	column="common_machine_code"/>
		<result property="commonMachineName"	column="common_machine_name"/>
		<result property="regMemberId"	column="reg_member_id"/>
		<result property="regDate"		column="reg_date"/>
		<association property="member" javaType="Member" >
			<id property="memberId"		column="member_id"/>
			<result property="memberId"	column="member_id"/>
		</association>
	</resultMap> 
	            
	
	<select id="getCommonMachineCode" parameterType="String" resultMap="machineResultMap">
	SELECT 
		common_machine_code, 
		common_machine_name, 
		reg_member_id, 
		reg_date 
	FROM 
		tb_common_machine
	ORDER BY common_machine_code*1
	</select>
	<select id="getCommonMachineInfo" parameterType="String" resultMap="machineResultMap">
	SELECT 
		m.common_machine_code, 
		m.common_machine_name, 
		m.reg_member_id, 
		m.reg_date 
	FROM 
		tb_common_machine as m
		where
		m.common_machine_code = #{commonMachineCode};
	</select>
	
	<insert id="addCommonMachineCode" parameterType="map">
	INSERT INTO tb_common_machine
	(
	common_machine_code
	, common_machine_name
	, reg_member_id
	, reg_date
	)
	VALUES (
	sf_commonMachine_max_code()
	, #{machine.commonMachineName}
	, #{memberId}
	, NOW()
	)
	
	</insert>
	
	<update id="modifyCommonMachine" parameterType="Machine">
	UPDATE 
		tb_common_machine
	SET
		<if test="commonMachineName != null and commonMachineName != ''.toString()">
		common_machine_name=#{commonMachineName}
		</if>
	WHERE 
		common_machine_code=#{commonMachineCode};
	</update>
</mapper>