<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easyfarm.dao.MachineMapper">
	<resultMap type="Machine" id="machineResultMap">
		<result property="commonMachineCode"	column="common_machine_code"/>
		<result property="commonMachineName"	column="common_machine_name"/>
		
		<result property="regMemberId"	column="reg_member_id"/>
		<result property="regDate"		column="reg_date"/>
		<!-- <association property="" javaType="" >
			<id property=""		column=""/>
			<result property=""	column=""/>
		</association> -->
	</resultMap> 
	            
	
	<select id="getCommonMachineCode" parameterType="String" resultMap="machineResultMap">
	SELECT 
		common_machine_code, 
		common_machine_name, 
		reg_member_id, 
		reg_date 
	FROM 
		tb_common_machine
	ORDER BY common_machine_code*1
	</select>
	
</mapper>