<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="easyfarm.dao.MemberMapper">

	<resultMap type="Member" id="memberResultMap">   
      <result property="memberId" 		column="member_id"/>
      <result property="memberPw"		column="member_pw"/>
      <result property="memberName" 	column="member_name"/>
      <result property="levelCode"	 	column="level_code"/>
      <result property="memberGender" 	column="member_gender"/>
      <result property="memberAddress" 	column="member_address"/>
      <result property="memberEmail" 	column="member_email"/>
      <result property="memberPhone" 	column="member_phone"/>
      <result property="memberIdenNum" 	column="member_iden_num"/>
      <result property="memberRegDate"	column="member_reg_date"/>
      <result property="memberStatus" 	column="member_status"/>
      <result property="levelName" 		column="level_name"/>
      <result property="useStatus" 		column="use_status"/>
      <result property="memberRegDate" 	column="reg_date"/>
      
      <result property="loginCode" 		column="login_code"/>
      <result property="loginMemberId" 	column="login_member_id"/>
      <result property="loginDate" 		column="login_date"/>
      <result property="logoutDate" 	column="logout_date"/>

   </resultMap>
   <resultMap type="Member" id="cancel">
      <result property="memberId" 				column="cancel_member_code"/>
      <result property="memberId" 				column="cancel_member_id"/>
      <result property="memberPw"				column="cancel_member_pw"/>
      <result property="memberName" 			column="cancel_member_name"/>
      <result property="levelCode"	 			column="level_num"/>
      <result property="memberGender" 			column="cancel_member_gender"/>
      <result property="memberAddress" 			column="cancel_member_address"/>
      <result property="memberEmail" 			column="cancel_member_email"/>
      <result property="memberPhone" 			column="cancel_member_phone"/>
      <result property="memberIdenNum" 			column="cancel_member_iden_num"/>
      <result property="memberRegDate"			column="cancel_member_reg_date"/>
      <result property="cancelDate" 			column="cancel_member_cancel_date"/>
      <result property="cancelMemberReason" 	column="cancel_member_reason"/>
      <result property="cancelMemberCode" 		column="cancel_member_code"/>
   </resultMap>
   

   
	
	<select id="getMemberInfoByEmail" resultMap="memberResultMap">
	SELECT 
		  member_id
		, member_pw
		, member_name
		, level_code
		, member_gender
		, member_address
		, member_email
		, member_phone
		, member_iden_num
		, member_reg_date
		, member_status
	FROM tb_member
	WHERE member_email = #{email}
	</select>
	
	<select id="getLoginCode" resultMap="memberResultMap" >
		SELECT 
			login_code
			, login_member_id
			, login_date
			, logout_date
		FROM 
			tb_login
		WHERE 
			login_member_id = #{memberId}
		ORDER BY login_date DESC 
			LIMIT 1
	</select>
	 <select id="getLoginMaxDate" resultMap="memberResultMap">
		SELECT 
			  login_code AS login_code
			, login_member_id AS login_member_id
			, MAX(login_date) AS login_date
			, MAX(logout_date) AS logout_date
		FROM 
			tb_login
			GROUP BY login_member_id
	</select> 
	<select id="getLogin" resultMap="memberResultMap">
		SELECT 
			login_code
			, login_member_id
			, login_date
			, logout_date
		FROM 
			tb_login
	</select>
	
	<insert id="updateLogin">
		INSERT INTO tb_login
		(
		
		 login_member_id
		, login_date
		, logout_date
		)
		VALUES (#{memberId}, NOW(), NOW())
	</insert>
	
	<update id="updateLogout" parameterType="Member">
		UPDATE tb_login
			SET
				logout_date=NOW()
			WHERE login_code = #{loginCode};
	</update>
	
	<select	id="getMemberInfoById" resultMap="memberResultMap" parameterType="String">
			SELECT 
				 m.member_id
				,m.member_pw
				,m.member_name
				,m.level_code
				,m.member_gender
				,m.member_address
				,m.member_email
				,m.member_phone
				,m.member_iden_num
				,m.member_reg_date
				,m.member_status
				,l.level_name
			FROM 
				tb_member AS m
			JOIN
				tb_member_level AS l
			ON
			m.level_code = l.level_code
			
			WHERE m.member_id = #{memberId};
	</select>

	<insert id="addMember" parameterType="Member">
	INSERT INTO tb_member
		(member_id
		, member_pw
		, member_name
		, level_code
		, member_gender
		, member_address
		, member_email
		, member_phone
		, member_iden_num
		, member_reg_date
		, member_status
		)
		VALUES 
		(#{memberId}
		, #{memberPw}
		, #{memberName}
		, #{levelCode}
		, #{memberGender}
		, #{memberAddress}
		, #{memberEmail}
		, #{memberPhone}
		, #{memberIdenNum}
		, NOW()
		, #{memberStatus})
	</insert>
	
	<select id="getMemberList" resultMap="memberResultMap">
		SELECT 
			 m.member_id
			,m.member_pw
			,m.member_name
			,m.level_code
			,m.member_gender
			,m.member_address
			,m.member_email
			,m.member_phone
			,m.member_iden_num
			,m.member_reg_date
			,m.member_status
			,l.level_name
		FROM 
			tb_member AS m
		JOIN
			tb_member_level AS l
		on
			m.level_code = l.level_code
	
	</select>
	
	<update id="modifyMember" parameterType="Member">
		UPDATE tb_member
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPw != null and memberPw != ''.toString()">
				member_pw = #{memberPw},
			</if>
			<if test="levelCode != null and levelCode != ''.toString()">
				level_code = #{levelCode},
			</if>
			<if test="memberEmail != null and memberEmail != ''.toString()">
				member_email = #{memberEmail},
			</if>
			<if test="memberAddress != null and memberAddress != ''.toString()">
				member_address = #{memberAddress},
			</if>
			<if test="memberPhone != null and memberPhone != ''.toString()">
				member_phone = #{memberPhone},
			</if>
			<if test="memberStatus != null and memberStatus != ''.toString()">
				member_status = #{memberStatus},
			</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			member_id = #{memberId}
		</trim>		
	</update>
	
	<update id="removeUpdateMember" > 
			UPDATE tb_member
			SET
			
			<if test="memberStatus == null and memberStatus == ''.toString()">
				member_status = #{memberStatus}
			</if>
			
			<if test="memberStatus != null and memberStatus != ''.toString()">
				member_status = #{memberStatus}
			</if>
				
			WHERE member_id = #{memberId}
			
	</update>
	
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ권한 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
	
	<select id="getAuthority" resultMap="memberResultMap" >
		SELECT 
			  level_code
			, level_name
			, member_id
			, reg_date
			, use_status
		FROM 
			tb_member_level
		
	</select>
	
	<select id="getCode" resultMap="memberResultMap" >
		SELECT 
			level_code		
		FROM 
			tb_member
		WHERE level_code = #{levelCode}
	</select>
	
	<select id="getAuthorityByCode" resultMap="memberResultMap" >
		SELECT 
			  level_code
			, level_name
			, member_id
			, reg_date
			, use_status
		FROM 
			tb_member_level
		Where level_code = #{levelCode}
	</select>
	
	<update id="modifyAuthority" parameterType="Member" >
		UPDATE tb_member_level
		SET
			level_name = #{levelName},
			member_id = #{memberId},
			reg_date = NOW(),
			use_status = #{useStatus} 
		WHERE 
			level_code= #{levelCode}
	</update>
	
	<insert id="addAuthority" parameterType="String">
		INSERT INTO tb_member_level
			(
			  level_code
			, level_name
			, member_id
			, reg_date
			, use_status)
			VALUES (
			sf_member_level_max_code()
			, #{levelName}
			, #{memberId}
			, NOW()
			, #{useStatus})
			
	</insert>
	
	<delete id="removeAuthority" >
		DELETE FROM tb_member_level WHERE level_code = #{levelCode}
	</delete>
	
	<insert id="addCancelMember" parameterType="Member">
	 INSERT INTO tb_cancel_member
		( cancel_member_code
		, cancel_member_id
		, cancel_member_pw
		, cancel_member_name
		, level_num
		, cancel_member_gender
		, cancel_member_address
		, cancel_member_email
		, cancel_member_phone
		, cancel_member_iden_num
		, cancel_member_reg_date
		, cancel_member_cancel_date
		, cancel_member_reason)
		VALUES (
		sf_cancel_member_max_code()
		, #{memberId}
		, #{memberPw}
		, #{memberName}
		, #{levelCode}
		, #{memberGender}
		, #{memberAddress}
		, #{memberEmail}
		, #{memberPhone}
		, #{memberIdenNum}
		, #{memberRegDate}
		, NOW()
		, #{cancelMemberReason}
		)
		
	</insert>
	<select id="getCancelMember" resultMap="cancel" resultType="Member">
		SELECT
			 cancel_member_code
			,cancel_member_id
			,cancel_member_pw
			,cancel_member_name
			,level_num
			,cancel_member_gender
			,cancel_member_address
			,cancel_member_email
			,cancel_member_phone
			,cancel_member_iden_num
			,cancel_member_reg_date
			,cancel_member_cancel_date
			,cancel_member_reason
		FROM
			tb_cancel_member
	</select>
	
</mapper>
