<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="easyfarm.dao.PlanMapper">
  	<resultMap type="EtcPay" id="resultEtcPay">
  		<id column=""  property=""/>
  		<result column="" property="" />
  	</resultMap>
  	
	
   <select id="getEtcPayPlan" resultType="EtcPay" >
  	SELECT 					
		etc_pay_code 					AS	etcPayCode	,
		plan_workphase_code 			AS	planWorkphaseCode	,
		plan_workphase_cate_code 		AS	planWorkphaseCateCode	,
		client_code 					AS	clientCode	,
		etc_pay_date 					AS	etcPayDate	,
		etc_pay 						AS	etcPay	,
		etc_pay_detail 					AS	etcPayDetail	,
		reg_farm_member_code 			AS	regFarmMemberCode	,
		reg_date 						AS	regDate	,
		mod_farm_member_code 			AS	modFarmMemberCode	,
		mod_date						AS	modDate	
	FROM tb_exp_etc_pay		
   </select>
  
  	<select id="getResourcePayPlan" resultType="ResourcePay" >
   	SELECT 
		resource_pay_code        			AS resourcePayCode, 
		farm_code        					AS farmCode,
		client_code        					AS clientCode, 
		stock_item_code       				AS stockItemCode, 
		stock_item_income_quantity        	AS stockItemIncomeQuantity, 
		stock_item_income_quantity_total	AS stockItemIncomeQuantityTotal, 
		stock_item_income_per_pay       	AS stockItemIncomePerPay, 
		stock_item_total_pay        		AS stockItemTotalPay, 
		stock_item_income_date        		AS stockItemIncomeDate, 
		reg_farm_member_code        		AS regFarmMemberCode, 
		reg_date        					AS regDate, 
		mod_farm_member_code        		AS modFarmMemberCode, 
		mod_date        					AS modDate
	FROM tb_exp_resource_pay
   </select>
   
  	<select id="getInsurancePayPlan" resultType="InsurancePay" >
   SELECT 
		insure_pay_code            		AS insurePayCode, 
		project_code           			AS projectCode, 
		insure_company            		AS insureCompany, 
		insure_name            			AS insureName, 
		insure_datail            		AS insureDatail, 
		insure_area            			AS insureArea, 
		insure_pay_total            	AS insurePayTotal, 
		reg_farm_member_code            AS regFarmMemberCode, 
		reg_date            			AS regDate, 
		mod_farm_member_code            AS modFarmMemberCode, 
		mod_date            			AS modDate
	FROM tb_exp_insure_pay
   </select>
   
  	<select id="getMachineLeasePayPlan" resultType="MachineLeasePay" >
   SELECT 
		machine_lease_code        		AS machineLeaseCode, 
		plan_workphase_code        		AS planWorkphaseCode, 
		plan_workphase_cate_code        AS planWorkphaseCateCode, 
		client_code        				AS clientCode, 
		common_machine_code        		AS commonMachineCode, 
		machine_lease_howlong        	AS machineLeaseHowlong, 
		machine_lease_pay_day        	AS machineLeasePayDay, 
		machine_lease_pay_total        	AS machineLeasePayTotal,
		reg_farm_member_code        	AS regFarmMemberCode, 
		reg_date        				AS regDate, 
		mod_farm_member_code        	AS modFarmMemberCode, 
		mod_date       					AS modDate
	FROM tb_exp_machine_lease
   </select>
   
  	<select id="getMachineUsePayPlan" resultType="MachineUsePay" >
   SELECT 
		machine_use_code        		AS machineUseCode, 
		plan_workphase_code        		AS planWorkphaseCode, 
		plan_workphase_cate_code        AS planWorkphaseCateCode, 
		farm_retain_machine_code        AS farmRetainMachineCode, 
		reg_farm_member_code        	AS regFarmMemberCode, 
		reg_date        				AS regDate, 
		mod_farm_member_code        	AS modFarmMemberCode,
		mod_date				        AS modDate
	FROM tb_exp_machine_use
   </select>
   
  	<select id="getProductGainPlan" resultType="ProductGain" >
	  SELECT 
		product_gain_code        		AS productGainCode, 
		project_code        			AS projectCode, 
		stock_item_code        			AS stockItemCode,
		gain_quantity        			AS gainQuantity, 
		gain_quantity_capacity        	AS gainQuantityCapacity,
		gain_date        				AS gainDate, 
		reg_farm_member_code        	AS regFarmMemberCode, 
		reg_date       					AS regDate, 
		mod_farm_member_code        	AS modFarmMemberCode, 
		mod_date        				AS modDate
	FROM tb_product_gain
   </select>
   
  	<select id="getResourceUsePlan" resultType="ResourceUsePlan" >
	  SELECT 
		resource_useplan_code        			AS resourceUseplanCode, 
		resource_usecapacity_code        		AS resourceUsecapacityCode, 
		plan_workphase_code        				AS planWorkphaseCode, 
		plan_workphase_cate_code        		AS planWorkphaseCateCode, 
		stock_item_use_quantity        			AS stockItemUseQuantity, 
		stock_item_use_quantity_total        	AS stockItemUseQuantityTotal, 
		stock_item_use_quantity_conversion_pay  AS stockItemUseQuantityConversionPay, 
		stock_item_use_date        				AS stockItemUseDate, 
		reg_farm_member_code       				AS regFarmMemberCode, 
		reg_date        						AS regDate, 
		mod_farm_member_code        			AS modFarmMemberCode, 
		mod_date        						AS modDate
	FROM tb_exp_resource_useplan
   </select>
   
  	<select id="getTaxPayPlan" resultType="TaxPay" >
	 SELECT 
		tax_pay_code        		AS taxPayCode, 
		plan_workphase_code        	AS planWorkphaseCode, 
		plan_workphase_cate_code    AS planWorkphaseCateCode, 
		client_code       			AS clientCode, 
		tax_pay_cate_code        	AS taxPayCateCode, 
		tax_pay_whatmonth        	AS taxPayWhatmonth, 
		tax_pay        				AS taxPay, 
		tax_pay_detail        		AS taxPayDetail, 
		reg_farm_member_code        AS regFarmMemberCode, 
		reg_date        			AS regFarmMemberCode, 
		mod_farm_member_code        AS modFarmMemberCode, 
		mod_date        			AS modDate
	FROM tb_exp_tax_pay
   </select>
   
  	<select id="getWorkForcePayPlan" resultType="WorkForcePay" >
	  SELECT 
		workforce_pay_code        	AS workforcePayCode, 
		plan_workphase_code        	AS planWorkphaseCode,
		plan_workphase_cate_code    AS planWorkphaseCateCode, 
		workforce_count        		AS workforceCount, 
		workforce_howlong        	AS workforceHowlong, 
		workforce_require_day       AS workforceRequireDay, 
		workforce_pay_day        	AS workforcePayDay, 
		workforce_pay_total        	AS workforcePayTotal, 
		reg_farm_member_code        AS regFarmMemberCode, 
		reg_date        			AS regDate, 
		mod_farm_member_code        AS modFarmMemberCode, 
		mod_date        			AS modDate
	FROM tb_exp_workforce_pay
   </select>
  	
  </mapper>
  
  
  