<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="easyfarm.dao.ResultMapper">
  	
  	
  	<select id="getWorkPhaseByProjectCode" resultType="Map" parameterType="String">
		SELECT 
			pw.project_workphase_code 	AS WorkPhaseCode
			,cp.workphase_name 			AS WorkPhaseName
		FROM tb_project_workphase AS pw
		INNER JOIN
		tb_crop_phase_info AS cp
		ON
		pw.crop_phase_info_code = cp.crop_phase_info_code
		WHERE
			pw.project_code =  #{projectCode} 
  	</select>
  	
  	<select id="getProjectNameByFarmName" resultType="Map" parameterType="String">
		SELECT
			p.project_code AS projectCode
			,p.project_name As projectName
		FROM
			tb_farm_project AS p
		where
			p.farm_code = #{farmCode} 
  	</select>
  
  	
  	<select id="getFarmName" resultType="Map" parameterType="String">
		SELECT
			f.farm_name AS farmName
			,f.farm_code AS farmCode
		FROM 
			tb_farm_member AS m
		inner JOIN
			tb_farm AS f
		on
			m.farm_code=f.farm_code
		WHERE
			m.farm_member_id = #{memberId} 
  	</select>
  	
  	
  	<resultMap type="EtcPayResult" id="resultEtcPayMap">
	  		<id column="etc_pay_run_code"  				property="etcPayRunCode"/>          <!--기타비용지출계획대비실행코드-->                              
	  		<result column="etc_pay_code" 				property="etcPayCode" />            <!--기타비용지출계획코드-->         
	  		<result column="client_code" 				property="clientCode" />            <!--거래처코드-->            
	  		<result column="etc_pay_run_date" 			property="etcPayRunDate" />         <!--지출일-->            
	  		<result column="etc_pay_run_pay" 			property="etcPayRunPay" />          <!--지출금액-->            
	  		<result column="etc_pay_run_memo" 			property="etcPayRunMemo" />         <!--추가메모(항목)-->            
	  		<result column="complete_status" 			property="completeStatus" />        <!--실행완료여부-->            
	  		<result column="reg_member_id" 				property="regMemberId" />       	<!--작성자아이디-->            
	  		<result column="reg_date" 					property="regDate" />               <!--작성일-->                              
	  	<association property="etcPayPlan" javaType="EtcPay">
	  		<id column="etc_pay_code" 					property="etcPayCode"/>				<!--기타비용지출계획코드-->
	  		<result column="plan_workphase_code" 		property="planWorkphaseCode" />		<!--기간별작업단계계획코드-->
	  		<result column="plan_workphase_cate_code" 	property="planWorkphaseCateCode" />	<!--작업단계별상세항목코드-->
	  		<result column="client_code" 				property="clientCode" />			<!--거래처코드-->
	  		<result column="etc_pay_date" 				property="etcPayDate" />			<!--지출일-->
	  		<result column="etc_pay" 					property="etcPay" />				<!--지출금액-->
	  		<result column="etc_pay_detail" 			property="etcPayDetail" />			<!--추가메모-->
	  		<result column="reg_member_id" 				property="regMemberId" />			<!--작성자아이디-->
	  		<result column="reg_date" 					property="regDate" />				<!--작성일-->
	  	</association>
  	</resultMap>
	
   <select id="getEtcPayResult" resultMap="resultEtcPayMap" parameterType="String" >
		SELECT
			p.etc_pay_code
			,p.plan_workphase_code
			,p.plan_workphase_cate_code
			,p.etc_pay_date
			,p.etc_pay
			,p.etc_pay_detail
			,p.reg_member_id
			,p.reg_date
			,p.client_code
			,r.etc_pay_run_code
			,r.etc_pay_run_date
			,r.etc_pay_run_pay
			,r.etc_pay_run_memo
			,r.complete_status
			,r.reg_member_id
			,r.reg_date
			,r.client_code
		FROM
		tb_etc_pay_run AS r
		JOIN
		tb_exp_etc_pay AS p
		ON
		r.etc_pay_code=p.etc_pay_code
		WHERE
		p.plan_workphase_code = #{workPhaseCode}
   </select>
  
    	<resultMap type="ResourcePayResult" id="resultResourcePayMap">
	  		<id column="farm_resource_pay_run_code"  			property="farmResourcePayRunCode"/>
	  		<result column="farm_resource_pay_code" 			property="farmResourcePayCode" />
	  		<result column="farm_code" 							property="farmCode" />
	  		<result column="client_code" 						property="clientCode" />
	  		<result column="stock_item_code" 					property="stockItemCode" />
	  		<result column="stock_item_income_quantity" 		property="stockItemIncomeQuantity" />
	  		<result column="stock_item_income_quantity_total" 	property="stockItemIncomeQuantityTotal" />
	  		<result column="stock_item_income_per_pay" 			property="stockItemIncomePerPay" />
	  		<result column="stock_item_total_pay" 				property="stockItemTotalPay" />
	  		<result column="stock_item_income_date" 			property="stockItemIncomeDate" />
	  		<result column="complete_status" 					property="completeStatus" /> 
	  		<result column="reg_member_id" 						property="regMemberId" /> 
	  		<result column="reg_date" 							property="regDate" />
	  	<association property="resourcePayPlan" javaType="ResourcePay">
	  		<id column="resource_pay_code" 						property="resourcePayCode"/>
	  		<result column="farm_code" 							property="farmCode" />
	  		<result column="client_code" 						property="clientCode" />
	  		<result column="stock_item_code" 					property="stockItemCode" />
	  		<result column="stock_item_income_quantity" 		property="stockItemIncomeQuantity" />
	  		<result column="stock_item_income_quantity_total" 	property="stockItemIncomeQuantityTotal" />
	  		<result column="stock_item_income_per_pay" 			property="stockItemIncomePerPay" />
	  		<result column="stock_item_total_pay" 				property="stockItemTotalPay" />
	  		<result column="stock_item_income_date" 			property="stockItemIncomeDate" />
	  		<result column="reg_member_id" 						property="regMemberId" />
	  		<result column="reg_date" 							property="regDate" />
	  	</association>
  	</resultMap>
  
  	<select id="getResourcePayResult" resultMap="resultResourcePayMap" parameterType="String" >
   SELECT
		r.farm_resource_pay_run_code
		, r.farm_resource_pay_code
		, r.farm_code
		, r.client_code
		, r.stock_item_code
		, r.stock_item_income_quantity
		, r.stock_item_income_quantity_total
		, r.stock_item_income_per_pay
		, r.stock_item_total_pay
		, r.stock_item_income_date
		, r.complete_status
		, r.reg_member_id
		, r.reg_date
		, p.resource_pay_code
		, p.farm_code
		, p.client_code
		, p.stock_item_code
		, p.stock_item_income_quantity
		, p.stock_item_income_quantity_total
		, p.stock_item_income_per_pay
		, p.stock_item_total_pay
		, p.stock_item_income_date
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_farm_resource_pay_run AS r
		JOIN
		tb_exp_resource_pay AS p
		ON
		r.farm_resource_pay_code=p.resource_pay_code
		WHERE
		p.farm_code='farm_1'
   </select>
   
   
   <resultMap type="InsurancePayResult" id="resultInsurancePayMap">
	  		<id column="insure_pay_run_code"  			property="insurePayRunCode"/>   <!--보험료지출계획대비실행코드-->                              
	  		<result column="insure_pay_code" 			property="insurePayCode" />     <!--보험료지출계획코드-->         
	  		<result column="project_code" 				property="projectCode" />       <!--프로젝트코드-->            
	  		<result column="insure_company" 			property="insureCompany" />   	<!--보험사-->            
	  		<result column="insure_name" 				property="insureName" />        <!--보험명-->            
	  		<result column="insure_datail" 				property="insureDatail" />      <!--보장내용-->            
	  		<result column="insure_begin" 				property="insureBegin" />       <!--보험가입일-->            
	  		<result column="insure_area" 				property="insureArea" />        <!--가입면적-->            
	  		<result column="insure_end" 				property="insureEnd" />         <!--보험만료일-->            
	  		<result column="insure_pay_total" 			property="insurePayTotal" />    <!--총보험비-->            
	  		<result column="insure_pay_per_month" 		property="insurePayPerMonth" /> <!--예상월보험료-->            
	  		<result column="complete_status" 			property="completeStatus" />    <!--실행완료여부-->            
	  		<result column="reg_member_id" 				property="regMemberId" />       <!--작성자아이디-->            
	  		<result column="reg_date" 					property="regDate" />           <!--작성일-->                              
	  	<association property="insurancePayPlan" javaType="InsurancePay">
	  		<id column="insure_pay_code" 				property="insurePayCode"/>		<!--보험료지출계획코드-->
	  		<result column="project_code" 				property="projectCode" />		<!--프로젝트코드-->
	  		<result column="insure_company" 			property="insureCompany" />		<!--보험사-->
	  		<result column="insure_name" 				property="insureName" />		<!--보험명-->
	  		<result column="insure_datail" 				property="insureDatail" />		<!--보장내용-->
	  		<result column="insure_area" 				property="insureArea" />		<!--가입면적-->
	  		<result column="insure_pay_total" 			property="insurePayTotal" />	<!--예상총보험비-->
	  		<result column="reg_member_id" 				property="regMemberId" />		<!--작성자아이디-->
	  		<result column="reg_date" 					property="regDate" />			<!--작성일-->
	  	</association>
  	</resultMap>
   
   
   <select id="getInsurancePayResult" resultMap="resultInsurancePayMap" parameterType="String" >
   SELECT
		r.insure_pay_run_code
		, r.insure_pay_code
		, r.project_code
		, r.insure_company
		, r.insure_name
		, r.insure_datail
		, r.insure_begin
		, r.insure_area
		, r.insure_end
		, r.insure_pay_total
		, r.insure_pay_per_month
		, r.complete_status
		, r.reg_member_id
		, r.reg_date
		, p.insure_pay_code
		, p.project_code
		, p.insure_company
		, p.insure_name
		, p.insure_datail
		, p.insure_area
		, p.insure_pay_total
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_insure_pay_run AS r
		JOIN
		tb_exp_insure_pay AS p
		ON
		r.insure_pay_code=p.insure_pay_code
		WHERE
		p.project_code='project_1'
   </select>
   
   
   <resultMap type="MachineLeasePayResult" id="resultMachineLeasePayMap">
	  		<id column="machine_lease_run_code"  		property="machineLeaseRunCode"/>   		<!--농기계대여계획대비실행코드-->                              
	  		<result column="machine_lease_code" 		property="machineLeaseCode" />     		<!--농기계대여료지출계획코드-->         
	  		<result column="client_code" 				property="clientCode" />       			<!--거래처코드-->            
	  		<result column="farm_bookmark_machine_code"	property="farmBookmarkMachineCode" />   <!--공통농기계코드-->            
	  		<result column="machine_lease_run_date" 	property="machineLeaseRunDate" />       <!--대여일-->            
	  		<result column="machine_lease_run_pay" 		property="machineLeaseRunPay" />      	<!--대여료-->            
	  		<result column="complete_status" 			property="completeStatus" />       		<!--실행완료여부-->            
	  		<result column="reg_member_id" 				property="regMemberId" />       		<!--작성자아이디-->            
	  		<result column="reg_date" 					property="regDate" />           		<!--작성일-->                              
	  	<association property="machineLeasePayPlan" javaType="MachineLeasePay">
	  		<id column="machine_lease_code" 			property="machineLeaseCode"/>			<!--농기계대여료지출계획코드-->
	  		<result column="plan_workphase_code" 		property="planWorkphaseCode" />			<!--기간별작업단계계획코드-->
	  		<result column="plan_workphase_cate_code" 	property="planWorkphaseCateCode" />		<!--작업단계별상세항목코드-->
	  		<result column="client_code" 				property="clientCode" />				<!--거래처코드-->
	  		<result column="farm_bookmark_machine_code" property="farmBookmarkMachineCode" />	<!--농가별농기계즐겨찾기코드-->
	  		<result column="machine_lease_howlong" 		property="machineLeaseHowlong" />		<!--대여일수-->
	  		<result column="machine_lease_pay_day" 		property="machineLeasePayDay" />		<!--일일대여료-->
	  		<result column="machine_lease_pay_total" 	property="machineLeasePayTotal" />		<!--대여료합계-->
	  		<result column="reg_member_id" 				property="regMemberId" />				<!--작성자아이디-->
	  		<result column="reg_date" 					property="regDate" />					<!--작성일-->
	  	</association>
  	</resultMap>
   
    <select id="getMachineLeasePayResult" resultMap="resultMachineLeasePayMap" parameterType="String" >
   SELECT
		r.machine_lease_run_code
		, r.machine_lease_code
		, r.client_code
		, r.farm_bookmark_machine_code
		, r.machine_lease_run_date
		, r.machine_lease_run_payday
		, r.machine_lease_run_pay
		, r.complete_status
		, r.reg_member_id
		, r.reg_date
		, p.machine_lease_code
		, p.plan_workphase_code
		, p.plan_workphase_cate_code
		, p.client_code
		, p.farm_bookmark_machine_code
		, p.machine_lease_howlong
		, p.machine_lease_pay_day
		, p.machine_lease_pay_total
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_machine_lease_run AS r
		JOIN
		tb_exp_machine_lease AS p
		ON
		r.machine_lease_code=p.machine_lease_code
		WHERE
		p.plan_workphase_code='plan_workphase_1'
   </select>
   
   
   <resultMap type="MachineUsePayResult" id="resultMachineUsePayMap">
	  		<id column="machine_use_run_code"  			property="machineUseRunCode"/>   	<!--농기계사용계획대비실행코드-->                              
	  		<result column="machine_use_code" 			property="machineUseCode" />     	<!--농기계사용지출계획-->         
	  		<result column="machine_use_run_date" 		property="machineUseRunDate" />     <!--사용일-->            
	  		<result column="farm_retain_machine_code" 	property="farmRetainMachineCode" /> <!--농가별보유농기계코드-->            
	  		<result column="complete_status" 			property="completeStatus" />        <!--실행완료여부-->            
	  		<result column="reg_member_id" 				property="regMemberId" />       	<!--작성자아이디-->            
	  		<result column="reg_date" 					property="regDate" />           	<!--작성일-->                              
	  	<association property="machineUsePayPlan" javaType="MachineUsePay">
	  		<id column="machine_use_code" 				property="machineUseCode"/>			<!--농가별농자재매입지출계획코드-->
	  		<result column="plan_workphase_code" 		property="planWorkphaseCode" />		<!--인건비지출계획대비실행-->
	  		<result column="plan_workphase_cate_code" 	property="planWorkphaseCateCode" />	<!--인건비지출계획대비실행-->
	  		<result column="farm_retain_machine_code" 	property="farmRetainMachineCode" />	<!--인건비지출계획대비실행-->
	  		<result column="reg_member_id" 				property="regMemberId" />			<!--작성자아이디-->
	  		<result column="reg_date" 					property="regDate" />				<!--작성일-->
	  	</association>
  	</resultMap>
   
    <select id="getMachineUsePayResult" resultMap="resultMachineUsePayMap" parameterType="String" >
   SELECT
		r.machine_use_run_code
		, r.machine_use_code
		, r.machine_use_run_date
		, r.farm_retain_machine_code
		, r.complete_status
		, r.reg_member_id
		, r.reg_date
		, p.machine_use_code
		, p.plan_workphase_code
		, p.plan_workphase_cate_code
		, p.farm_retain_machine_code
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_machine_use_run AS r
		JOIN
		tb_exp_machine_use AS p
		ON
		r.machine_use_code=p.machine_use_code
		WHERE
		p.plan_workphase_code='plan_workphase_1'
   </select>
  
  
  	<resultMap type="ProductGainResult" id="resultProductGainMap">
	  		<id column="product_gain_run_code"  		property="productGainRunCode"/>   <!--농가별농자재매입지출계획코드-->                              
	  		<result column="product_gain_code" 			property="productGainCode" />     <!--농가별농자재매입지출계획코드-->         
	  		<result column="project_code" 				property="projectCode" />       	<!--인건비지출계획대비실행-->            
	  		<result column="stock_item_code" 			property="stockItemCode" />   	<!--인건비지출계획대비실행-->            
	  		<result column="gain_quantity" 				property="gainQuantity" />        <!--인건비지출계획대비실행-->            
	  		<result column="gain_quantity_capacity" 	property="gainQuantityCapacity" />        <!--인건비지출계획대비실행-->            
	  		<result column="complete_status" 			property="completeStatus" />        <!--인건비지출계획대비실행-->            
	  		<result column="gain_date" 					property="gainDate" />        <!--인건비지출계획대비실행-->            
	  		<result column="reg_member_id" 				property="regMemberId" />       <!--인건비지출계획대비실행-->            
	  		<result column="reg_date" 					property="regDate" />           <!--농가별농자재매입지출계획코드-->                              
	  	<association property="productGainPlan" javaType="ProductGain">
	  		<id column="product_gain_code" 				property="productGainCode"/>		<!--농가별농자재매입지출계획코드-->
	  		<result column="project_code" 				property="projectCode" />			<!--인건비지출계획대비실행-->
	  		<result column="stock_item_code" 			property="stockItemCode" />			<!--인건비지출계획대비실행-->
	  		<result column="gain_quantity" 				property="gainQuantity" />			<!--인건비지출계획대비실행-->
	  		<result column="gain_quantity_capacity" 	property="gainQuantityCapacity" />	<!--인건비지출계획대비실행-->
	  		<result column="gain_date" 					property="gainDate" />				<!--인건비지출계획대비실행-->
	  		<result column="reg_member_id" 				property="regMemberId" />			<!--인건비지출계획대비실행-->
	  		<result column="reg_date" 					property="regDate" />				<!--인건비지출계획대비실행-->
	  	</association>
  	</resultMap>
  
  	<select id="getProductGainResult" resultMap="resultProductGainMap" parameterType="String" >
	 SELECT
		r.product_gain_run_code
		, r.product_gain_code
		, r.project_code
		, r.stock_item_code
		, r.gain_quantity
		, r.gain_quantity_capacity
		, r.complete_status
		, r.gain_date
		, r.reg_member_id
		, r.reg_date
		, p.product_gain_code
		, p.project_code
		, p.stock_item_code
		, p.gain_quantity
		, p.gain_quantity_capacity
		, p.gain_date
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_product_gain_run AS r
		JOIN
		tb_product_gain AS p
		ON
		r.product_gain_code=p.product_gain_code
		WHERE
		p.project_code='project_1'
   </select>
   
   
   <resultMap type="ResourceUsePlanResult" id="resultResourceUsePlanMap">
	  		<id column="resource_useplan_run_code"  				property="resourceUseplanRunCode"/>   <!--농자재사용계획대비실행코드-->                              
	  		<result column="resource_useplan_code" 					property="resourceUseplanCode" />     <!--농자재사용계획코드-->         
	  		<result column="stock_status_code" 						property="stockStatusCode" />       	<!--재고현황코드-->            
	  		<result column="stock_item_use_quantity" 				property="stockItemUseQuantity" />   	<!--사용수량-->            
	  		<result column="stock_item_use_quantity_total" 			property="stockItemUseQuantityTotal" />        <!--사용용량소계-->            
	  		<result column="stock_item_use_quantity_conversion_pay" property="stockItemUseQuantityConversionPay" />        <!--사용량금액환산-->            
	  		<result column="stock_item_use_date" 					property="stockItemUseDate" />        <!--사용일-->            
	  		<result column="complete_status" 						property="completeStatus" />        <!--실행완료여부-->            
	  		<result column="reg_member_id" 							property="regMemberId" />       <!--작성자아이디-->            
	  		<result column="reg_date" 								property="regDate" />           <!--작성일-->                              
	  	<association property="resourceUsePlan" javaType="ResourceUsePlan">
	  		<id column="resource_useplan_code" 						property="resourceUseplanCode"/>		<!--농자재사용계획코드-->
	  		<result column="resource_usecapacity_code" 				property="resourceUsecapacityCode" />			<!--농자재소모현황코드-->
	  		<result column="plan_workphase_code" 					property="planWorkphaseCode" />			<!--기간별작업단계계획코드-->
	  		<result column="plan_workphase_cate_code" 				property="planWorkphaseCateCode" />			<!--작업단계별상세항목코드-->
	  		<result column="stock_item_use_quantity" 				property="stockItemUseQuantity" />			<!--사용수량-->
	  		<result column="stock_item_use_quantity_total" 			property="stockItemUseQuantityTotal" />			<!--사용용량소계-->
	  		<result column="stock_item_use_quantity_conversion_pay" property="stockItemUseQuantityConversionPay" />		<!--사용량금액환산-->
	  		<result column="reg_member_id" 							property="regMemberId" />			<!--작성자아이디-->
	  		<result column="reg_date" 								property="regDate" />				<!--작성일-->
	  	</association>
  	</resultMap>
   
   	<select id="getResourceUsePlanResult" resultMap="resultResourceUsePlanMap" parameterType="String" >
	  SELECT
		r.resource_useplan_run_code
		, r.resource_useplan_code
		, r.stock_status_code
		, r.stock_item_use_quantity
		, r.stock_item_use_quantity_total
		, r.stock_item_use_quantity_conversion_pay
		, r.stock_item_use_date
		, r.complete_status
		, r.reg_member_id
		, r.reg_date
		, p.resource_useplan_code
		, p.resource_usecapacity_code
		, p.plan_workphase_code
		, p.plan_workphase_cate_code
		, p.stock_item_use_quantity
		, p.stock_item_use_quantity_total
		, p.stock_item_use_quantity_conversion_pay
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_resource_useplan_run AS r
		JOIN
		tb_exp_resource_useplan AS p
		ON
		r.resource_useplan_code=p.resource_useplan_code
		WHERE
		p.plan_workphase_code='plan_workphase_1'
   </select>
   
   
   <resultMap type="TaxPayResult" id="resultTaxPayMap">
	  		<id column="tax_pay_run_code"  							property="taxPayRunCode"/>   		<!--공과금지출계획대비실행코드-->                              
	  		<result column="tax_pay_code" 							property="taxPayCode" />     		<!--공과금지출계획코드-->         
	  		<result column="client_code" 							property="clientCode" />       		<!--거래처코드-->            
	  		<result column="tax_pay_cate_code" 						property="taxPayCateCode" />   		<!--공과금항목코드-->            
	  		<result column="tax_pay_run_date" 						property="taxPayRunDate" />        	<!--납부일-->            
	  		<result column="tax_pay_run_corr_month" 				property="taxPayRunCorrMonth" />    <!--해당월-->            
	  		<result column="tax_pay_run_pay" 						property="taxPayRunPay" />        	<!--납부금액-->            
	  		<result column="tax_pay_run_memo" 						property="taxPayRunMemo" />        	<!--추가메모-->            
	  		<result column="complete_status" 						property="completeStatus" />        <!--실행완료여부-->            
	  		<result column="reg_member_id" 							property="regMemberId" />       	<!--작성자아이디-->            
	  		<result column="reg_date" 								property="regDate" />           	<!--작성일-->                              
	  	<association property="taxPayPlan" javaType="TaxPay">
	  		<id column="tax_pay_code" 								property="taxPayCode"/>				<!--공과금지출계획코드-->
	  		<result column="plan_workphase_code" 					property="planWorkphaseCode" />		<!--기간별작업단계계획코드-->
	  		<result column="plan_workphase_cate_code" 				property="planWorkphaseCateCode" />	<!--작업단계별상세항목코드-->
	  		<result column="client_code" 							property="clientCode" />			<!--거래처코드-->
	  		<result column="tax_pay_cate_code" 						property="taxPayCateCode" />		<!--공과금항목코드-->
	  		<result column="tax_pay_whatmonth" 						property="taxPayWhatmonth" />		<!--해당월-->
	  		<result column="tax_pay" 								property="taxPay" />				<!--납부금액-->
	  		<result column="tax_pay_detail" 						property="taxPayDetail" />			<!--추가메모-->
	  		<result column="reg_member_id" 							property="regMemberId" />			<!--작성자아이디-->
	  		<result column="reg_date" 								property="regDate" />				<!--작성일-->
	  	</association>
  	</resultMap>
   
   	<select id="getTaxPayResult" resultMap="resultTaxPayMap" parameterType="String" >
	 SELECT
		r.tax_pay_run_code
		, r.tax_pay_code
		, r.client_code
		, r.tax_pay_cate_code
		, r.tax_pay_run_date
		, r.tax_pay_run_corr_month
		, r.tax_pay_run_pay
		, r.tax_pay_run_memo
		, r.complete_status
		, r.reg_member_id
		, r.reg_date
		, p.tax_pay_code
		, p.plan_workphase_code
		, p.plan_workphase_cate_code
		, p.client_code
		, p.tax_pay_cate_code
		, p.tax_pay_whatmonth
		, p.tax_pay
		, p.tax_pay_detail
		, p.reg_member_id
		, p.reg_date
		FROM
		tb_tax_pay_run AS r
		JOIN
		tb_exp_tax_pay AS p
		ON
		r.tax_pay_code=p.tax_pay_code
		WHERE
		p.plan_workphase_code='plan_workphase_1'
   </select>
   


     
	
	<resultMap type="WorkForcePayResult" id="WorkForcePayResultMap">
	  		<id column="workforce_pay_run_code"  		property="workforcePayRunCode"/>		<!--인건비지출계획대비실행--> 
	  		<result column="workforce_pay_code" 		property="workforcePayCode" />	        <!--인건비지출계획코드-->
	  		<result column="workforce_run_date" 		property="workforceRunDate" />	        <!--근무일-->
	  		<result column="workforce_run_quantity"	 	property="workforceRunQuantity" />      <!--근무인원-->  
	  		<result column="workforce_run_begin" 		property="workforceRunBegin" />	        <!--근무시작시간--> 
	  		<result column="workforce_run_end" 			property="workforceRunEnd" />	        <!--근무종료시간-->  
	  		<result column="workforce_pay_run_day" 		property="workforcePayRunDay" />        <!--일일인건비--> 
	  		<result column="complete_status" 			property="completeStatus" />	        <!--실행완료여부-->
	  		<result column="workforce_pay_run_total" 	property="workforcePayRunTotal" />      <!--인건비합계--> 
	  		<result column="reg_member_id" 				property="regMemberId" />         		<!--작성자농가회원코드-->     
	  		<result column="reg_date" 					property="regDate" />			        <!--작성일--> 
	  	<association property="workforcePayPlan" javaType="WorkForcePay">                            
	  		<id column="workforce_pay_code" 			property="workforcePayCode"/>           <!--인건비지출계획코드-->        
	  		<result column="plan_workphase_code" 		property="planWorkphaseCode" />         <!--기간별작업단계계획코--> 
	  		<result column="plan_workphase_cate_code" 	property="planWorkphaseCateCode" />     <!--작업단계별상세항목코--> 
	  		<result column="workforce_count" 			property="workforceCount" />            <!--근무인원--> 
	  		<result column="workforce_howlong" 			property="workforceHowlong" />          <!--근무일수-->  
	  		<result column="workforce_require_day" 		property="workforceRequireDay" />       <!--맨데이--> 
	  		<result column="workforce_pay_day" 			property="workforcePayDay" />           <!--일일인건비-->      
	  		<result column="workforce_pay_total" 		property="workforcePayTotal" />         <!--인건비합계--> 
	  		<result column="reg_member_id" 				property="regMemberId" />         		<!--작성자농가회원코드 -->      
	  		<result column="reg_date" 					property="regDate" />                   <!--작성일--> 
	  	</association>
	</resultMap>
	
  	<select id="getWorkForcePayResult" resultMap="WorkForcePayResultMap" parameterType="String">
	  	SELECT
			p.workforce_pay_code
			,p.plan_workphase_code
			,p.plan_workphase_cate_code
			,p.workforce_count
			,p.workforce_howlong
			,p.workforce_require_day
			,p.workforce_pay_day
			,p.workforce_pay_total
			,p.reg_member_id
			,p.reg_date
			,r.workforce_pay_run_code
			,r.workforce_run_date
			,r.workforce_run_quantity
			,r.workforce_run_begin
			,r.workforce_run_end
			,r.workforce_pay_run_day
			,r.complete_status
			,r.workforce_pay_run_total
			,r.reg_member_id
			,r.reg_date
		FROM
		tb_workforce_pay_run AS r
		JOIN
		tb_exp_workforce_pay AS p
		ON
		r.workforce_pay_code=p.workforce_pay_code
		WHERE
		p.workforce_pay_code='workforce_pay_1'
   </select>
  	
  
  	
  	
  	
  	
  </mapper>
  
  
  