<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>상세계획 관리</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		상세계획 관리
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Jquery UI -->
		<link rel="stylesheet" th:href="@{/assets/plugin/jquery-ui/jquery-ui.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/jquery-ui/jquery-ui.structure.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/jquery-ui/jquery-ui.theme.min.css}">
		
		<!-- FlexDatalist -->
		<link rel="stylesheet" th:href="@{/assets/plugin/flexdatalist/jquery.flexdatalist.min.css}">
	
		<!-- Popover -->
		<link rel="stylesheet" th:href="@{/assets/plugin/popover/jquery.popSelect.min.css}">
	
		<!-- Select2 -->
		<link rel="stylesheet" th:href="@{/assets/plugin/select2/css/select2.min.css}">
	
		<!-- Timepicker -->
		<link rel="stylesheet" th:href="@{/assets/plugin/timepicker/bootstrap-timepicker.min.css}">
	
		<!-- Touch Spin -->
		<link rel="stylesheet" th:href="@{/assets/plugin/touchspin/jquery.bootstrap-touchspin-custom-Pgs.css}">
		
		<!-- Colorpicker -->
		<link rel="stylesheet" th:href="@{/assets/plugin/colorpicker/css/bootstrap-colorpicker.min.css}">
	
		<!-- Datepicker -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datepicker/css/bootstrap-datepicker.min.css}">
	
		<!-- DateRangepicker -->
		<link rel="stylesheet" th:href="@{/assets/plugin/daterangepicker/daterangepicker.css}">
		
		<!-- Data Tables -->
		<link rel="stylesheet" href="/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
	</th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.form-control[readonly]{background-color: #F5F5F5;}
			
			.switch.primary input[type="checkbox"]:checked + label:before, .switch input[type="checkbox"]:checked + label:after{margin-top: 4px;}
			.switch label:after, .switch label:before{margin-top: 4px;}
			.switch label:before{background-color: grey;}
			.switch{margin-bottom: 0px;}
			
			.box-content.card.white .box-title{background-color: #F5F5F5;}
			hr{border-bottom: 1px solid grey;}
			
			.ui-datepicker-calendar {display: none;}
			textarea.form-control {height : 140px;}
			
			/* 모달css */
			.modal {text-align: center;}
			.modal:before {
	            display: inline-block;
	            vertical-align: middle;
	            content: " ";
	            height: 100%;
			}
			.modal-dialog {
		        display: inline-block;
		        text-align: left;
		        vertical-align: middle;
			}
			#btnSize{margin-right: 40px;}
			button a{color: white;}
			button a:link { color: white; text-decoration: none;}
			button a:visited { color: white; text-decoration: none;}
			button a:hover { color: white; text-decoration: none;}
			
			table a{color: #1d84df !important; cursor: pointer;}
			
			/* #clientListTable td, th{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}​
			#stockItemTable td, th{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
			#stockItemTable{table-layout:fixed}​
			#resourceUsecapacityListTable td, th{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;} */
			
			.table-responsive table th, td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}​
			.table-responsive table{table-layout:fixed}
			
			/* #accordion{font-size: 20px;} */
			.ui-accordion .ui-accordion-header{padding: .8em .8em .8em .8em !important; font-size: 16px;}
			
			.p-star{ display:inline; color:red;}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<form th:action="@{#}" method="post">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="box-content">
							<h3>작업일정 상세계획</h3>
							<hr/>
							
							<div class="form-horizontal margin-bottom-30">
								<div class="form-group">
									<label for="projectPlanN" class="col-sm-2 control-label" style="width: 80px; padding-right: 0px;"><strong>계획차수</strong></label>
								    <div class="col-sm-2">
										<input class="form-control t-center" name="projectPlanN" id="projectPlanN" th:value="${projectPlanN}" readonly="readonly"/>
								    </div>
								</div>
								<div class="form-group">
									<label for="workPhase" class="col-sm-2 control-label" style="width: 80px; padding-right: 0px;"><strong>작업단계</strong></label>
								    <div class="col-sm-4">
										<select class="form-control" name="workPhase" id="workPhase">
											<option value=""> :: 단계선택 :: </option>
											<th:block th:if="${#lists.size(workphaseNameList) > 0}" th:each="w, st : ${workphaseNameList}">
												<option th:value="${st.count}" th:text="|${w.workphase} : ${w.workphaseName}|"></option>
											</th:block>
										</select>
								    </div>
							    	<label for="workPhaseDate" class="col-sm-1 control-label pl-0" style="width: 60px;"><strong>기간</strong></label>
									<div class="col-md-5">
										<div class="input-daterange input-group" id="workPhaseDate-range">
											<input type="text" class="form-control" name="start" />
											<span class="input-group-addon bg-primary text-white"> ~ </span>
											<input type="text" class="form-control" name="end" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="workPhaseCate" class="col-sm-2 control-label" style="width: 80px; padding-right: 0px;"><strong>상세항목</strong></label>
								    <div class="col-sm-4">
										<select class="form-control" name="workPhaseCate" id="workPhaseCate">
											<option value=""> :: 상세항목선택 :: </option>
											<th:block th:if="${#lists.size(workphaseCateNameList) > 0}" th:each="w, st : ${workphaseCateNameList}">
												<option th:value="${st.count}" th:text="${w.commonWorkphaseCateName}"></option>
											</th:block>
										</select>
								    </div>
								    <label for="workPhaseCateDate" class="col-sm-1 control-label pl-0" style="width: 60px;"><strong>기간</strong></label>
									<div class="col-md-5">
										<div class="input-daterange input-group" id="workPhaseCateDate-range">
											<input type="text" class="form-control" name="start" />
											<span class="input-group-addon bg-primary text-white"> ~ </span>
											<input type="text" class="form-control" name="end" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="box-content" style="color: red;">
								<ul class="list-inline">
									<li>&#8251 농가단위 사전정보를 등록 하시면 지출계획 에서 선택 하실 수 있습니다.</li><br/>
									<li>&#8251</li><br/>
									<li>&#8251</li><br/>
									<li>&#8251</li><br/>
									<li>&#8251</li>
								</ul>
							</div>
							
							<!-- 사전정보등록 아코디온 시작 -->
							<div class="box-content no-padding">
								<div id="accordion" class="js__ui_accordion">
									<h2 class="accordion-title">농가단위 사전정보등록</h2>
									<div class="accordion-content no-padding">
									
									<!-- 탭항목시작 -->
									<ul class="nav nav-tabs nav-justified" id="myTabs-justified" role="tablist">
										<li role="presentation" class="active">
											<a href="#client-justified" id="client-tab-justified" role="tab" data-toggle="tab" aria-expanded="true" aria-controls="client">
												거래처
											</a>
										</li>
										<li role="presentation">
											<a href="#stockItem-justified" role="tab" id="stockItem-tab-justified" data-toggle="tab" aria-controls="stockItem">
												품목
											</a>
										</li>
										<li role="presentation">
											<a href="#planResourcePay-justified" role="tab" id="planResourcePay-tab-justified" data-toggle="tab" aria-controls="planResourcePay">
												농자재매입
											</a>
										</li>
										<li role="presentation">
											<a href="#commonMachine-justified" role="tab" id="commonMachine-tab-justified" data-toggle="tab" aria-controls="commonMachine">
												공통농기계
											</a>
										</li>
										<li role="presentation">
											<a href="#planBookmarkMachine-justified" role="tab" id="planBookmarkMachine-tab-justified" data-toggle="tab" aria-controls="planBookmarkMachine">
												농기계즐겨찾기
											</a>
										</li>
										<li role="presentation">
											<a href="#planRetainMachine-justified" role="tab" id="planRetainMachine-tab-justified" data-toggle="tab" aria-controls="planRetainMachine">
												보유농기계
											</a>
										</li>
									</ul>
									<!-- 탭항목끝 -->
									
									<!-- 탭항목별컨텐츠 시작-->
									<div class="tab-content" id="myTabContent-justified">
									
										<!-- 거래처관리 시작 -->
										<div class="tab-pane fade in active" role="tabpanel" id="client-justified" aria-labelledby="client-tab-justified">
											<div class="box-content card white">
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>등록된 거래처 목록</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="clientListTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th class="hidden">거래처코드</th>
																	<th class="hidden">농가코드</th>
																	<th>거래처명</th>
																	<th>전화번호</th>
																	<th>주소</th>
																	<th>계좌은행</th>
																	<th>계좌번호</th>
																	<th>간단메모</th>
																	<th>수정</th>
																	<th>삭제</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${#lists.size(clientNameList) > 0}" th:each="c : ${clientNameList}">
																	<tr>
																		<td th:text="${c.clientCode}" 		class="hidden clientCode"></td>
																		<td th:text="${c.farmCode}" 		class="hidden farmCode"></td>
																		<td th:text="${c.clientName}"		class="clientName"></td>
																		<td th:text="${c.clientPhone}" 		class="clientPhone"></td>
																		<td th:text="${c.clientAddress}" 	class="clientAddress"></td>
																		<td th:text="${c.clientAccountBank}"class="clientAccountBank"></td>
																		<td th:text="${c.clientAccount}" 	class="clientAccount"></td>
																		<td th:text="${c.clientMemo}" 		class="clientMemo"></td>
																		<td>
																			<a class="modifyClientInfo">수정</a>
																		</td>
																		<td>
																			<a class="removeClientInfo">삭제</a>
																		</td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddClient">거래처등록
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- 거래처관리 끝 -->
										
										<!-- 품목관리 시작 -->
										<div class="tab-pane fade" role="tabpanel" id="stockItem-justified" aria-labelledby="stockItem-tab-justified">
											<div class="box-content card white">
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>등록된 품목 목록</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="stockItemTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th class="hidden">품목코드</th>
																	<th class="hidden">농가코드</th>
																	<th class="hidden">카테고리코드</th>
																	<th>카테고리명</th>
																	<th>품목명</th>
																	<th>품목수량</th>
																	<th>수량단위</th>
																	<th>품목용량</th>
																	<th>용량단위</th>
																	<th>수정</th>
																	<th>삭제</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
																	<tr>
																		<td th:text="${fs.stockItemCode}"></td>
																		<td th:text="${fs.farmCode}"></td>
																		<td th:text="${fs.stockCate.stockCateCode}"></td>
																		<td th:text="${fs.stockCate.stockCateName}"></td>
																		<td th:text="${fs.stockItemName}"></td>
																		<td th:text="${fs.stockItemQuantity}"></td>
																		<td th:text="${fs.stockItemQuantityUnit}"></td>
																		<td th:text="${fs.stockItemQuantityCapacity}"></td>
																		<td th:text="${fs.stockItemQuantityCapacityUnit}"></td>
																		<td>
																			<a class="modifyStockItemInfo">수정</a>
																		</td>
																		<td>
																			<a class="removeStockItemInfo">삭제</a>
																		</td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddStock">품목등록
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- 품목관리 끝 -->
										
										<!-- 농재자매입관리 시작 -->
										<div class="tab-pane fade" role="tabpanel" id="planResourcePay-justified" aria-labelledby="planResourcePay-tab-justified">
											<div class="box-content card white">
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>등록된 농자재매입 목록</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="resourcePayTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th class="hidden">매입지출계획코드</th>
																	<th class="hidden">농가코드</th>
																	<th class="hidden">거래처코드</th>
																	<th class="hidden">품목코드</th>
																	<th>거래처명</th>
																	<th>카테고리명</th>
																	<th>품목명</th>
																	<th>입고수량</th>
																	<th>입고용량</th>
																	<th>입고단가</th>
																	<th>총구매비</th>
																	<th>수정</th>
																	<th>삭제</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${#lists.size(resourcePayList) > 0}" th:each="r : ${resourcePayList}">
																	<tr>
																		<td class="hidden" th:text="${r.resourcePayCode}"></td>
																		<td class="hidden" th:text="${r.farmCode}"></td>
																		<td class="hidden" th:text="${r.clientCode}"></td>
																		<td class="hidden" th:text="${r.stockItemCode}"></td>
																		<td th:text="${r.clientName}"></td>
																		<td th:text="${r.stockCateName}"></td>
																		<td th:text="${r.stockItemName}"></td>
																		<td th:text="${r.stockItemIncomeQuantity}"></td>
																		<td th:text="${r.stockItemIncomeQuantityTotal}"></td>
																		<td th:text="${r.stockItemIncomePerPay}"></td>
																		<td th:text="${r.stockItemTotalPay}"></td>
																		<td>
																			<a class="modifyResourcePayInfo">수정</a>
																		</td>
																		<td>
																			<a class="removeResourcePayInfo">삭제</a>
																		</td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>농자재 소모현황</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="resourceUsecapacityListTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th>거래처</th>
																	<th>카테고리</th>
																	<th>품목명</th>
																	<th>잔여수량</th>
																	<th>잔여용량</th>
																	<th>사용가능여부</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${#lists.size(resourceUsecapacityList) > 0}" th:each="r : ${resourceUsecapacityList}">
																	<tr>
																		<td th:text="${r.clientName}"></td>
																		<td th:text="${r.stockCateName}"></td>
																		<td th:text="${r.stockItemName}"></td>
																		<td th:text="${r.resourceRetainQuantity}"></td>
																		<td th:text="${r.resourceRetainQuantityCapacityExtra}"></td>
																		<td th:text="${r.availableStatus}"></td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddResourcePay">농자재매입등록
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- 농재자매입관리 끝 -->
										
										<!-- 공통농기계관리 시작 -->
										<div class="tab-pane fade" role="tabpanel" id="commonMachine-justified" aria-labelledby="commonMachine-tab-justified">
											<div class="box-content card white">
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>등록된 공통농기계 목록</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="commonMachineListTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th class="hidden">공통농기계코드</th>
																	<th>#</th>
																	<th>농기계명</th>
																	<th>작성자아이디</th>
																	<th>작성일</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${commonMachineList != null && #lists.size(commonMachineList) > 0}" th:each="c : ${commonMachineList}">
																	<tr>
																		<td th:text="${c.commonMachineCode}" class="hidden"></td>
																		<td><input type="checkbox" class="checkbox primary"/></td>
																		<td th:text="${c.commonMachineName}"></td>
																		<td th:text="${c.regMemberId}"></td>
																		<td th:text="${c.regDate}"></td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddCommonMachine">공통농기계 등록
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- 공통농기계관리 끝 -->
										
										<!-- 농기계즐겨찾기관리 시작 -->
										<div class="tab-pane fade" role="tabpanel" id="planBookmarkMachine-justified" aria-labelledby="planBookmarkMachine-tab-justified">
											<div class="box-content card white">
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>등록된 농기계 즐겨찾기 목록</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="farmBookmarkMachineListTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th>농기계명</th>
																	<th>작성자아이디</th>
																	<th>작성일</th>
																	<th>삭제</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${#lists.size(farmBookmarkMachineList) > 0}" th:each="f : ${farmBookmarkMachineList}">
																	<tr>
																		<td th:text="${f.commonMachineName}"></td>
																		<td th:text="${f.regMemberId}"></td>
																		<td th:text="${f.regDate}"></td>
																		<td>
																			<a>삭제</a>
																		</td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddBookmarkMachine">농기계즐겨찾기 등록
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- 농기계즐겨찾기관리 끝 -->
										
										<!-- 보유농기계관리 시작 -->
										<div class="tab-pane fade" role="tabpanel" id="planRetainMachine-justified" aria-labelledby="planRetainMachine-tab-justified">
											<div class="box-content card white">
												<div class="box-title">
													<div class="row">
														<div class="col-sm-12">
															<h4>등록된 보유농기계 목록</h4>
														</div>
													</div>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table id="farmBookmarkMachineListTable" class="table table-striped table-bordered display" style="width:100%">
															<thead>
																<tr>
																	<th class="hidden">농기계명</th>
																	<th>농기계명</th>
																	<th>작성자아이디</th>
																	<th>작성일</th>
																	<th>삭제</th>
																</tr>
															</thead>
															<tbody>
																<th:block th:if="${#lists.size(farmRetainMachineList) > 0}" th:each="f : ${farmRetainMachineList}">
																	<tr>
																		<td th:text="${f.farmRetainMachineCode}" class="hidden"></td>
																		<td th:text="${f.commonMachineName}"></td>
																		<td th:text="${f.regMemberId}"></td>
																		<td th:text="${f.regDate}"></td>
																		<td>
																			<a>삭제</a>
																		</td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddRetainMachine">보유농기계 등록
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- 보유농기계관리 끝 -->
									</div>
									<!-- 탭항목별컨텐츠 끝-->
									</div>
								</div>
							</div>
							<!-- 사전정보등록 아코디온 끝 -->
							
								
							<!-- 탭항목시작 -->
							<ul class="nav nav-tabs nav-justified" id="myTabs-justified" role="tablist">
								<li role="presentation" class="active"><a href="#workforcePay-justified" id="workforcePay-tab-justified" role="tab" data-toggle="tab" aria-expanded="true" aria-controls="workforcePay">인건비</a></li>
								<li role="presentation"><a href="#machine-justified" role="tab" id="machine-tab-justified" data-toggle="tab" aria-controls="machine">농기계</a></li>
								<li role="presentation"><a href="#resource-justified" role="tab" id="resource-tab-justified" data-toggle="tab" aria-controls="resource">농자재</a></li>
								<li role="presentation"><a href="#taxPay-justified" role="tab" id="taxPay-tab-justified" data-toggle="tab" aria-controls="taxPay">공과금</a></li>
								<li role="presentation"><a href="#productGain-justified" role="tab" id="productGain-tab-justified" data-toggle="tab" aria-controls="productGain">생산물</a></li>
								<li role="presentation"><a href="#etcPay-justified" role="tab" id="etcPay-tab-justified" data-toggle="tab" aria-controls="etcPay">기타비용</a></li>
							</ul>
							<!-- 탭항목끝 -->
							
							<!-- 탭항목별컨텐츠 시작-->
							<div class="tab-content" id="myTabContent-justified">
								<!-- 인건비관리 시작 -->
								<div class="tab-pane fade in active" role="tabpanel" id="workforcePay-justified" aria-labelledby="workforcePay-tab-justified">
									
									<div class="box-content card white">
										<div class="box-title">인건비 지출계획</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>근무인원</th>
															<th>근무일수</th>
															<th>일일인건비</th>
															<th>인건비합계</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
																<td th:text="${4}"></td>
																<td th:text="${5}"></td>
																<td th:text="${6}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
										<hr/>
										<div class="form-group t-center">
											<div class="row">
												<div class="col-md-6 col-md-offset-3">
													<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
														data-toggle="modal" data-target="#planAddWorkforcePay">인건비 지출계획등록
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 인건비관리 끝 -->
								
								<!-- 농기계관리 시작 -->
								<div class="tab-pane fade" role="tabpanel" id="machine-justified" aria-labelledby="machine-tab-justified">
									<div class="box-content card white">
										<div class="box-title">
											<div class="row">
												<div class="col-sm-12">
													<div class="pull-left">
														<div class="switch primary"><input type="checkbox" checked id="leaseSwitch"><label for="leaseSwitch">농기계 대여 지출계획</label></div>
													</div>
													<div class="pull-right">
														<button type="button" class="btn btn-primary btn-xs waves-effect waves-light btn-rounded"
															data-toggle="modal" data-target="#planAddMachineLease">대여농기계등록</button>
													</div>
												</div>
											</div>
										</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>거래처</th>
															<th>농기계종류</th>
															<th>대여일수</th>
															<th>일일대여료</th>
															<th>총대여료합계</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
																<td th:text="${4}"></td>
																<td th:text="${5}"></td>
																<td th:text="${6}"></td>
																<td th:text="${7}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="box-content card white">
										<div class="box-title">
											<div class="row">
												<div class="col-sm-12">
													<div class="pull-left">
														<div class="switch primary"><input type="checkbox" checked id="useSwitch"><label for="useSwitch">보유 농기계 지출계획</label></div>
													</div>
													<div class="pull-right">
														<button type="button" id="planAddBtn" class="btn btn-primary btn-xs waves-effect waves-light btn-rounded"
															data-toggle="modal" data-target="#planAddMachineUse">보유농기계등록</button>
													</div>
												</div>
											</div>
										</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>농기계종류</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- 농기계관리 끝 -->
								
								<!-- 농자재관리 시작 -->
								<div class="tab-pane fade" role="tabpanel" id="resource-justified" aria-labelledby="resource-tab-justified">
									<div class="box-content card white">
										<div class="box-title">농자재사용 지출계획</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>농자재소모현황코드</th>
															<th>카테고리</th>
															<th>품목명</th>
															<th>사용수량</th>
															<th>수량단위</th>
															<th>사용용량</th>
															<th>용량단위</th>
															<th>사용량금액환산</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
																<td th:text="${4}"></td>
																<td th:text="${5}"></td>
																<td th:text="${6}"></td>
																<td th:text="${7}"></td>
																<td th:text="${8}"></td>
																<td th:text="${9}"></td>
																<td th:text="${10}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddResourceUsePlan">농자재 지출계획등록
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 농자재관리 끝 -->
								
								<!-- 공과금관리 시작 -->
								<div class="tab-pane fade" role="tabpanel" id="taxPay-justified" aria-labelledby="taxPay-tab-justified">
									<div class="box-content card white">
										<div class="box-title">공과금 지출계획</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>공과금지출계획코드</th>
															<th>거래처명</th>
															<th>공과금항목</th>
															<th>납부월</th>
															<th>납부금액</th>
															<th>추가메모</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
																<td th:text="${4}"></td>
																<td th:text="${5}"></td>
																<td th:text="${6}"></td>
																<td th:text="${7}"></td>
																<td th:text="${8}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddTaxPayPlan">공과금 지출계획등록
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 공과금관리 끝 -->
								
								<!-- 생산물관리 시작 -->
								<div class="tab-pane fade" role="tabpanel" id="productGain-justified" aria-labelledby="productGain-tab-justified">
									<div class="box-content card white">
										<div class="box-title">생산물 수확계획</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>생산물수확계획코드</th>
															<th>카테고리</th>
															<th>품목명</th>
															<th>수확수량</th>
															<th>수확용량</th>
															<th>추가메모</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
																<td th:text="${4}"></td>
																<td th:text="${5}"></td>
																<td th:text="${6}"></td>
																<td th:text="${7}"></td>
																<td th:text="${8}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddProductGain">생산물 수확계획등록
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 생산물관리 끝 -->
								
								<!-- 기타비용관리 시작 -->
								<div class="tab-pane fade" role="tabpanel" id="etcPay-justified" aria-labelledby="etcPay-tab-justified">
									<div class="box-content card white">
										<div class="box-title">기타비용 지출계획</div>
										<div class="card-content">
											<div class="table-responsive">
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th>기타비용지출계획코드</th>
															<th>거래처명</th>
															<th>지출금액</th>
															<th>추가메모</th>
															<th>작성자</th>
															<th>작성일</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
															<tr>
																<td th:text="${1}"></td>
																<td th:text="${2}"></td>
																<td th:text="${3}"></td>
																<td th:text="${4}"></td>
																<td th:text="${5}"></td>
																<td th:text="${6}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
											<hr/>
											<div class="form-group t-center">
												<div class="row">
													<div class="col-md-6 col-md-offset-3">
														<button type="button" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btn-block" 
															data-toggle="modal" data-target="#planAddEtcPay">기타비용 지출계획등록
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 기타비용관리 끝 -->
							</div>
							<!-- 탭항목별컨텐츠 끝-->
								
							<hr>
							<div class="form-group t-center">
								<button type="submit" id="btnSize" class="btn btn-primary btn-md waves-effect waves-light btn-rounded btnSize">수정완료</button>
								<button type="button" th:value="|/plan/getSchedule?projectPlanCode=${projectPlanCode}|" onclick="moveAddSpend(this)" class="btn btn-success btn-md waves-effect waves-light btn-rounded btnSize">
									켈린더 돌아가기
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</th:block>
	
	<!-- 모달 시작 -->
	<th:block layout:fragment="customModals">
	
		<!-- planModals.html start -->
		<div th:replace="fragments/planModals :: planModalsFragment" th:remove="tag"></div>
		<!-- planModals.html end -->
	
	
	</th:block>
	<!-- 모달 끝 -->
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		
		<!-- CommonAjax Script -->
		<script src="/assets/scripts/commonAjax.js"></script>
		
		<!-- Flex Datalist -->
		<script th:src="@{/assets/plugin/flexdatalist/jquery.flexdatalist.min.js}"></script>
	
		<!-- Popover -->
		<script th:src="@{/assets/plugin/popover/jquery.popSelect.min.js}"></script>
	
		<!-- Select2 -->
		<script th:src="@{/assets/plugin/select2/js/select2.min.js}"></script>
	
		<!-- Multi Select -->
		<script th:src="@{/assets/plugin/multiselect/multiselect.min.js}"></script>
	
		<!-- Touch Spin -->
		<script th:src="@{/assets/plugin/touchspin/jquery.bootstrap-touchspin-custom-Pgs.js}"></script>
	
		<!-- Timepicker -->
		<script th:src="@{/assets/plugin/timepicker/bootstrap-timepicker.min.js}"></script>
	
		<!-- Colorpicker -->
		<script th:src="@{/assets/plugin/colorpicker/js/bootstrap-colorpicker.min.js}"></script>
	
		<!-- Datepicker -->
		<script th:src="@{/assets/plugin/datepicker/js/bootstrap-datepicker.min.js}"></script>
	
		<!-- Moment -->
		<script th:src="@{/assets/plugin/moment/moment.js}"></script>
	
		<!-- DateRangepicker -->
		<script th:src="@{/assets/plugin/daterangepicker/daterangepicker.js}"></script>
	
		<!-- Maxlength -->
		<script th:src="@{/assets/plugin/maxlength/bootstrap-maxlength.min.js}"></script>
	
		<!-- Demo Scripts -->
		<script th:src="@{/assets/scripts/form.custom.PGS.js}"></script>
		
		<!-- Data Tables -->
		<script src="/assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
		<script src="/assets/scripts/datatables.demo.min.js"></script>
		<script src="/assets/sys/myDataTable.js"></script>
		
		<!-- addSpend.html Scripts -->
		<script th:src="@{/assets/scripts/addSpend.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
			function moveAddSpend(btn){
					location.href = btn.value;
			};
		</script>
	</th:block>

</html>