<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>프로젝트계획 차수관리</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		프로젝트계획 차수관리
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss"></th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
	
		<div class="container-fluid">
		    <div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<div class="pull-left">
							<th:block th:if="${projectName != null}">
									<div style="font-size: 24px;" th:text="|${projectName} 프로젝트계획 차수관리|"></div>
							</th:block>
							<th:block th:unless="${projectName != null}">
								<div style="font-size: 24px;">프로젝트 계획 차수 관리</div>
							</th:block>
						</div>
						<div class="pull-right">
							<button type="button" class="btn btn-primary btn-sm waves-effect waves-light btn-rounded" onClick="location.href='/plan/getSchedule'">월간계획이동</button>
						</div>
						<div style="margin-top: 6px;">
							<small style="color: red; margin-left: 6px;"><i class="fa fa-lightbulb-o"> 차수를 클릭하면 상세보기가 가능합니다.</i></small>
						</div>
						<hr/>
						
						
						
						
						
						
						
						
						
					</div>
					<!-- /.box-content -->
				</div>
			</div>
		</div>
		
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript"></th:block>

</html>