<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>프로젝트 통합계획조회</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		프로젝트계획 통합계획조회
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
	
		<link rel="stylesheet" href="/assets/sys/sysStyle.css">
		<!-- Data Tables -->
		<link rel="stylesheet" href="assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
		
	</th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss"></th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
	
		<div class="container-fluid">
		    <div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<div class="pull-left">
							<th:block th:if="${projectName != null} and ${projectCode != null}">
									<input class="hidden" th:value="${projectCode}" id="projectCode"/>
									<div style="font-size: 24px;" th:text="|${projectName} 프로젝트계획 차수관리|"></div>
							</th:block>
							<th:block th:unless="${projectName != null}">
								<div style="font-size: 24px;">프로젝트 통합계획조회</div>
							</th:block>
						</div>
						<div class="pull-right">
							<button id="addProjectPlanBtn" type="button" class="btn btn-primary btn-sm waves-effect waves-light btn-rounded">프로젝트 n번째 통합계획생성</button>
						</div>
						<div style="margin-top: 6px;">
							<small style="color: red; margin-left: 6px;"><i class="fa fa-lightbulb-o"> 행을 클릭하시면 월간계획으로 이동 합니다.</i></small>
						</div>
						<hr/>
						<div class="table-responsive">
							<table id="example" class="table table-striped table-bordered display" style="width:100%">
								<thead>
									<tr>
										<th class="hidden">프로젝트별계획관리코드</th>
										<th>계획차수</th>
										<th>프로젝트이름</th>
										<th>사용토지면적</th>
										<th>시작일자</th>
										<th>종료일자</th>
										<th>총수입예산</th>
										<th>총지출예산</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${#lists.size(projectPlanNList) > 0}" th:each="pp : ${projectPlanNList}">
										<tr>
											<td class="hidden" th:text="${pp.projectPlanCode}"></td>
											<td th:text="|${pp.projectPlanN} 계획|"></td>
											<td th:text="${pp.projectName}"></td>
											<td th:text="${pp.projectArea}"></td>
											<td th:text="${pp.projectBegin}"></td>
											<td th:text="${pp.projectEnd}"></td>
											<td th:text="${pp.projectEstimateIncome}"></td>
											<td th:text="${pp.projectEstimateSpending}"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.box-content -->
				</div>
			</div>
		</div>
		
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<script src="/assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
		<script src="/assets/scripts/datatables.demo.min.js"></script>
		<script src="/assets/sys/myDataTable.js"></script>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
			
			$('#example tbody tr').click(function(){
				var tr = $(this);
				var tdText = tr.children().first().text();
				location.href = '/plan/getSchedule?projectPlanCode=' + tdText;
			});
			
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "등록된 프로젝트 계획이 없습니다",
			        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			        "infoEmpty" : "0명",
			        "infoFiltered" : "(전체 _MAX_ 농가 중 검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 프로젝트 계획이 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			$('#projectPlanNTable').sysDataTable(lang_kor);
			
			$('#addProjectPlanBtn').click(function(){
				var projectCode = $('#projectCode').val();
				console.log(projectCode);
				
				var request = $.ajax({
					  url: "/plan/addProjectPlan",
					  method: "POST",
					  data: { projectCode : projectCode },
					  dataType: "json"
					});
					 
					request.done(function( data ) {
						if(data > 0){
							swal({   
								title: "프로젝트 통합계획 생성이\n완료되었습니다",   
								type: "success",   
								confirmButtonColor: "#304ffe",   
								confirmButtonText: "확인", 
								closeOnConfirm: false,
								confirmButtonColor: '#304ffe',
							}, function(isConfirm){   
								if (isConfirm) { 
									location.href = '/plan?projectCode=' + projectCode;
								} 
							});
						}else{
							
						}
					});
					 
					request.fail(function( jqXHR, textStatus ) {
						swal({   
							title: "통합계획을 다시 생성 해주세요",   
							type: "warning",   
							showCancelButton: true,
							confirmButtonColor: "#DD6B55",   
							confirmButtonText: "확인", 
							closeOnConfirm: false,
							confirmButtonColor: '#f60e0e',
						}, function(isConfirm){   
							if (isConfirm) { 
								location.href = '/plan?projectCode=' + projectCode;
							} 
						});
					});
				
				
			});
			
		</script>		
	</th:block>

</html>