<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>휴면|탈퇴 예정일조회</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		휴면|탈퇴 예정일조회
	</th:block>
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
	
	
			
			<div class="box-content">
			<h3>휴면|탈퇴 예정일조회</h3>
					<hr>	
					<table id="expectedTable">
						<thead>
							<tr>
								<th>예정 코드</th>
								<th>아이디</th>				
								<th>자동휴면일</th>
								<th>자동탈퇴일</th>
							
							</tr>
						</thead>
						<tbody>
							<tr th:each="e : ${expectedList}">
								<td th:text="${e.autoRestNum}"></td>							
								<td th:text="${e.loginMemberId}"></td>
								<td th:text="${e.regDate}"></td>				
								<td th:text="${e.regDay}"></td>							
								
							
							</tr>
						
						</tbody>		
	
					</table>
				
			</div>
			
	</th:block>
		<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
	<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>		
	</th:block>
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "회원정보가 없습니다",
			        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			        "infoEmpty" : "0명",
			        "infoFiltered" : "(전체 _MAX_ 회원 중 검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 예정일이 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			$('#expectedTable').sysDataTable(lang_kor,[0]);
		</script>
		</th:block>
	

</html>