<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>권한등록</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		권한등록
	</th:block>
	
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<form th:action="@{/member/addAuthority}" method="post">
		
			<div class="container-fluid">
				<div class="row" >
					<div class="
					col-lg-offset-3 col-lg-6
					
					">
					
						<div class="box-content" style="border : 2px solid gray">
							<div class="box-content  t-center important-col" style="border-bottom : 2px solid #3BBD5A">
							
								<h3>권한등록</h3>
							</div>
							<div class="panel-body" >
								<div class="form-horizontal">
									<div class="form-group">
										<label for="levelName" class="col-sm-2 control-label" ><strong>권한명</strong></label>
									    <div class="col-sm-10">
									      <input type="text"  class="form-control" name="levelName" id="levelName" placeholder="권한명 입력">
									    </div>
									</div>
									<div class="form-group ">
										<div class="">
											<label class="col-sm-2 control-label"><strong>사용유무</strong></label>
										</div>
										<div class="radio success col-sm-2">
											<input type="radio" name="useStatus" id="Y" checked="checked" value="Y">
											<label for="Y">Y</label>
										</div>
									    <div class="radio success col-sm-2">
											<input type="radio" name="useStatus" id="N" value="N">
											<label for="N">N</label>
										</div>
									</div>
									      <input type="text" name="memberId"  th:value="${session.SID}" readonly="readonly"  id="memberId" hidden="">

									
										<div class="col-sm-offset-4">
											<button type="submit" id="Check" class="btn btn-success btn-rounded waves-effect waves-light ">등록</button>
											<a th:href="@{/member/getAuthority}"  class="btn btn-danger btn-rounded waves-effect waves-light">취소</a>	
											
										</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</form>
	</th:block>
	
	
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script>
		
	
			
			
				$('#Check').on('click',function(){
					
				
					if($('#levelName').val() == ""){
						
						 swal({
								title: "권한명을 입력 해주세요.",
								confirmButtonColor: '#304ffe'
							});
						$('#levelName').focus();
						return false;
					}
					
					
				})
				
				
		
		
		
		</script>
	
	</th:block>

</html>