<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>농가 회원조회</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		<a th:href="@{/farm}">농가관리</a>>농가 회원 조회
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
		<link rel="stylesheet" th:href="@{/assets/fonts/fontello/fontello.css}">
	</th:block>
		
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.levelBtn{
				width: 20px !important;
				margin: 0px !important;
				padding: 0px !important;
				text-align: center !important;
			}
			.levelBtnUp{
				color: blue !important;
			}
			.levelBtnDown{
				color: red !important; 
			}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class ="container-fluid">
			<div class ="row">
				<div class ="box-content">
					<h3>농가 회원 조회</h3>
					<hr>
					<table id="dataFarmTable">
						<thead>
							<tr>
								<th th:text = "${'농가회원코드'}"/>
								<th th:text = "${'농가코드'}"/>
								<th th:text ="${'회원아이디'}"/>
								<th th:text ="${'회원이름'}"/>
								<th th:text ="${'회원나이'}"/>
								<th th:text ="${'회원휴대폰'}"/>
								<th th:text ="${'권한코드'}"/>
								<th th:text ="${'권한'}"/>
								<th th:if ="${myMemberLevel == 'farm_level_1'}" th:text ="${'권한 수정'}"/>
								<th th:if ="${myMemberLevel == 'farm_level_1' OR myMemberLevel == 'farm_level_2'}" th:text ="${'추방'}"/>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="farmMember : ${farmMemberList}" class ="farmList">
								<td th:text = "${farmMember.farmMemberCode}"/>
								<td th:text = "${farmMember.farmCode}"/>
								<td th:text = "${farmMember.farmMemberId}"/>
								<td th:text = "${farmMember.member.memberName}"/>
								<td th:text = "${farmMember.farmMemberAge + '세'}"/>
								<td th:text = "${farmMember.member.memberPhone}"/>
								<td th:text = "${farmMember.farmLevelCode}"/>
								<td th:text = "${farmMember.farmLevelName}"/>
								<td th:if ="${myMemberLevel == 'farm_level_1'}"> 
									<button th:if="${farmMember.farmMemberId != session.SID}" type="button" th:href="@{#}" class ="btn btn-xs levelBtn levelBtnUp"><i class ="ico icon-up-big"></i></button>
									<button th:if="${farmMember.farmMemberId != session.SID}" type="button" th:href="@{#}" class ="btn btn-xs levelBtn levelBtnDown"><i class ="ico icon-down-big"></i></button>
								</td>
								<td th:if ="${myMemberLevel == 'farm_level_1' OR myMemberLevel == 'farm_level_2'}">
									<div th:if ="${farmMember.farmLevelCode != 'farm_level_1' AND farmMember.farmMemberId != session.SID AND farmMember.farmLevelCode != myMemberLevel}">
										<button th:if="${farmMember.farmMemberId != session.SID}" type="button" class ="btn btn-xs btn-danger leaverBtn" th:data-memberCode ="${farmMember.farmMemberCode}" th:data-farmCode ="${farmMember.farmCode}">추방</button>
									</div>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "농가 소속 회원이 없습니다",
			        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			        "infoEmpty" : "0명",
			        "infoFiltered" : "(전체회원 _MAX_ 명 중 검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 회원이 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			        
			$('#dataFarmTable').sysDataTable(lang_kor,[0,1,6]);
			
			$('.leaverBtn').click(function(){
				var farmMemberCode = $(this).attr('data-memberCode');
				var farmCode = $(this).attr('data-farmCode');
				
				swal({   
					title: "회원 추방",   
					text: "정말로 추방 하시겠습니까?",   
					type: "warning",   
					showCancelButton: true,   
					confirmButtonColor: "#DD6B55",   
					confirmButtonText: "네", 
					cancelButtonText: "아니요", 
					closeOnConfirm: true,
					closeOnCancel: true,
					confirmButtonColor: '#f60e0e',
				}, function(isConfirm){   
					if (isConfirm) 
					{
						var request = $.ajax({
        		               url:"/json/farmMemberLeaver",
        		               method:"post", 
        		               data : {
        		            	   "farmMemberCode":farmMemberCode,
        		            	   "farmCode":farmCode
        		            	   },
        		            });
        		            request.done(function(data){
        		            	console.log(data);
        		            	if('성공'==data){
        		            		location.reload();
        		            	}
								        		            	
        		            });
        		            request.fail(function( jqXHR, textStatus ){
        		               alert( "Request failed : " + textStatus );
        		            });
					} 
					
					
				});
					
			})
			
		</script>
	</th:block>

</html>