<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>내 농가</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		<a th:href="@{/farm}">농가관리</a>>내 농가
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.ceoBtn{
			width: 50px;
			}
			.swal2-popup{
			font-size: small !important;
			}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class ="container-fluid">
			<div class ="row">
				<div class ="box-content">
					<h3>내농가</h3>
					<hr>
						<table id="myFarmTable">
							<thead>
								<tr>
									<th th:text = "${'농가코드'}"/>
									<th th:text = "${'권한'}"/>
									<th th:text ="${'농가명'}"/>
									<th th:text ="${'대표자 아이디'}"/>
									<th th:text ="${'토지 면적'}"/>
									<th th:text ="${'주소'}"/>
									<th th:text ="${'농가 회원수'}"/>
									<th th:text ="${'농가 생성일'}"/>
									<th th:text ="${'농가 공개유무'}"/>
									<th th:text ="${''}"/>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="farm : ${myFarmList}" class ="farmList">
									<td th:text = "${farm.farmCode}"/>
									<td th:text = "${farm.farmMemberLevel}"/>
									<td class ="farmName" th:text = "${farm.farmName}"/>
									<td>
										[[${farm.ceoId}]]
										<button class ="btn btn-xs btn-warning ceoBtn" th:value="${farm.farmCode}">수정</button>
										
									</td>
									<td th:text = "${farm.farmArea}"/>
									<td th:text = "${farm.farmAddress}"/>
									<td th:text = "${farm.farmMemberCount + '명'}"/>
									<td th:text = "${farm.farmRegDate}"/>
									<td th:if = "${farm.farmPublicStatus == 'Y'}">공개</td>
									<td th:if = "${farm.farmPublicStatus == 'N'}">비공개</td>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog"></span></button> 
											<ul class="dropdown-menu">
												<li><a th:href="@{/farm/detailFarm(farmCode=${farm.farmCode},farmMemberLevel=${farm.farmMemberLevel})}">상세보기</a></li>
												<li><a th:href="@{/farm/getMemberFarm(farmCode=${farm.farmCode},farmMemberLevel=${farm.farmMemberLevel})}">회원조회</a></li>
												<li><a th:href="@{/projectListByFarmCode(farmCode=${farm.farmCode})}">프로젝트</a></li>
												<li><a th:href="@{/farm/getJoinFarm(farmCode=${farm.farmCode})}">가입신청 목록</a></li>
												<li><a th:href="@{/farm/getLeaverFarm(farmCode=${farm.farmCode})}">탈퇴신청 목록</a></li>
												<li><a th:href="@{/farm/modifyFarm(farmCode=${farm.farmCode},farmMemberLevel=${farm.farmMemberLevel})}">수정</a></li>
											</ul>
										</div>
									</td>
									
								</tr>
								
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
					
					
					
					
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>
		
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>	
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "내 농가가 없습니다",
			        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			        "infoEmpty" : "0명",
			        "infoFiltered" : "(전체 _MAX_ 농가 중 검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 농가가 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			$('#myFarmTable').sysDataTable(lang_kor,[0,1]);
			
			$('.ceoBtn').click(function(){
				var farmCode = $(this).val(); 
				var farmName = $(this).parent().parent().children('.farmName').text();
				
				
				var memberListAjax = $.ajax({
		               url:"/json/farmMemberList",
		               method:"post", 
		               data : {"farmCode":farmCode},
		            });
				memberListAjax.done(function(data){
		            	var selectValue ={};
		            	var placeholder = '회원이 없습니다';
		            	if(data.length > 0){
		            		placeholder = '회원을 선택해주세요';
			            	for(var i =0; i< data.length; i++){
			            		selectValue[data[i].farmMemberCode] = data[i].farmMemberId + "("+data[i].member.memberName +")";
			            	}
		            	}
		            	
		            	Swal.fire({
		            		  title: '대표 수정',
		            		  text : "농가명 : "+ farmName,
		            		  input: 'select',
		            		  inputOptions: selectValue,
		            		  inputPlaceholder: placeholder,
		            		  showCancelButton: true,
		            		  preConfirm : function(memberCode){
		            			  if('' != memberCode.trim()){
		            				  console.log(memberCode);
		            				var farmMemberId = $('.swal2-select option:selected').text();
		            				farmMemberId = farmMemberId.substr(0,farmMemberId.indexOf('('));
		            	
		            				var request = $.ajax({
		           		               url:"/json/modifyCeoFarm/",
		           		               method:"post", 
		           		               data : {
		           		            	   "farmMemberCode":memberCode,
		           		            	   "farmCode":farmCode,
		           		            	   "farmMemberId":farmMemberId
		           		            	   },
		           		            });
		           		            request.done(function(data,errorThrown){
		           		            	console.log(errorThrown + ': adfkljasdlfkjasdflj');
		           		            	console.log(data);
		           		            	if('성공' == data){
		           		            		location.reload();
		           		            	}
		           		            	else if('실패' == data){
		           		            		
		           		            	}
		           		            	else if('다시시도해주세요' == data){
		           		            		
		           		            	}
		           		            	
		           		            });
		           		            request.fail(function( jqXHR, textStatus ){
		           		               alert( "Request failed : " + textStatus );
		           		            });
		           		            
		           		            
		            			  }
		            		  }
		            		})
		            });
					memberListAjax.fail(function( jqXHR, textStatus ){
		               alert( "Request failed : " + textStatus );
		            });
		            
		            
			})
			
		</script>
	</th:block>

</html>