<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>프로젝트 조회</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		프로젝트 조회
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" href="assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
	</th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style>
			.noData {
				 text-align: center;
			}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class="box-content">
			<h3>농가별 프로젝트 조회</h3>
			<hr>
			<button class="btn btn-success"><a style="color:white" th:href="@{/projectAdd(farmCode=${farmCode})}">등록</a></button>
			<table th:if="${projectList!=null}" id="example" class="table table-striped table-bordered display" style="width:100%">
				<thead>
					<tr>
						<th>농가명</th>
						<th>프로젝트명</th>
						<th>작물명</th>
						<th>면적</th>
						<th>시작일</th>
						<th>종료일</th>
						<th>총수입예산</th>
						<th>총지출예산</th>
						<th>등록자아이디</th>
						<th>등록일</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pl:${projectList}">
						<td th:text="${pl.farm.farmName}"></td>
						<td><a th:href="@{/plan(projectCode=${pl.projectCode}, farmCode=${pl.farmCode})}" th:text="${pl.projectName}"></a></td>
						<td th:text="${pl.crop.cropName}"></td>
						<td th:text="${pl.projectArea}"></td>
						<td th:text="${pl.projectBegin}"></td>
						<td th:text="${pl.projectEnd}"></td>
						<td th:text="${pl.projectEstimateIncome}"></td>
						<td th:text="${pl.projectEstimateSpending}"></td>
						<td th:text="${pl.regMemberId}"></td>
						<td th:text="${pl.regDate}"></td>
						<td><a th:href="@{/projectModify(projectCode=${pl.projectCode}, farmCode=${pl.farmCode})}">수정</a></td>
						<td><a th:href="@{/projectRemoveByProjectCode(projectCode=${pl.projectCode}, farmCode=${pl.farmCode})}">삭제</a></td>
					</tr>
				</tbody>
			</table>
			<div class="noData" th:unless="${projectList!=null}">
				<h3>작성된 프로젝트가 없거나 해당 농가의 회원이 아닙니다.</h3>
				<button type="button" class="btn btn-success" id="returnBack">뒤로 가기</button>
			</div>
			
		</div>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<!-- Data Tables -->
		<script src="assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
		<script src="assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
		<script src="assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
		<script src="assets/scripts/datatables.demo.min.js"></script>
	
		<script src="assets/scripts/main.min.js"></script>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script>	
			$('#returnBack').on('click', function(){
				window.history.back();
			})
		</script>
	</th:block>

</html>