<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		Home
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
			button a:link { color: white; text-decoration: none;}
			button a:visited { color: white; text-decoration: none;}
			button a:hover { color: white; text-decoration: none;}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class ="box-content">
			<h3>메인화면</h3>
			<hr>
			<ul class="list-inline">
				<li class="margin-bottom-10"><button type="button" class="btn btn-default" style="cursor: default;">접속</button></li>
				<li class="margin-bottom-10"><i class="fa fa-arrow-right"></i></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/member'">한강희</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/farm'">송영석</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/project'">박영환</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/plan'">박금성</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/result'">서동훈</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/code'">유승범</button></li>
			</ul>
			<ul class="list-inline">
				<li class="margin-bottom-10"><button type="button" class="btn btn-default" style="cursor: default;">로그인</button></li>
				<li class="margin-bottom-10"><i class="fa fa-arrow-right"></i></li>
				<li class="margin-bottom-10">
					<form th:action="@{/member/login}" method="post">
						<input type="hidden" name="memberId" th:value="${'id001'}">
						<input type="hidden" name="memberPw" th:value="${'pw001'}">
						<button class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" type="submit">관리자 자동 로그인</button> 
					</form>
				</li>
				<li class="margin-bottom-10">
					<form th:action="@{/member/login}" method="post">
						<input type="hidden" name="memberId" th:value="${'id006'}">
						<input type="hidden" name="memberPw" th:value="${'pw006'}">
						<button class="btn btn-success btn-rounded btn-bordered waves-effect waves-light" type="submit">회원 자동 로그인</button>
					</form>
				</li>
			</ul>
		</div>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
				var farm = '[[${farm}]]';
			    var farmNameObj = JSON.parse(farm);
				var farmName = {"":"농가를 선택해주세요"};
				console.log(farmNameObj);
				var Data ={"":"프로젝트를 선택해주세요"};
				var WorkPhase = {"":"작업단계를 선택해주세요"};
			    for(var i=0; i < farmNameObj.length; i++)
			    {
			    	farmName[farmNameObj[i].farmCode] = farmNameObj[i].farmName;
			    }
			    //console.log(farm);
			    console.log(farmName);
				/*]]>*/
				const steps = ['농가', '프로', '작업']
				const swalQueueStep = Swal.mixin(
						{
						  input: 'select',
						  confirmButtonText: '다음 &rarr;',
						  reverseButtons: true,
						  allowOutsideClick: true,
						  validationMessage: 'This field is required',
						  inputAttributes: 
							{
								required: true
							},
						  inputOptions: 
						  	{
							    '농가명': farmName 
							},
						  progressSteps: steps
						}).queue([
						  {
						    title: '농가 선택',
						    text: '농가를 선택해 주세요',
							showLoaderOnConfirm: true,
						    preConfirm: function(farmCode)
						    {
						    	delete this.inputOptions.농가명;
							    this.inputOptions.project = Data;
						    },
						  },
						  {
							title: '프로젝트 선택',
							text: '프로젝트를 선택해 주세요',
							preConfirm: function(projectCode)
							{
						    	delete this.inputOptions.project;
							    this.inputOptions.WorkPhase = WorkPhase;
						    },
						  },
						  {
							title: '작업단계 선택',
							text: '작업단계를 선택해 주세요'
						  },
						]).then((result) => {
						  if (result.value) {
						    const answers = JSON.stringify(result.value)
						    console.log(result + "<< result")
						    if(result.value[0] != '' && result.value[1] != '' && result.value[2] != '' ){		//유효성(임시)
							    console.log(result.value[0] + "<< result.value")
							    setTimeout(function() 
							    {
						    		Swal.fire
						    		({
						                title: "선택 완료!",
						                confirmButtonText: '확인',
						            }).then(function()
						            	{
						            	console.log("muyahooooooooooooooooooooooooooooooooooooooooooooooooooooo")
						            	location.href ="/result/resultData?farmCode="+ result.value[0] +"&projectCode=" + result.value[1] + "&workPhaseCode=" + result.value[2];
						            	/* var request = $.ajax({
								               url:"/result/resultMain",
								               method:"post", 
								               data : {"farmCode":result.value[0], "projectCode":result.value[1],"workPhaseCode":result.value[2]},
								               datatype: "json",
								            });
						            	request.done(function(data){
						            		console.log(data + "clearrrrrrrrrrrrrrr")
						            		location.replace("/result/resultMain");
							            	}); */
							            });
						        }, 100);
						    }else{
						    	setTimeout(function() 
						    	{
						    		Swal.fire
						    		({
						                title: "다시!",
						                text: "다시 선택해 주세요!",
						            }).then(function()
						            {
						            	location.reload();
						            });
						        }, 100);
						    }
						  }
						})
				$('.swal2-select').change(function()
				{																	//농가코드를 선택할 경우 해당 농가코드의 프로젝트를 검색
					var farmCode = $(this).val();
					Data ={"":"프로젝트를 선택해주세요"};	//change가 바뀌었을 경우 초기화 해주기 위함
					var request = $.ajax({
			               url:"/result/getProjectNameByFarmCode",
			               method:"post", 
			               data : {"farmCode":farmCode},
			               datatype: "json",
			            });
			            request.done(function(data)
			            {
			            	
			            	for(var i=0; i < data.length; i++)
			            	{
			            		var code =  data[i].projectCode;
			            		var value = data[i].projectName;
			            		Data[code] = value;
			            	}
			            });
			            request.fail(function( jqXHR, textStatus )
			            {
			               alert( "Request failed : " + textStatus );
			            });
				});
				
				$('.swal2-confirm').click(function(){								//1페이지와 2페이지 구분을 위한 클래스 추가
					$('.swal2-select').addClass("project-select");
				})
				
			
				$(document).on('change', '.project-select', function(){					//동적바인딩으로 2번째 페이지에 이벤트 걸기
					var projectCode = $(this).val();
					WorkPhase ={"":"작업단계를 선택해주세요"};
					var request = $.ajax
						({
			               url:"/result/getWorkPhaseByFarmCode",
			               method:"post", 
			               data : {"projectCode":projectCode},
			               datatype: "json",
			            });
			            request.done(function(data)
			            {
				            	console.log(data + "project data");
				            	for(var i=0; i < data.length; i++)
				            	{
				            		var code =  data[i].WorkPhaseCode;
				            		var name = data[i].WorkPhaseName;
				            		console.log(code + "<< code" );
				            		WorkPhase[code] = name;
			            		}
			            });
			            request.fail(function( jqXHR, textStatus )
			            {
			               alert( "Request failed : " + textStatus );
			            });
				});
				
				$(document).on('click', '.swal2-progress-step', function(){				//동적 바인딩으로 진행 현황 버튼 클릭시 새로고침
					location.reload();
				})
				$(document).on('mouseover', '.swal2-progress-step', function(){				//동적 바인딩으로 진행 현황 버튼 클릭시 새로고침
					$('#swal2-title').addClass("glyphicon glyphicon-refresh")
					$('#swal2-title').text("")
					
				})
			</script>
	
	</th:block>

</html>