<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		Home
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss"></th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class ="box-content">
			메인화면
			<hr>
			<div class ="t-center">
				<a th:href ="@{/member}" class ="btn">한강희</a>
				<a th:href ="@{/farm}" class ="btn">송영석</a>
				<a th:href ="@{/project}" class ="btn">박영환</a>
				<a th:href ="@{/plan}" class ="btn">박금성</a>
				<a th:href ="@{/result}" class ="btn">서동훈</a>
				<a th:href ="@{/code}" class ="btn">유승범</a>
			</div>
		</div>
			<form th:action="@{/member/login}" method="post">
				<input type="hidden" name="memberId" th:value="${'id001'}">
				<input type="hidden" name="memberPw" th:value="${'pw001'}">
				<button class="btn" type="submit">관리자</button> 
			</form>
			
			<form th:action="@{/member/login}" method="post">
				<input type="hidden" name="memberId" th:value="${'id006'}">
				<input type="hidden" name="memberPw" th:value="${'pw006'}">
				<button class="btn" type="submit">회원</button> 
			</form>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript"></th:block>

</html>