<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		Home
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
		#subtit{background-color : #e8f2fe;}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
			<div class="box-content" th:fragment="testFragment">
				<div class="row" style="background-color : white;">				
					<div class="col-md-12" style="text-align:center;" > <h3>배포날짜 : 2021-04-05 </h3></div>
					<div class="col-md-12 m-t-sm m-b-sm">
						<table class="mb-0 table table-bordered">
							<tr>
								<td class="td-header text-center " id="subtit" ><Strong>프로젝트명</Strong></td>
								<td class="td-val">농사 계획일정 수립 및 실행결과에 따른 수입/지출 예측 및 비교를 해주는 농가경영 관리 시스템 </td>
								<td class="td-header text-center" id="subtit"><Strong>팀명</Strong></td>							
								<td class="td-val">이지팜(6명)</td>																
							</tr>
							<tr>
						<td class="td-header text-center"id="subtit"><Strong>목적</Strong></td>
						<td class="td-val">국가와 지자체들이 귀농인들을 유치하기 위해 많은 지원정책을 펼치고 있음에도
							귀농의 어려움으로 인해 <br> 사람들의 인식이 나빠지고 해마다 귀농을 희망하는 사람들이 줄어들고 있습니다.
							<br> <br> 또한 현재 생활하는 귀농인들의 만족 여부를 조사한 결과 불만족이라고 답변한 비율은
							7.3%였고 <br> 주요 불만족 사유로 영농 기술 부족과 자금부족을 뽑았습니다. (2019년 기준 귀농귀촌
							종합 센터 통계자료) <br> <br> 따라서 귀농인들의 만족도를 높이기 위해서는 성공적인 농사를
							도와 소득을 늘리는 것이 가장 필요하며 <br> 귀농인들의 만족도를 높임으로써 귀농에 대한 인식을 고쳐 더
							많은 사람들이 <br> 귀농을 고려하게 되어 도시-시골 간 인구 불균형 문제와 실업 문제 해결로 이어지게 될
							것입니다. <br> <br> 그러한 이유로 저희는 지출을 예측하고 작물에 따른 스케줄을 관리하여 <br>
							농사 실패 가능성을 줄이고 안정적인 소득을 통해 귀농인들이 <br> 성공적으로 정착할 수 있도록 돕기 위한
							목적으로 해당 프로젝트를 진행하게 되었습니다.
						</td>
						<td class="td-header text-center" id="subtit"><Strong>개발환경</Strong></td>
								<td class="td-val">
												▶OS : windows10 <br>
												<br>▶WAS : apache-tomcat-9.0.27 <br>
												<br>▶Web browser : Chrome <br>
												<br>▶Language : Java, javascript, HTML5, JQuery, CSS, thymeleaf  <br>
												<br>▶Framework :  bootstrap4, SpringFramework, Mybatis 3.0 <br>
												<br>▶DBMS : mySQL <br>
												<br>▶Tools : Spring Tool Suite4, GitHub, HeidiSQL <br>
								</td>														
							</tr>
							<tr>		
								<td class="td-header text-center" id="subtit"><Strong>박금성</Strong></td>
								<td colspan="3"><textarea style="width: 100%; height: 200px; resize: none;" readonly="readonly">
								8.프로젝트별 계획 관리

8.1 프로젝트별 통합계획 관리
- 프로젝트별 통합계획 생성/조회
- 프로젝트별 통합계획에서 월간계획 버튼 클릭시 해당 프로젝트 계획캘린더로 이동

8.2 계획 캘린더 관리
- fullcalendar를 사용해 어떤 계획이 어떤 기간에 있는지 캘린더에 표시하는 기능
- 캘린더에 표시된 작업단계 계획 클릭시 해당 단계의 지출계획 작성하는 기능
- 작성한 계획 클릭후 수정버튼 클릭시 해당 지출계획 수정하는 기능

8.3 계획 조회
- 캘린더에서 작성한 계획을 실시간으로 확인하는 기능
- 계획들을 차수, 프로젝트, 작업단계, 상세항목별로 조회하고, 해당 단계의 지출액을 확인하는 기능
								</textarea>
								</td>
							</tr>
							<tr>		
								<td class="td-header text-center" id="subtit"><Strong>한강희</Strong></td>
								<td colspan="3">
									<textarea style="width: 100%; height: 200px; resize: none;" readonly="readonly">
1.회원가입
- 아이디,비밀번호,이메일,전화번호,성별,주소,성명 입력
- 이메일 인증을 통한 본인인증
- 아이디, 이메일, 주민등록번호, 핸드폰, 이름, 비밀번호 유효성 검사
회원 수정   (관리자,회원)
- 회원 정보 수정
회원 탈퇴   (관리자,회원)
- 회원 탈퇴시 탈퇴회원 자동등록
회원 조회   (관리자)
- 관리자가 모든회원 조회&검색
- 한번에 볼수 있는 열 갯수 변경 가능 (10,25,50,100줄)

회원 상세보기(관리자,회원)
- 정보 상세보기 & 이메일 변경
   
1.2 회원권한 관리 (관리자)
- 회원권한 등록
- 회원권한 수정
- 권한 삭제   
- 회원권한 조회&검색
   
1.3 회원 신고
- 회원신고시 승인을위해 관리자의 신고목록으로 등록   
- 회원신고내용 수정&취소 기능
- 관리자가 신고목록에서 승인&반려가능
- 승인시 신고사유에등록된 기준일로 자동정지
- 반려시 반려사유+진행상태 변경 

1.3.1 회원신고 사유 리스트         
- 회원신고 사유 리스트 등록기능
- 회원신고 사유 리스트 수정기능
- 회원신고 사유 리스트 삭제기능
- 회원신고 사유 리스트 조회기능
   
1.4 정지회원 관리
- 정지회원 조회기능
- 자동 정지해제기능

1.5 휴면/탈퇴 관리
- 휴면/탈퇴 기준일 등록
- 휴면/탈퇴 기준일 수정   
- 휴면/탈퇴 기준일 조회
   
1.5.1 휴면탈퇴 예정일 관리
- 휴면탈퇴 예정일 자동 업데이트
- 자동탈퇴 회원 등록시 회원상태 탈퇴로 변경      
- 탈퇴회원 등록
1.6 자유게시판
- 자유게시판 등록
- 자유게시판 수정
- 자유게시판 삭제
- 댓글기능


2. 로그인관리     
       
- 로그인 기능
- 로그아웃 기능
- 아이디/비밀번호찾기
- 휴면계정 해제 기능(휴면계정 로그인시도시 휴면해제 창 나옴)   </textarea>
								</td>
							</tr>
							<tr>		
								<td class="td-header text-center" id="subtit"><Strong>유승범</Strong></td>
								<td colspan="3"><textarea style="width: 100%; height: 200px; resize: none;" readonly="readonly">


 코드 관리
- 관리자 권한일 경우에만 아래항목의 코드등록기능 활성화
- 작물코드 리스트, 작업단계리스트, 상세작업항목, 품목 카테고리리스트, 공과금 카테고리 리스트, 고객센터 화면으로 이동할수 있는 버튼

3.1 작물코드 리스트 조회
- 검색기능 입력값을 포함하고잇는 해당 열 노출
- 한번에 볼수 있는 열 갯수 변경 가능 (10,25,50,100줄)
- 페이징 기능
- 데이터테이블 솔팅 가능
- 관리자 권한일 경우 수정,삭제버튼 활성화

3.2 작물코드 등록
- 작물 카테고리 선택
- 작물명 중복확인기능 , 데이터중복일시 중복확인과정을 통과할때까지 등록제한

3.3 작물코드 수정 삭제

4.1 작업단계 리스트 조회
- 리스트 조회시 기본적으로 정렬셋팅 1차적으로 작물명, 2차로 작업단계순서대로 정렬
- 상세작업항목 리스트 조회
- 상세작업항목 등록

4.2 작업단계 등록
- 작물과 작업단계가 동시에 기존데이터와 일치 할때만 중복확인이 이루어짐
- 작업단계명이 공백일경우 데이터등록제한

4.3 작업단계 수정, 삭제

4.4 상세작업항목 리스트 조회,등록,수정,삭제
4.5 품목카테고리 리스트조회,등록,수정,삭제
4.6 공과금카테고리 리스트조회,등록,수정,삭제
4.7 공통농기계코드 리스트조회,등록,수정,삭제

5. 고객센터

5.1 1:1문의 게시판
- 기본적으로 글을 읽기 위해 비밀번호를 입력해야함
- 관리자 권한은 비밀번호에 상관없이 조회가능
- 관리자의 답변이 달렸다면 답변대기상태에서 답변완료상태로 변경

5.2 문의 등록
- 비회원도 사용가능
- 작성자명, 휴대폰번호, 이메일, 비밀번호를 사용자가 직접입력

5.3 관리자 답변
- 답변등록시 자동으로 메일발송
								</textarea>
								</td>
							</tr>
							<tr>		
								<td class="td-header text-center" id="subtit"><Strong>송영석</Strong></td>
								<td colspan="3"><textarea style="width: 100%; height: 200px; resize: none;" readonly="readonly">
6. 농가 관리

6.1 농가 가입/탈퇴 관리

내가 신청한 가입목록 조회 / 취소
- 내 가입신청이 처리가 안된 목록만 조회
- 목록중에 취소하고싶은 신청 취소

내가 신청한 탈퇴,추방 목록 조회 / 취소
- 내 탈퇴,추방 목록 조회
- 목록중에 처리가 안된 탈퇴신청 취소

6.2 농가등록/설정

- 농가명, 토지면적, 주소, 공개유무 입력
- 농가명 중복 불가능
- 농가명 한글과 숫자로만(첫번째 글자 숫자 불가능)
- 농가등록시 등록한사람을 농가 대표로 등록

- 농가명을 제외한 모든 정보를 수정가능
- 대표수정은 대표만 가능 / 농가회원중에 선택

6.3 농가검색 & 가입신청
- 내가 가입한 농가와, 비공개 농가를 제외한 목록을 조회
- 목록중에 선택해서 가입신청
- 가입신청 중복불가

6.4 농가회원관리 (매니저,농가대표)
- 농가에 소속된 전체 회원 조회

6.4.1 농가 가입신청 승인/거부 (매니저,농가대표)
- 농가에 가입신청한 회원목록 조회
- 농가에 가입신청한 회원 승인 / 거부
- 농가에 탈퇴신청 목록 조회
- 농가에 탈퇴신청한 회원 승인 / 거부 농가

6.4.2 회원 수정 (매니저,농가대표)
- 농가에 소속된 회원들 등급 수정
- 농가에 소속된 회원 추방
								</textarea>
								</td>
							</tr>
							<tr>		
								<td class="td-header text-center" id="subtit"><Strong>서동훈</Strong></td>
								<td colspan="3"><textarea style="width: 100%; height: 200px; resize: none;" readonly="readonly">
9. 실행결과 관리

9.1 결과 캘린더 관리
- 계획 캘린더에서 실행 버튼 클릭시 해당 월의 실행 캘린더로 이동
- 계획에서 등록한 작업단계와 지출항목을 가져와 실행 캘린더에 표시하는 기능
- 실행 캘린더 일자 클릭시 지출항목별 실행 결과를 작성하는 기능
- 작성해 마감한 실행결과를 수정하는 기능

9.3 데이터 조회
- 로그인한 회원에 한해서만 기능 사용
- 조건별 검색이 필요한 데이터의 조건을 알람창으로 선택하는 기능
- 회원 소속 농가 자동선택- 농가별 프로젝트- 프로젝트 차수-작업단계 선택 후 그에 따른 데이터 조회 가능
- 데이터 요약 테이블에서 단계별 총 비용 조회 기능
- 데이터 요약 테이블 지출 항목별 합산금액 조회 기능
- 상세보기 탭에서 각 단계별 지출항목명에 대한 상세정보 조회 기능
10. 재고자산 관리
- 실행결과에서의 재고자산에 대한 구매량과 소모량 비교하는 기능
- 농가 내 재고 잔여량을 표시해주는 기능
- 재고 품목마다 오차 수정 버튼이 있고 버튼 클릭 시 해당 재고의 오차가 0이 되도록 수정</textarea>
								</td>
							</tr>
							<tr>		
								<td class="td-header text-center" id="subtit"><Strong>박영환</Strong></td>
								<td colspan="3"><textarea style="width: 100%; height: 200px; resize: none;" readonly="readonly">
								7. 프로젝트 관리
7.1 프로젝트 리스트 조회
- 세션에서 받아온 회원 아이디와 url에 있는 농가 코드를 기준으로
로그인한 회원이 해당 농가의 프로젝트 목록을 조회

7.2 프로젝트 등록
- 프로젝트명, 작물, 프로젝트 면적, 시작일, 종료일, 총수입예산, 총지출예산, 프로젝트 작업단계 입력
- 프로젝트명, 작물, 시작일, 종료일, 프로젝트 작업단계는 입력 필수
- 작물 리스트 작물 카테고리 클릭 시 해당 작물 카테고리에 맞는 작물 리스트 출력
- 작물 선택 시 인풋 박스에 값 넣고 작물별 작업단계 리스트 체크박스 형태로 출력
- 작물별 작업단계 체크하고 등록 버튼 클릭 시 프로젝트별 작업단계로 저장

7.3 프로젝트 수정
- 작물과 등록자 id를 제외한 정보들 수정 가능

7.4 프로젝트 삭제
- 프로젝트 삭제 시 해당 프로젝트 코드를 참조하는 프로젝트 작업단계도 삭제</textarea>
								</td>
							</tr>
					</table>
						
					</div>	
				</div>	
			</div>
			<div class="box-content">
			@@@@@@@@@@@@@@@@@@@@@@@
			</div>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript"></th:block>

</html>