<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		Home
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
			button a:link { color: white; text-decoration: none;}
			button a:visited { color: white; text-decoration: none;}
			button a:hover { color: white; text-decoration: none;}
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents">
		<div class ="box-content">
			<h3>메인화면</h3>
			<hr>
			<ul class="list-inline">
				<li class="margin-bottom-10"><button type="button" class="btn btn-default" style="cursor: default;">접속</button></li>
				<li class="margin-bottom-10"><i class="fa fa-arrow-right"></i></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/member'">한강희</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/farm'">송영석</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/project'">박영환</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/plan'">박금성</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/result'">서동훈</button></li>
				<li class="margin-bottom-10"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" onClick="location.href='/code'">유승범</button></li>
			</ul>
			<ul class="list-inline">
				<li class="margin-bottom-10"><button type="button" class="btn btn-default" style="cursor: default;">로그인</button></li>
				<li class="margin-bottom-10"><i class="fa fa-arrow-right"></i></li>
				<li class="margin-bottom-10">
					<form th:action="@{/member/login}" method="post">
						<input type="hidden" name="memberId" th:value="${'id001'}">
						<input type="hidden" name="memberPw" th:value="${'pw001'}">
						<button class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light" type="submit">관리자 자동 로그인</button> 
					</form>
				</li>
				<li class="margin-bottom-10">
					<form th:action="@{/member/login}" method="post">
						<input type="hidden" name="memberId" th:value="${'id006'}">
						<input type="hidden" name="memberPw" th:value="${'pw006'}">
						<button class="btn btn-success btn-rounded btn-bordered waves-effect waves-light" type="submit">회원 자동 로그인</button>
					</form>
				</li>
			</ul>
		</div>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript"></th:block>

</html>