<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>회원상세정보</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		회원 상세정보
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style>
		
		

		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents" th:with="m = ${member}">
<!-- 	<form th:action="@{/member/modifyMember}" method="get"> -->
	
	
	<div class="container-fluid">
			<div class="row">
			
				<div class="box-content">
					<h3>회원 상세보기</h3>
					<hr>
						<div class=" col-sm-3 ">
						
							<!-- <a href="" class="avatar"><img th:src="@{/assets/images/avatar-sm-5.jpg}"  style="width: 50%;" alt=""><span class="status online"></span></a> -->
				<input type=file name='file1' style='display: none;'> 



						</div>
					<div class="col-sm-6 col-sm-offset-2" style="margin-left: 0px;">
						<table class="table"  th:with="m = ${member}">
							<tbody>
								<tr>
									<th>ID</th>
									<td th:text="${m.memberId}"></td>
								</tr>
								<tr>
									<th>번호</th>
									<td th:text="${m.memberPhone}"></td>
								</tr>
								<tr>
									<th>이메일</th>
									<td th:text="${m.memberEmail}"></td>
								</tr>
								<tr>
									<th>주소</th>
									<td th:text="${m.memberAddress}"></td>
								</tr>
								<tr>
									<th>회원 가입일자</th>
									<td th:text="${m.memberRegDate}"></td>
								</tr>
							
							
							</tbody>
							
						
						</table>
						<a th:href="@{/member/modifyMember(memberId = ${m.memberId})}"><button type="button"  class="btn btn-success btn-rounded btn-bordered waves-effect waves-light" >수정</button></a>
						<a th:href="@{/}" style="color: white;"><button type="button" class ="btn btn-success btn-rounded btn-bordered waves-effect waves-light" > 메인 </button></a>
					</div>
				</div>

			</div>
		</div>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		
	</th:block>

</html>