<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>회원 조회</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		회원 조회
	</th:block>
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
	
			
	
	</th:block>
	
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.row{
					padding :0;
				}
		</style>
	</th:block>
		
	
	<th:block layout:fragment="customContents">
	
	
			
			
			
			<div class="box-content">
					<table id="example" class="table table-striped table-bordered display" style="width:100%">
						<thead>
							<tr>
								<th>회원 아이디</th>
								<th>회원 이름</th>
								<th>회원 권한</th>
								<th>회원 성별</th>					
								<th>회원 등록일자</th>
								<th>회원 상태</th>
								<th>설정</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${memberList}">
								<td th:text="${l.memberId}"></td>						
								<td th:text="${l.memberName}"></td>				
								<td th:text="${l.LevelName}"></td>			
								<td th:text="${l.memberGender}"></td>				
								<td th:text="${l.memberRegDate}"></td>
								<td th:text="${l.memberStatus}"></td>
								
								<td th:if = "${session.SLEVEL == '관리자'}">
									<div class="btn-group">
										<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog"></span></button> 
										<ul class="dropdown-menu">
											<li><a th:href ="@{/member/detailMember(memberId=${l.memberId})}">상세보기</a></li>
											<li th:if = "${session.SLEVEL == '관리자' && l.memberStatus != '탈퇴'}"><a th:href ="@{/member/modifyMember(memberId=${l.memberId})}">수정</a></li>
											<li th:if = "${session.SLEVEL == '관리자' && l.memberStatus != '탈퇴'}"><a th:href ="@{/member/removeMember(memberId=${l.memberId})}">탈퇴</a></li>
										</ul>
									</div>
								</td>
							</tr>
							
							
						</tbody>		
						
					</table>
				
			</div>
			
			
	</th:block>
	
	
	
		<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<script src="/assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
		<script src="/assets/scripts/datatables.demo.min.js"></script>
		
	</th:block>
	

	
	