<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>회원 조회</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		회원 조회
	</th:block>
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.row{
					padding :0;
				}
		</style>
	</th:block>
		
	
	<th:block layout:fragment="customContents">
	
	
			
			
			
			<div class="box-content">
					<table id="memberTable" >
						<thead>
							<tr>
								<th>회원 아이디</th>
								<th>회원 이름</th>
								<th>회원 권한</th>
								<th>회원 성별</th>					
								<th>회원 등록일자</th>
								<th>회원 상태</th>
								<th th:if = "${session.SLEVEL == '관리자'}">설정</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${memberList}">
								<td th:text="${l.memberId}"></td>						
								<td th:text="${l.memberName}"></td>				
								<td th:text="${l.LevelName}"></td>			
								<td th:text="${l.memberGender}"></td>				
								<td th:text="${l.memberRegDate}"></td>
								<td th:text="${l.memberStatus}"></td>
								
								<td th:if = "${session.SLEVEL == '관리자'}">
									<div class="btn-group">
										<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog"></span></button> 
										<ul class="dropdown-menu">
											<li><a th:href ="@{/member/detailMember(memberId=${l.memberId})}">상세보기</a></li>
											<li th:if = "${session.SLEVEL == '관리자' && l.memberStatus != '탈퇴'}"><a th:href ="@{/member/modifyMember(memberId=${l.memberId})}">수정</a></li>
											<li th:if = "${session.SLEVEL == '관리자' && l.memberStatus != '탈퇴'}"><a th:href ="@{/member/removeMember(memberId=${l.memberId})}">탈퇴</a></li>
										</ul>
									</div>
								</td>
							</tr>
							
							
						</tbody>		
						
					</table>
				
			</div>
			
			
	</th:block>
	
	
	
		<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>
		
	</th:block>
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "",
			        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			        "infoEmpty" : "0명",
			        "infoFiltered" : "(전체 _MAX_ 회원 중 검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 회원이 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			$('#memberTable').sysDataTable(lang_kor,[0]);
		</script>
		</th:block>

	
	