<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<!-- 화면 title 설정 -->
	<th:block layout:fragment="customTitle">
		<title>아이디 찾기</title>
	</th:block>
	
	<!-- 위에 네비 메뉴에 표시되는 경로 타이틀 -->
	<th:block layout:fragment="pageTitle">
		<a th:href="@{/member/detailMember(memberId=${session.SID})}">내정보</a>-이메일변경
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib"></th:block>
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<style type="text/css">
		
			.modal-content{
				        display: none;
				        width: 500px;
				        height: 200px;
				        position: absolute;
				        top:50%;
				        left: 50%;
				        margin: -200px 0 0 -250px;
				        background:white;
				        z-index: 2;
				    }
		</style>
	</th:block>
	
	
	<!-- 컨텐츠 작성은 여기서  ↓ ↓ ↓ -->
	<th:block layout:fragment="customContents"  th:with="m = ${member}"> 
	
		
		<form th:action="@{/member/modifyEmail}" method="Post">				
			<div class="container-fluid">
				<div class="row" >
					<div class="
					col-lg-offset-3 col-lg-6
					
					">
						<div class="box-content" style="border : 2px solid gray">
							<div class="box-content  t-center important-col" style="border-bottom : 2px solid #3BBD5A">
							
								<h3>이메일 변경</h3>
							</div>
							<div class="panel-body" >
						
								<div class="form-horizontal">
								<div class="form-group" >
										<input type="hidden" th:value="${m.memberId}" id="memberId" name="memberId" >
										<label for="memberEmail" class="col-sm-2 control-label"><strong>이메일</strong></label>
									    <div class="col-sm-6">
									      <input type="email" class="form-control" name="memberEmail" th:value="${m.memberEmail}" id="memberEmail" placeholder="test@email.com">
									      <span class="email-text"></span>
									    </div>
									    <div class="col-sm-1">
									   	  <button type="button" class="sendMail btn btn-success btn-rounded btn-bordered waves-effect waves-light">인증</button>
									    </div>
									</div>
									<div class="form-group">
										<label for="memberEmail" id="certified2" style="display: none;" class="col-sm-2 control-label"><strong>인증번호</strong></label>
										 <div class="col-sm-6">
									     <input type="text" class="form-control" name="" id="certified" placeholder="인증번호" style="display: none;">
									     <span class="compare-text"></span>
									     </div>
									   	 <div class="col-sm-1">
									   	 <button type="button" class="compare btn btn-success btn-rounded btn-bordered waves-effect waves-light" id="compare" style="display: none;">인증</button>
									   	 </div>
									</div>		
									<div class="form-group">	
										<div class="col-sm-offset-4">
											<button type="submit"  class="btn btn-success btn-rounded waves-effect waves-light" id="idResult">확인</button>		
											<a th:href="@{/member/detailMember(memberId = ${m.memberId})}" ><button type="button" class="btn btn btn-danger btn-rounded waves-effect waves-light">취소</button>	</a>	
										</div>
										
									</div>	
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</form>
	</th:block>
	
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib"></th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
	
	<script>
		var key = "";
		var isCertification = "";
		var msg = "";
		var memberId = "";
		
			  $(".sendMail").click(function() { // 메일 입력 유효성 검사
					var mail = $("#memberEmail").val(); //사용자의 이메일 입력값. 
					if (mail == "") {
						
						alert("메일 주소가 입력되지 않았습니다.");
					} else {
					
						$.ajax({
							type : 'post',
							url : '/checkMail',
							data : {mail:mail},
							dataType :'json',
							success: function(data){
								$(".email-text").text("").css("color", "red");						
								key = data.mailAuthKey;
								msg = data.msg;
								console.log(key);
								console.log(msg);
											
								$(".email-text").text(msg).css("color", "red");
								if(key != null && key != ""){
									$("#certified").attr('style','display: block');
									$("#certified2").attr('style','display: block');
									$(".compare").attr('style','display: block');
									alert("인증번호가 전송되었습니다.");
								}
							}
							
		
						});
						
						isCertification=false; //추후 인증 여부를 알기위한 값
						
					}
					
					
				});
			  
			  
			  
			  $(".compare").on("click", function() {
					 
					
					 if($("#certified").val() != ""){
						 					
						if ($("#certified").val() == key) {   //인증 키 값을 비교를 위해 텍스트인풋과 벨류를 비교
							$(".compare-text").text("인증 성공!").css("color", "black");
							isCertification = true;  //인증 성공여부 check
						}else{
							$(".compare-text").text("불일치!").css("color", "red");
							isCertification = false; //인증 실패
						}
					 }else{
						 $(".compare-text").text("불일치!").css("color", "red");
							isCertification = false; //인증 실패
					 }
					
				});
			  
			  $("#memberEmail").on("keyup",function(){
					isCertification = false;
					key ="";
					$("#certified").attr('style','display: none');
					$("#certified2").attr('style','display: none');
					$(".compare").attr('style','display: none');
					$(".compare-text").text("").css("color", "red");
					
			  });
			  
			  $("#idResult").on("click",function(){
				  var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
				  
				  if($('#memberEmail').val() == ""){
						 swal({
								title: "이메일을 입력 해주세요.",
								confirmButtonColor: '#304ffe'
							});
						$('#memberEmail').focus();
						return false;
					}
					
					if(!isCertification){			
						 swal({
								title: "메일 인증이 완료되지않았습니다.",
								confirmButtonColor: '#304ffe'
							});
						return false;
					}
					
					if(!getMail.test($('#memberEmail').val())){
						 swal({
								title: "이메일을 형식에 맞게 입력 해주세요.",
								confirmButtonColor: '#304ffe'
							});
						$('#memberEmail').val("");
						$('#memberEmail').focus();
						return false;
					}
					
			  });
			
	</script>
	
	
	
	
	</th:block>