<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>회원등록</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		회원조회 - 회원수정
	</th:block>

	<th:block layout:fragment="customJavaScript">
		
	
		<script th:src="@{/assets/scripts/modifyMember.js}"></script>
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	</th:block>
	<th:block layout:fragment="customCss">
		<style>
		.fo {
		  width: 200px;
		  height: 200px;
		  object-fit: cover;
		}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents"  th:with="m = ${member}">
	
	
		<form th:action="@{/member/modifyMember}" method="post">
		
			<div class="container-fluid">
				<div class="row" >
					<div class="
					col-lg-offset-2 col-lg-7
					
					">
					
						<div class="box-content" style="border: 2px solid #3BBD5A" >
							<div class="box-content t-center important-col" style="border-bottom : 2px solid gray;" >
								<h3>회원수정</h3>
							</div>
							<div class="panel-body" >
								<div class="form-horizontal">
									<div class="form-group">
										<label for="memberImg" class="col-md-3 control-label" ><strong>프로필</strong></label>
									    <div class="col-md-6">
									    	<a href="#"><img th:if="${m.memberImg != null and m.memberImg != ''}" th:src="@{${m.memberImg}}"  alt="" class="fo col-sm-offset-3" id="img"></a>
									    	<a href="#"><img th:if="${m.memberImg == null and m.memberImg == ''}" th:src="@{/assets/images/none-profile.jpg}"  alt="" class="fo col-sm-offset-3" id="img"></a>
											<input type="file" class="file" style="display: none;">
											<button type="button" style="margin-top: 10px;" class=" col-sm-offset-4 btn btn-success btn-rounded btn-bordered waves-effect waves-light addressBtn" id="profileStorage">프로필저장</button>
									    </div>				   					   
									</div>
									<div class="form-group">								
									</div>
									<div class="form-group">
										<label for="memberId" class="col-md-3 control-label" ><strong>아이디</strong></label>
									    <div class="col-md-8">
									      <input type="text" size="15" class="form-control" name="memberId" id="memberId" readonly="readonly" th:value="${m.memberId}" >
									    </div>				   					   
									</div>
									<div class="form-group">
										<label for="memberPw" class="col-md-3 control-label"><strong>비밀번호</strong></label>
									    <div class="col-md-8">
									      <input type="password" size="15" class="form-control" name="memberPw" id="memberPw" th:value="${m.memberPw}" placeholder="4~12자의 영문 대소문자와 숫자로만 입력">
									    </div>
									</div>
									<div class="form-group">
										<label for="memberPwCheck" class="col-md-3 control-label"><strong>비밀번호확인</strong></label>
									    <div class="col-md-8">
									      <input type="password" size="15" class="form-control" name="memberPwCheck" id="memberPwCheck" th:value="${m.memberPw}" placeholder="비밀번호확인">
									    </div>
									</div>
								
				
									<div class="form-group">
										<label for="memberPhone" class="col-md-3 control-label"><strong>휴대폰번호</strong></label>
									    <div class="col-md-8">
									      <input type="tel" size="12" class="form-control" name="memberPhone" id="memberPhone" th:value="${m.memberPhone}" placeholder="000-0000-0000">
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL == '관리자'}">
										<label  class="col-md-3 control-label"><strong>권한</strong></label>
									    <div class="col-md-8" >
									      <select  id="levelCode" name="levelCode" class="form-control" >
									      	<option th:each="l : ${levelList}" th:value="${l.levelCode}" th:text="${l.levelName}"></option>
									      	
									      </select>
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL != '관리자'}">
									   	 <input type="hidden" class="form-control" name="levelCode" id="levelCode" th:value="${m.levelCode}">
									   
									</div>
								
									
									<div class="form-group">
										<label for="memberAddress" class="col-md-3 control-label"><strong>주소</strong></label>
									    <div class="col-md-5">
									      <input type="text" class="form-control" name="memberAddress"  id="memberAddress" th:value="${m.memberAddress}" placeholder="도로명 주소">
									      <span id="guide" style="color:#999"></span>
									      
									    </div>
									     <div class="col-md-1">
											<button type="button" class="btn btn-success btn-rounded btn-bordered waves-effect waves-light addressBtn" onclick="sample4_execDaumPostcode()">주소검색</button>
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL == '관리자'}">
									    <label class="col-md-3 control-label"><strong>상태</strong></label>
									    <div class="col-md-8">
									      <select id="memberStatus" name="memberStatus" class="form-control">
									      	<option value="정상">:: 정상 ::</option>
									      	<option value="정지">:: 정지 ::</option>
									      	<option value="휴면">:: 휴면 ::</option>
									      	
									      </select>
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL != '관리자'}">
									   	 <input type="hidden" class="form-control" name="memberStatus" id="memberStatus" th:value="${m.memberStatus}" >
									   
									</div>
									<hr>
									<div class="form-group">
										<div class="col-md-offset-4">			
											<button type="submit" id="addCheck" class="btn btn-success btn-rounded waves-effect waves-light">수정</button>
											<a th:href="@{/}" class="btn btn-danger btn-rounded waves-effect waves-light">취소</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</th:block>
	
	

</html>