<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>회원등록</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		회원조회 - 회원수정
	</th:block>
	
	<th:block layout:fragment="customCss">
	<style>
			button {
		    border: 0;
		    border-radius: 0;
		    padding: 0;
		    outline: none;
		    cursor: pointer;
		    background-color: transparent;
		    font-family: 'Noto Sans KR', sans-serif;
		    
		}
		.btn {
		    
		    width: 100%;
		  
		    
		}
		
		   
	
		
	</style>
	</th:block>
	<th:block layout:fragment="customJavaScript">
		
	
		<script type="text/javascript">
			
		$(function(){

			
			$('#addCheck').click(function(){
							
				
				var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
				var getCheck= RegExp(/^[a-zA-Z0-9]{4,12}$/);
				var phoneNumberRegex = /^[0-9]{3}-[0-9]{4}-[0-9]{4}$/;
				
				
				
				if($('#memberPw').val() == ""){
					 swal({
							title: "비밀번호를 입력 해주세요.",
							confirmButtonColor: '#304ffe'
						});
					$('#memberPw').focus();
					return false;
				}
				if(!getCheck.test($('#memberPw').val())){
					swal({
						title: "비밀번호를 형식에맞게 입력 해주세요.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberPw').val("");
					$('#memberPw').focus();
					return false;
				}
				if($('#memberPw').val() == $('#memberId').val()){
					swal({
						title: "아이디 비밀번호가 같습니다.",
						confirmButtonColor: '#304ffe'
					});
					$("#password").val("");
					$('#memberPw').focus();
					return false;
				}
				if($('#memberPw').val() != $('#memberPwCheck').val()){
					swal({
						title: "비밀번호가 같지않습니다.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberPwCheck').focus();
					return false;
				}
				
				if($('#memberPhone').val() == ""){
					swal({
						title: "휴대폰번호를 입력 해주세요.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberPhone').focus();
					return false;
				}
				
				if(!phoneNumberRegex.test($('#memberPhone').val())){
					swal({
						title: "휴대폰번호를 형식에맞게 입력해주세요.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberPhone').focus();
					return false;
				}
								
				if($('#memberEmail').val() == ""){
					swal({
						title: "이메일을 입력 해주세요.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberEmail').focus();
					return false;
				}
				if(!getMail.test($('#memberEmail').val())){
					swal({
						title: "이메일을 형식에맞게 입력 해주세요.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberEmail').val("");
					$('#memberEmail').focus();
					return false;
				}
				if($('#memberAddress').val() == ""){
					swal({
						title: "주소를 입력 해주세요.",
						confirmButtonColor: '#304ffe'
					});
					$('#memberAddress').focus();
					return false;
				}
				
				return true;
			})
		});
			
		
		
		
		
		
		</script>
	</th:block>
	
	<th:block layout:fragment="customContents"  th:with="m = ${member}">
	
	
		<form th:action="@{/member/modifyMember}" method="post">
			<div class="container-fluid">
				<div class="row" >
					<div class="
					col-lg-offset-3 col-lg-6
					
					">
					
						<div class="box-content" style="border: 2px solid #3BBD5A" >
							<div class="box-content t-center important-col" style="border-bottom : 2px solid gray;" >
								<h3>회원수정</h3>
							</div>
							<div class="panel-body" >
								<div class="form-horizontal">
									<div class="form-group">
										<label for="memberId" class="col-sm-2 control-label" ><strong>아이디</strong></label>
									    <div class="col-sm-10">
									      <input type="text" size="15" class="form-control" name="memberId" id="memberId" readonly="readonly" th:value="${m.memberId}" >
									    </div>				   					   
									</div>
									<div class="form-group">
										<label for="memberPw" class="col-sm-2 control-label"><strong>비밀번호</strong></label>
									    <div class="col-sm-10">
									      <input type="password" size="15" class="form-control" name="memberPw" id="memberPw" th:value="${m.memberPw}" placeholder="4~12자의 영문 대소문자와 숫자로만 입력">
									    </div>
									</div>
									<div class="form-group">
										<label for="memberPwCheck" class="col-sm-2 control-label"><strong>비밀번호확인</strong></label>
									    <div class="col-sm-10">
									      <input type="password" size="15" class="form-control" name="memberPwCheck" id="memberPwCheck" th:value="${m.memberPw}" placeholder="비밀번호확인">
									    </div>
									</div>
								
				
									<div class="form-group">
										<label for="memberPhone" class="col-sm-2 control-label"><strong>휴대폰번호</strong></label>
									    <div class="col-sm-10">
									      <input type="tel" size="12" class="form-control" name="memberPhone" id="memberPhone" th:value="${m.memberPhone}" placeholder="000-0000-0000">
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL == '관리자'}">
										<label  class="col-sm-2 control-label"><strong>권한</strong></label>
									    <div class="col-sm-10">
									      <select id="levelCode" name="levelCode" class="form-control">
									      	<option th:each="l : ${levelList}" th:value="${l.levelCode}" th:text="${l.levelName}"></option>
									      	
									      </select>
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL != '관리자'}">
									   	 <input type="text" class="form-control" name="levelCode" id="levelCode" th:value="${m.levelCode}" hidden="">
									   
									</div>
								
					
									<div class="form-group">
										<label for="memberEmail" class="col-sm-2 control-label"><strong>이메일</strong></label>
									    <div class="col-sm-10">
									      <input type="email" class="form-control" name="memberEmail" id="memberEmail" th:value="${m.memberEmail}" placeholder="test@email.com">
									    </div>
									</div>
									<div class="form-group">
										<label for="memberAddress" class="col-sm-2 control-label"><strong>주소</strong></label>
									    <div class="col-sm-10">
									      <input type="text" class="form-control" name="memberAddress" id="memberAddress" th:value="${m.memberAddress}" placeholder="Address">
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL == '관리자'}">
									    <label class="col-sm-2 control-label"><strong>상태</strong></label>
									    <div class="col-sm-10">
									      <select id="memberStatus" name="memberStatus" class="form-control">
									      	<option value="정상">:: 정상 ::</option>
									      	<option value="정지">:: 정지 ::</option>
									      	<option value="휴면">:: 휴면 ::</option>
									      	
									      </select>
									    </div>
									</div>
									<div class="form-group" th:if="${session.SLEVEL != '관리자'}">
									   	 <input type="text" class="form-control" name="memberStatus" id="memberStatus" th:value="${m.memberStatus}" hidden="">
									   
									</div>
									<hr>
									<div class="form-group">
										<div class="col-sm-10 col-sm-offset-1">
											<button type="submit" id="addCheck" class="btn btn-success btn-rounded btn-bordered waves-effect waves-light" style="margin-top: 10px; margin-bottom: 15px;">수정완료</button>
											<a th:href="@{/member/getMember}" ><button type="button" class="btn btn-success btn-rounded btn-bordered waves-effect waves-light">수정취소</button></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</th:block>
	
	

</html>