<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>자유게시판</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		<a th:href="@{/member/getFreeBoard}">자유게시판</a>-게시물보기
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<style>
			
			
			.blockquote {
			    background: #eee;
			    border-radius: 5px;
			    margin: 10px 0;
			}
			
			.blockquote {
			    padding: 20px;
			}

			
			[contenteditable='true'] {
			    caret-color: red;
			}
			
			.dropdown-menu{
			
				left: 87% !important;
				top: 20px !important;
				min-width :0px !important ;
			}
			textarea{
			 width: 100%;
			 height: 20px;
			}			
		</style>
		
	</th:block>
	
	<th:block layout:fragment="customContents" th:with="b = ${board}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8">
				<div class="box-content" >
						<div  class="dropdown js__drop_down">
							<a th:if="${session.SID != null}" href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a th:if="${b.boardId != session.SID}" th:href="@{/member/addReport(memberId=${b.boardId})}">신고</a></li>
								<li><a th:if="${b.boardId == session.SID}" th:href="@{/member/modifyFreeBoard(boardNum=${b.boardNum})}">수정</a></li>
								<li><a th:if="${b.boardId == session.SID or '관리자' == session.SLEVEL}" class="removeFreeBoard" th:data-boardNum="${b.boardNum}" th:href="@{#}">삭제</a></li>
							</ul>
						</div>
						
						<div style="text-align: center;" class="data" th:data-val="${b.boardNum}">
							<h3 th:text="${b.boardTitle}"></h3>	
							<div style="text-align: left; border-bottom : solid 1px;" >
								<div class="">
								작성자:<span th:text="${b.memberName}" ></span>	
								</div>
								<div class="" style="text-align: right;">
								조회수:<span  th:text="${b.boardGetNum}"></span>
								</div>
							</div>
						</div>
						
						<div style="text-align: right; margin-bottom: 10px;" >
							<strong>첨부파일 : </strong>
			                <a th:if="${b.boardFile != null}" class="card-text"  th:text="${b.boardFileName}" download th:href="@{/assets/images/}+${b.boardFile}" ></a><p th:if="${b.boardFileSize > 0}" th:text="'('+${b.boardFileSize}+'KB)'"></p>
							
						</div>
						
						<div style="text-align: center;">
							<h2 th:text="${b.boardContent}"></h2>
						</div>
						
					
						
						<div style="margin-top: 300px; border-bottom : solid 1px;"> 					
			              	  등록일:<span th:text="${b.boardDate}"></span>
							 
						</div>
						<div>
						<div class="box-content" >
							<ul th:each="c : ${commentList}">
								<li class ="col-xs-12" style = "margin-bottom: 15px;" >
							
								
									<div class="col-sm-11 col-xs-11" >
									<span class ="" th:text="${c.memberId}"></span>
									<small class ="" th:text="${'('+c.commentsDate+')'}"></small>
									
									</div>
									<div>
										<a th:if="${session.SID != null}" href="#" class="dropdown-toggle glyphicon glyphicon-option-vertical " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></a>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<li><a th:if="${session.SID != c.memberId }" th:href="@{/member/addReport(memberId=${c.memberId})}">신고</a></li>
											<li><a th:if="${session.SID == c.memberId or session.SID == b.boardId or '관리자' == session.SLEVEL}" class="removeComment" th:data-val="${c.commentsNum}">삭제</a></li>
										</ul> 
									</div>
									
									<span class ="col-sm-12 col-xs-12" style="margin-top: 5px;" th:text="${c.commentsContent}"></span> 
									
									
									
								
								</li>																			
																								
							</ul>		
						</div>
						</div>
						
						<div th:if="${session.SID != null}" class="box-content" >
						<strong >댓글 입력</strong>
							<div >
								<div class="blockquote comment" contenteditable="true">
								    
								</div>
								<div style="text-align: right;">
									<button type="button" class="btn btn-success btn-rounded waves-effect waves-light" id="commentBtn" >댓글등록</button>
								</div>
							</div>
						</div>
						
						<a class="btn btn-success btn-rounded waves-effect waves-light" th:href="@{/member/getFreeBoard}" >목록</a>
						
				</div>
			</div>				
		</div>
	</div>

	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		
		 $("#commentBtn").click(function() {
			 var comment = $('.comment').text();
		 	 var boardNum = $('.data').attr('data-val');
							
		 		 if (comment == "") {
				 swal({
						title: "내용을 입력해주세요.",
						confirmButtonColor: '#304ffe',
					});
				 
				 }else {		
					$.ajax({
						type : 'post',
						url : '/member/addComment',
						data : 	{comment:comment,
								boardNum:boardNum},
						dataType :'json',
						success: function(data){
							
							swal({
								title: "댓글등록 "+data.msg,
								confirmButtonColor: '#304ffe',
							});
					
							location.reload();
						}
					});						
				} 
			});
		 
		 $(".removeComment").click(function() {
			
		 	 var commentsNum = $(this).attr('data-val');
		 	 var boardNum = $('.data').attr('data-val');
		 	 console.log(commentsNum);
				$.ajax({
					type : 'post',
					url : '/member/removeComment',
					data : {commentsNum:commentsNum},
					dataType :'json',
					success: function(data){
		
							swal({
									title: "댓글삭제 "+data.msg,
									confirmButtonColor: '#304ffe',
							});
						
							location.reload();
						
					}
				});						

			});
		 
		
		 $('.removeFreeBoard').click(function(){
	    	  var boardNum = $(this).attr("data-boardNum");
	   
				swal({   
					title: "정말 삭제하시겠습니까?",   
					text: "삭제시 복구불가",   
					type: "warning",   
					showCancelButton: true,   
					confirmButtonColor: "#DD6B55",   
					confirmButtonText: "삭제!", 
					cancelButtonText: "취소!", 
					closeOnConfirm: false,
					closeOnCancel: true,
					confirmButtonColor: '#f60e0e',
				},function(isConfirm){   
					if (isConfirm) {     
						location.href = "/member/removeFreeBoard?boardNum="+boardNum;
					}
				});
		 })
			
		</script>
	</th:block>

</html>