<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>자유게시판</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		자유게시판
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="box-content" style="margin-top: 20px">
		<h3>자유게시판</h3>
		<small style="color: red;">오른쪽 상단 *** 클릭시 글쓰기&내 게시물보기 --></small>
		
		<hr>
		<div th:if="${session.SID != null}" class="dropdown js__drop_down">
			<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
			<ul class="sub-menu">
				<li><a th:href="@{/member/addFreeBoard}">글쓰기</a></li>
				<li><a th:href="@{/member/getMyFreeBoard}">내 게시물보기</a></li>		
			</ul>
			<!-- /.sub-menu -->
		</div>
		<table id="board" class="table" style="width:100%">
			<thead>
				<tr>
					<th >번호</th>
					<th >제목</th>
					<th >작성자</th>
					<th >작성일</th>
					<th >조회수</th>
				</tr>		
			</thead>
			<tbody>
				<tr th:each="b : ${boardList}" class="boardTitle" th:data-boardNum="${b.boardNum}" th:data-boardGetNum="${b.boardGetNum}">
					<td th:text="${b.boardNum}" ></td>
					<td th:text="${b.boardTitle}" ><a></a></td>
					<td th:text="${b.memberName}"></td>   
					<td th:text="${b.boardDate}"></td>     
					<td th:text="${b.boardGetNum}"></td>			
				</tr>
			</tbody>
		</table>
		
		</div>

	</th:block>
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>	
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "게시물이 없습니다",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 게시물 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 게시물이 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
		}
		
		$('#board').sysDataTable(lang_kor);
		
		
		$('.boardTitle').click(function(){
			var boardNum = $(this).attr("data-boardNum");
			var boardGetNum = $(this).attr("data-boardGetNum");
			location.href = "/member/getBoard?boardNum="+boardNum+"&&boardGetNum="+boardGetNum;
		})
		
		</script>
	</th:block>

</html>