<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>품목 관리</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		품목 관리
	</th:block>
	
	<th:block layout:fragment="customCssLib">
		<!-- Jquery UI -->
		<link rel="stylesheet" th:href="@{/assets/plugin/jquery-ui/jquery-ui.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/jquery-ui/jquery-ui.structure.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/jquery-ui/jquery-ui.theme.min.css}">
		
		<!-- Data Tables -->
		<link rel="stylesheet" href="/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
	</th:block>
	
	<th:block layout:fragment="customCss">
		<style type="text/css">
			.box-content.card.white .box-title{background-color: #F5F5F5;}
			hr{border-bottom: 1px solid grey;};
			.pl-0{padding-right: 0px;}
			small{font-size: 100%;}
			.form-control[readonly]{background-color: #F5F5F5;}
			table a{color: #1d84df !important; cursor: pointer;}
			.table-responsive table th, td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}​
			.table-responsive table{table-layout:fixed}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
	
		<div class="container-fluid">
		    <div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<div class="pull-left">
							<div style="font-size: 24px;">품목 조회</div>
						</div>
						<div class="pull-right">
							<button type="button" th:value="|/plan/addPlanStockItem?farmCode=${farmCode}|" onclick="moveAddSpend(this)" class="btn btn-primary btn-md waves-effect waves-light btn-rounded">
									품목 등록
							</button>
						</div>
						<div style="margin-top: 6px;">
							<small style="color: red; margin-left: 6px;"></small>
						</div>
						<hr/>
						<div class="table-responsive">
							<table id="stockItemTable" class="table table-striped table-bordered display" style="width:100%">
								<thead>
									<tr>
										<th class="hidden">품목코드</th>
										<th class="hidden">농가코드</th>
										<th class="hidden">카테고리코드</th>
										<th>카테고리명</th>
										<th>품목명</th>
										<th>품목수량</th>
										<th>수량단위</th>
										<th>품목용량</th>
										<th>용량단위</th>
										<th>수정</th>
										<th>삭제</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${#lists.size(farmStockItemList) > 0}" th:each="fs : ${farmStockItemList}">
										<tr>
											<td th:text="${fs.stockItemCode}" class="hidden"></td>
											<td th:text="${fs.farmCode}" class="hidden"></td>
											<td th:text="${fs.stockCate.stockCateCode}" class="hidden"></td>
											<td th:text="${fs.stockCate.stockCateName}"></td>
											<td th:text="${fs.stockItemName}"></td>
											<td th:text="${fs.stockItemQuantity}"></td>
											<td th:text="${fs.stockItemQuantityUnit}"></td>
											<td th:text="${fs.stockItemQuantityCapacity}"></td>
											<td th:text="${fs.stockItemQuantityCapacityUnit}"></td>
											<td>
												<a th:href="|/plan/modifyPlanStockItem?farmCode=${farmCode}&stockItemCode=${fs.stockItemCode}|">수정</a>
											</td>
											<td>
												<a th:href="|/plan/removePlanStockItem?farmCode=${farmCode}&stockItemCode=${fs.stockItemCode}|">삭제</a>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	
	<th:block layout:fragment="customScriptLib">
		<!-- Data Tables -->
		<script src="/assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="/assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
		<script src="/assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
		<script src="/assets/scripts/datatables.demo.min.js"></script>
		<script src="/assets/sys/myDataTable.js"></script>
	</th:block>
	
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
			
			function moveAddSpend(btn){
				location.href = btn.value;
			};
			
			var lang_kor = {
			        "decimal" : "",
			        "emptyTable" : "등록된 정보가 없습니다",
			        "info" : "_START_ - _END_",
			        "infoEmpty" : "0",
			        "infoFiltered" : "(전체 _MAX_검색결과)",
			        "infoPostFix" : "",
			        "thousands" : ",",
			        "lengthMenu" : "_MENU_ 개씩 보기",
			        "loadingRecords" : "로딩중...",
			        "processing" : "처리중...",
			        "search" : "검색 : ",
			        "zeroRecords" : "검색된 정보가 없습니다.",
			        "paginate" : {
			            "first" : "첫 페이지",
			            "last" : "마지막 페이지",
			            "next" : "다음",
			            "previous" : "이전"
			        },
			        "aria" : {
			            "sortAscending" : " :  오름차순 정렬",
			            "sortDescending" : " :  내림차순 정렬"
			        }
			}
			
			$('table').DataTable({
				language : lang_kor
			});
			
		</script>
	</th:block>
	
</html>