<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>문의게시판</title>
	</th:block>
	<th:block layout:fragment="pageTitle">
		문의
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">

	<div class="box-content" style="margin-top: 20px">
		<h3>1:1 문의</h3>
		<hr>
		<form th:action="@{/board/qnaModify}" method="post" >
			<input class="form-control" type="text" th:value="${BoardVO.code}" name ="code"readonly >
			<input type="hidden" th:value="${BoardVO.title}" name ="title">
			<input type="hidden" th:value="${BoardVO.email}" name ="email">
			<input type="hidden" th:value="${BoardVO.content}" name ="content">
			<table class="table">
				<tr>
					<td class="">제목</td>
					<td th:text="${BoardVO.title}"></td>
				</tr>
				<tr height="30">
					<td class="">작성자</td>
					<td th:text="${BoardVO.regMemberId}"></td>
				</tr>
				<tr height="30">
					<td class="">연락처</td>
					<td th:text="${BoardVO.phoneNum}"></td>
				</tr>
				<tr height="30">
					<td class="">이메일</td>
					<td><a th:href="@{mailto:${BoardVO.email}}">[[${BoardVO.email}]]</a></td>
				</tr>
				<tr height="30">
					<td class="">작성일자</td>
					<td th:text="${BoardVO.regDate}"></td>
				</tr>
				<!-- 글 내용 -->
				<tr height="180">
					<td colspan="2" class="" width="100%" >
						<h3 style="text-align: center;">문의</h3>
						<div th:text="${BoardVO.content}">
							
						</div>
					</td>
				</tr>
				
				<tr height="180">
					<td colspan="2" class="" width="100%" >
						<h3 style="text-align: center;">답변</h3>
						<textarea class="form-control" id="content" name="conAnswer" th:text = "${BoardVO.conAnswer}"style="resize: none;  height: 500px; width: 100%;" >
						</textarea>
					</td>
				</tr>
			</table >
			<ul class="list-inline">
				<li class="margin-bottom-10">
					<a th:href="@{/board/qnaList}" class="btn btn-success btn-bordered waves-effect waves-light">
						<strong>목록</strong>
					</a>
				</li>
				<li>
						<button type="submit" class="btn btn-success btn-bordered waves-effect waves-light">
							<strong>확인</strong>
						</button>
				</li>
			</ul>
		</form>
	</div>
	</th:block>

</html>