<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>문의게시판</title>
	</th:block>
	<th:block layout:fragment="pageTitle">
		문의
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">

	<div class="box-content" style="margin-top: 20px">
		<h3>1:1 문의</h3>
		<hr>
		<form th:action="@{/board/qnaModify}" method="post" >
			<input class="form-control" type="text" th:value="${BoardVO.code}" name ="code"readonly >
			<input type="hidden" th:value="${BoardVO.title}" name ="title">
			<input type="hidden" th:value="${BoardVO.email}" name ="email">
			<input type="hidden" th:value="${BoardVO.content}" name ="content">
			<table class="table">
				<tr>
					<td class="">제목</td>
					<td th:text="${BoardVO.title}"></td>
				</tr>
				<tr height="30">
					<td class="">작성자</td>
					<td th:text="${BoardVO.regMemberId}"></td>
				</tr>
				<tr height="30">
					<td class="">연락처</td>
					<td th:text="${BoardVO.phoneNum}"></td>
				</tr>
				<tr height="30">
					<td class="">이메일</td>
					<td><a th:href="@{mailto:${BoardVO.email}}">[[${BoardVO.email}]]</a></td>
				</tr>
				<tr height="30">
					<td class="">작성일자</td>
					<td th:text="${BoardVO.regDate}"></td>
				</tr>
				<!-- 글 내용 -->
				<tr height="180">
					<td colspan="2" class="" width="100%" >
						<h3 style="text-align: center;">문의</h3>
						<div  id="content" th:text="${BoardVO.content}">
							
						</div>
					</td>
				</tr>
				
				<tr height="180">
					<td colspan="2" class="" width="100%" >
						<h3 style="text-align: center;">답변</h3>
						<textarea class="form-control" id="conAnswer" name="conAnswer" th:text = "${BoardVO.conAnswer}"style="resize: none;  height: 500px; width: 100%;" ></textarea>
					</td>
				</tr>
			</table >
			<ul class="list-inline">
				<li class="margin-bottom-10">
					<a th:href="@{/board/qnaList}" class="btn btn-success btn-bordered waves-effect waves-light">
						<strong>목록</strong>
					</a>
				</li>
				<li>
					<button type="submit" id="addCheck" class="btn btn-success btn-bordered waves-effect waves-light">
						<strong>확인</strong>
					</button>
				</li>
			</ul>
		</form>
	</div>
	</th:block>
	<th:block layout:fragment="customJavaScript">
	<script type="text/javascript">
//공백검사
		$(function() {
			$('#addCheck').click(function() {
				if ($('#conAnswer').val() == "") {
					/* swal({
						title : "답변을 입력하세요."
					}); */
					var ans ="안녕하십니까. \n\n빠른답변을 드리지 못한점 진심으로 사과의 말씀을 드립니다. \n\n소중한 시간을 내어 보내주신 문의는 잘 받아보았습니다. \n\n현재 고객센터 이용자수가 많아 처리가 지연되고 있습니다. 빠른 시일내에 답변드리도록 하겠습니다. \n\n다른궁금한 점이 있으시면 언제든 1:1문의를  통하여 정성껏 답변드려 보다 도움이 되는 이지팜이 되겠습니다. \n\n감사합니다."
 					$('#conAnswer').val(ans);
//  					$('#conAnswer').append(ans)
// 					$('#conAnswer').focus();
					return $('#addCheck').submit();
				}

				return true;
			})
		});
	</script>
</html>