<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>문의게시판</title>
	</th:block>
	<th:block layout:fragment="pageTitle">
		1:1 문의
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
	
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="box-content">
			<h3>1:1 문의</h3>
			<hr>
			<!-- /.box-title -->
			
			<div class="card-content">
						<form data-toggle="validator" class="form-horizontal" method="post" th:action="@{/board/qnaInsert}">
							<div class="form-group">
								<label for="title" class="col-sm-2 control-label"><strong>제목</strong></label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="title"  name="title" placeholder="제목을 입력해주세요" required>
								</div>
							</div>
							<div class="form-group">
								<label for="writer" class="col-sm-2 control-label">작성자</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="writer" name="regMemberId" placeholder="작성자 이름을 입력해주세요." required>
								</div>
							</div>
							<div class="form-group">
								<label  class="col-sm-2 control-label">휴대전화</label>
								<div class="col-sm-3">
									<input type="text" class="form-control phoneNum"  name="phoneNum" placeholder="010" required>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control phoneNum"  name="phoneNum"  placeholder="****" required>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control phoneNum" name="phoneNum"  placeholder="****" required>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail" class="col-sm-2 control-label">이메일</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="inputEmail"   name="email" placeholder="sample@ksmart.or.kr"  required>
								</div>
							</div>
							
							<div class="form-group">
								<label for="content" class="col-sm-2 control-label">내용</label>
								<div class="col-sm-9">
									<textarea class="form-control" id="content"  name="content" placeholder="내용을 입력해주세요" style="resize: none;  height: 350px; width: 100%;" required></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-sm-2 control-label">비밀번호</label>
								<div class="col-sm-9">
									<input type="password" data-minlength="6" class="form-control" id="inputPassword" name="password"  placeholder="Password" required>
									<div class="help-block">최소 6자리 이상 입력하세요</div>
								</div>
							</div>
							<div class ="form-group t-center">
								<a th:href="@{/board/qnaList}" class="btn btn-success btn-bordered waves-effect waves-light">목록</a>
								<button type="submit" id="btn" class="btn btn-success btn-bordered waves-effect waves-light">등록</button>
							</div>
						</form>
					</div>
		</div>
		
		
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
			
			/* $('#password').on('keydown',function(t){
				console.log(t.key);
				
				var obj = /^[0-9]$/;
				//console.log(obj.test($(this).val()));
				//if(!obj.test($(this).val())) return false;
				
				//if($(this).val().length > 4) return false;
				
			
			}) */
			$('#btn').click(function(){
				
			})
		</script>
		<!-- Validator -->
	<script src="/assets/plugin/validator/validator.min.js"></script>
	<script src="/assets/scripts/main.min.js"></script>
	</th:block>

</html>