<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>문의게시판</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		고객센터
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
		<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="box-content" style="margin-top: 20px">
		<h3>1:1 문의</h3>
		<hr>
		<div class="dropdown js__drop_down">
			<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
			<ul class="sub-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else there</a></li>
				<li class="split"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
			<!-- /.sub-menu -->
		</div>
		<table id="test" class="table" style="width:100%">
			<thead>
				<tr>
					<th scope="col" class="text-center">번호</th>
					<th scope="col" class="text-center">제목</th>
					<th scope="col" class="text-center">글쓴이</th>
					<th scope="col" class="text-center">작성일</th>
					<th scope="col" class="text-center">조회수</th>
				</tr>		
			</thead>
			<tbody>
				<tr>
					<td >st.카운트</td>
					<td ><a th:href="@{/board/qnaDetail}">기본을비밀글로 설정, 관리자답변은 RE:리플로달리게, 관리자는 모든글을 볼수있고 관리자가 아니라면 비밀번호를 입력하여 글보기</a></td>
					<td  class="text-center">이름받아오기</td>   
					<td  class="text-center">등록날짜</td>     
					<td class="text-center">조회수 자동카운트</td>
					
				</tr>
				<tr>
					<td>st.카운트</td>
					<td>
						<!-- 게시물 제목, 답글에 대한 인덴트 적용 -->
						<a class="text-reset" href="">@{/board/qnaDetail(code=${detail.code})}</a><br><br>
						if (list[i].getBdIndent() > 0) {<br>
							for (int j = 0; j < list[i].getBdIndent(); j++) {<br>
							& nbsp & nbsp & nbsp & nbsp<br>
							}<br>
						└ re:& nbsp<br>
						}<br>
					</td>
					<!-- 작성자, 작성일, 조회수 -->
					<td class="">%=list[i].getBdUserID()%>		</td>
					<td class="">%=list[i].getBdDate()%>		</td>
					<td class="">%=list[i].getBdViewCount()%>	</td>
				</tr>
		<!-- 	<tr th:if="${#lists.size()} > 0" th:each="l, st:${}">
					<td th:text="${st.count}"></td>
				</tr>
				<tr th:unless="${#lists.size()} != 0">
					<td colspan="10" style="text-align: center;">조회된 내용이 없습니다.</td>
				</tr> -->
			</tbody>
		</table>
		</div>
	<div class="box-content">
		<ul class="list-inline">
			<li ><a th:href="@{/board/qnaInsert}"><button type="button" class="btn btn-success btn-bordered waves-effect waves-light"><strong>글쓰기, @{/컨트롤러경로(글코드=${list.글코드 /*겟방식전달*/})}</strong></button></a> </li></br>
		</ul>		
	</div>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>	
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
		<script type="text/javascript">
		var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "내 농가가 없습니다",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 농가 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 농가가 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
		}
		
		$('#test').sysDataTable(lang_kor);
		
		</script>
	</th:block>

</html>