<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>문의게시판</title>
</th:block>
	<th:block layout:fragment="pageTitle">
		문의
	</th:block>

<!-- 사용자 정의 css 라이브러리 -->
<th:block layout:fragment="customCssLib">
	<!-- Data Tables -->
	<link rel="stylesheet"
		th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
	<link rel="stylesheet"
		th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
</th:block>

<th:block layout:fragment="customContents">
	<div class="box-content" style="margin-top: 20px">
		<h3>1:1 문의</h3>
		<hr>
		<table class="table">
			<tr>
				<td class="">제목</td>
				<td th:text="${BoardVO.title}"></td>
			</tr>
			<tr height="30">
				<td class="">작성자</td>
				<td th:text="${BoardVO.regMemberId}"></td>
			</tr>
			<tr height="30">
				<td class="">연락처</td>
				<td th:text="${BoardVO.phoneNum}"></td>
			</tr>
			<tr height="30">
				<td class="">이메일</td>
				<td><a th:href="@{mailto:${BoardVO.email}}">[[${BoardVO.email}]]</a></td>
			</tr>
			<tr height="30">
				<td class="">작성일자</td>
				<td th:text="${BoardVO.regDate}"></td>
			</tr>
			<!-- 글 내용 -->
			<tr height="180">
				<td colspan="2" class="" width="100%" >
					<h3 style="text-align: center;">문의</h3>
					<div th:text="${BoardVO.content}">
						
					</div>
				</td>
			</tr>
			<tr height="180" th:hidden="${BoardVO.conAnswer == null}">
				<td colspan="2" class="" width="100%" >
					<h3 style="text-align: center;">답변</h3>
					<div th:text="${BoardVO.conAnswer}">
						
					</div>
				</td>
			</tr>
		</table >
	</div>
	<div class="box-content">
		<ul class="list-inline">
			<li class="margin-bottom-10"><a th:href="@{/board/qnaList}"><button
						type="button"
						class="btn btn-success btn-bordered waves-effect waves-light">
						<strong>목록</strong>
					</button></a></li>
			<li th:if ="${session.SLEVEL == '관리자'}"><a th:href="@{/board/qnaModify(code=${BoardVO.code})}">
				<button type="button" class="btn btn-success btn-bordered waves-effect waves-light">
					<strong th:if="${BoardVO.conAnswer == null}">답변</strong>
					<strong th:unless="${BoardVO.conAnswer == null}">수정</strong>
				</button></a>
			</li>
		</ul>
	</div>
</th:block>

<!-- 사용자 정의 자바스크립트 라이브러리 -->
<th:block layout:fragment="customScriptLib">
	<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>
</th:block>

<!-- 사용자 정의 자바스크립트 -->
<th:block layout:fragment="customJavaScript">
	<script type="text/javascript">
		var lang_kor = {
			"decimal" : "",
			"emptyTable" : "내 농가가 없습니다",
			"info" : "_START_ - _END_ (총 _TOTAL_ 명)",
			"infoEmpty" : "0명",
			"infoFiltered" : "(전체 _MAX_ 농가 중 검색결과)",
			"infoPostFix" : "",
			"thousands" : ",",
			"lengthMenu" : "_MENU_ 개씩 보기",
			"loadingRecords" : "로딩중...",
			"processing" : "처리중...",
			"search" : "검색 : ",
			"zeroRecords" : "검색된 농가가 없습니다.",
			"paginate" : {
				"first" : "첫 페이지",
				"last" : "마지막 페이지",
				"next" : "다음",
				"previous" : "이전"
			},
			"aria" : {
				"sortAscending" : " :  오름차순 정렬",
				"sortDescending" : " :  내림차순 정렬"
			}
		}

		$('#test').sysDataTable(lang_kor);
	</script>
</th:block>

</html>