<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>문의게시판</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		고객센터
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
	<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="box-content" style="margin-top: 20px">
		<h3>1:1 문의</h3>
		<hr>
		<div class="dropdown js__drop_down">
			<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
			<ul class="sub-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else there</a></li>
				<li class="split"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
			<!-- /.sub-menu -->
		</div>
		<table id="test">
			<thead>
				<tr>
					<th scope="col" class="text-center hidden">번호</th>
					<th scope="col" class="text-center">번호</th>
					<th scope="col" class="text-center">제목</th>
					<th scope="col" class="text-center">작성자</th>
					<th scope="col" class="text-center">작성일</th>
					<th th:if = "${session.SLEVEL == '관리자'}">삭제</th>
					<th>상태</th>
				</tr>		
			</thead>
			<tbody>
			<!--DB에서 리스트 불러오기 연결  -->
				<tr th:if="${#lists.size(selectBoardList)} > 0" th:each="l,index:${selectBoardList}">
					<td th:text="${l.code}"class ="code hidden"></td>
					<td th:text="${index.count}" class =""></td>
					<td class = "test3" >
					 <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> [[${l.title}]]
                    </td>
					<td th:text="${l.regMemberId}"></td>
					<td th:text="${l.regDate}"></td>
					<td th:if = "${session.SLEVEL == '관리자'}">
						<a th:href="@{/board/removeQnaList}">삭제</a>		
					</td>
					<td th:if ="${l.conAnswer == null}" style="color: red">
						답변대기
					</td>
					<td th:if ="${l.conAnswer != null}" style="color: blue">
						답변완료
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	<div class="box-content">
		<ul class="list-inline">
<!-- 		, @{/컨트롤러경로(글코드=${list.글코드 /*겟방식전달*/})} -->
			<li ><a th:href="@{/board/qnaInsert}"><button type="button" class="btn btn-success btn-bordered waves-effect waves-light"><strong>글쓰기</strong></button></a> </li></br>
		</ul>		
	</div>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>	
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
	<script type="text/javascript">
		var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "내 농가가 없습니다",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 농가 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 농가가 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
		}
		
		$('#test').sysDataTable(lang_kor);
		
		$('.test3').click(function(){
			var userLevel = '[[${session.SLEVEL}]]';
			var code=$(this).parent().children('.code').text();
			
			if(userLevel == '관리자'){
				location.href = "/board/qnaboarddetail?code="+code;	
			}else{
				
				swal({
					title:"비밀번호 확인",
					type: "input",   
					showCancelButton: true,
					inputPlaceholder: "비밀번호를 입력해주세요" ,
					confirmButtonText: "확인", 
					cancelButtonText: "취소",	
					closeOnConfirm: false,
					closeOnCancel: true
				},function(inputValue){
					$.ajax({
						url : "/ajax/passCheck",
						method : "POST",
						data : {
							code : code,
							password:inputValue
						},
						success : function(data) {
							if(data){
								location.href = "/board/qnaboarddetail?code="+code;		
							}
							else{
								swal({title:'비밀번호가 올바르지 않습니다.'});
							}
						},
						error : function(xhr, status, error) {
							console.log('xhr : ' + xhr);
							console.log('status : ' + status);
							console.log('error : ' + error);
						}
					});
				})
			}
			
		})
		
		</script>
	</th:block>

</html>