<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>문의게시판</title>
	</th:block>
	
	<th:block layout:fragment="pageTitle">
		고객센터
	</th:block>
	
	<!-- 사용자 정의 css 라이브러리 -->
	<th:block layout:fragment="customCssLib">
	<!-- Data Tables -->
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/sys/sysStyle.css}">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="box-content" style="margin-top: 20px">
		<div class="pull-left">
			<div style="font-size: 24px;">1:1 문의</div>
		</div>
		<div class="pull-right">
			<a th:href="@{/board/qnaInsert}"  class="btn btn-primary btn-sm waves-effect waves-light btn-rounded btnSize">
				글쓰기
			</a>
		</div>
		<div style="margin-top: 6px;">
			<small style="color: red; margin-left: 6px;"></small>
		</div>
		<hr>
		<table id="test">
			<thead>
				<tr>
					<th scope="col" class="text-center hidden">번호</th>
					<th scope="col" class="text-center">번호</th>
					<th scope="col" class="text-center">제목</th>
					<th scope="col" class="text-center">작성자</th>
					<th scope="col" class="text-center">작성일</th>
					<th th:if = "${session.SLEVEL == '관리자'}">삭제</th>
					<th>상태</th>
				</tr>		
			</thead>
			<tbody>
			<!--DB에서 리스트 불러오기 연결  -->
				<tr th:if="${#lists.size(selectBoardList)} > 0" th:each="l,index:${selectBoardList}">
					<td th:text="${l.code}"class ="code hidden"></td>
					<td th:text="${index.count}" class =""></td>

					<td class = "test3" >
					 <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> [[${l.title}]]
                    </td>
					<td th:text="${l.regMemberId}"></td>
					<td th:text="${l.regDate}"></td>
					<td th:if = "${session.SLEVEL == '관리자'}">
						<a th:href="@{/board/removeQnaBoard(code=${l.code})}">삭제</a>		
					</td>
					<td th:if ="${l.conAnswer == null}" style="color: red">
						답변대기
					</td>
					<td th:if ="${l.conAnswer != null && l.conAnswer !='안녕하십니까. 

빠른답변을 드리지 못한점 진심으로 사과의 말씀을 드립니다. 

소중한 시간을 내어 보내주신 문의는 잘 받아보았습니다. 

현재 고객센터 이용자수가 많아 처리가 지연되고 있습니다. 빠른 시일내에 답변드리도록 하겠습니다. 

다른궁금한 점이 있으시면 언제든 1:1문의를  통하여 정성껏 답변드려 보다 도움이 되는 이지팜이 되겠습니다. 

감사합니다.'}" style="color: blue">
						답변완료
					</td>
					<td th:if ="${l.conAnswer == '안녕하십니까. 

빠른답변을 드리지 못한점 진심으로 사과의 말씀을 드립니다. 

소중한 시간을 내어 보내주신 문의는 잘 받아보았습니다. 

현재 고객센터 이용자수가 많아 처리가 지연되고 있습니다. 빠른 시일내에 답변드리도록 하겠습니다. 

다른궁금한 점이 있으시면 언제든 1:1문의를  통하여 정성껏 답변드려 보다 도움이 되는 이지팜이 되겠습니다. 

감사합니다.'}" style="color: green">
						답변지연
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 라이브러리 -->
	<th:block layout:fragment="customScriptLib">
		<div th:replace="fragments/dataTable :: dataTable" th:remove="tag"></div>	
	</th:block>
	
	<!-- 사용자 정의 자바스크립트 -->
	<th:block layout:fragment="customJavaScript">
	<script type="text/javascript">
		
		
		
		$('.test3').click(function(){
			var userLevel = '[[${session.SLEVEL}]]';
			var code=$(this).parent().children('.code').text();
			
			if(userLevel == '관리자'){
				location.href = "/board/qnaboarddetail?code="+code;	
			}else{
				
				swal({
					title:"비밀번호 확인",
					type: "input",   
					showCancelButton: true,
					inputPlaceholder: "비밀번호를 입력해주세요" ,
					confirmButtonText: "확인", 
					cancelButtonText: "취소",	
					closeOnConfirm: false,
					closeOnCancel: true
				},function(inputValue){
					$.ajax({
						url : "/ajax/passCheck",
						method : "POST",
						data : {
							code : code,
							password:inputValue
						},
						success : function(data) {
							if(data){
								location.href = "/board/qnaboarddetail?code="+code;		
							}
							else{
								swal({title:'비밀번호가 올바르지 않습니다.'});
							}
						},
						error : function(xhr, status, error) {
							console.log('xhr : ' + xhr);
							console.log('status : ' + status);
							console.log('error : ' + error);
						}
					});
				})
			}
			
		})
		
		var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "내 문의가 없습니다",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 문의 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 문의가 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
		}
		
		$('#test').sysDataTable(lang_kor);
		
		
		</script>
	</th:block>

</html>